<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      《九份的咖啡馆》《千与千寻》《悲情城市》，说起这些，是否有令你想起一个美丽的城市呢？没错，就是台湾九份。陈绮贞歌里唱着浪漫，宫崎骏妙笔生花，他们把这座城市描绘得如此美丽，不如亲自去体验一番。大鱼和你一起游九份。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">交通</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';">       从台湾各个城市前往九份，台铁是最便捷的交通方式，全天有多趟列车经过瑞芳站。购买台铁票可以选择在台湾各车站或者</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">7-11购买。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-0.jpg" title="台湾九份旅游攻略_图片_0" width="500" height="332" border="0" style="width: 500px; height: 332px;" alt="台湾九份旅游攻略_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从瑞芳火车站到九份最常见的交通方式是搭乘基隆客运，行车时间20~30分钟。      </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">（1）基隆客运825（ 瑞芳←→金瓜石）      </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从瑞芳火车站，坐到旧道站上车；收费方式：一段票收</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">（2）基隆客运788（基隆－瑞芳－九份－金瓜石）

    </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从瑞芳火车站，坐到九份老街上车，金瓜石发车时间为05:45~21:35；      </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">尖峰行车间隔：10~15分钟；离峰行车间隔：15~25分钟。


    </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">（3）基隆客运1062（台北中仑 - 中山高 - 金瓜石）

    </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从瑞芳火车站上车坐到九份老街，两站即到。      </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">平常日金瓜石发车：05:55~21:30；节假日金瓜石发车06:30~21:30；

    </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">尖峰行车间隔：15~20分钟；离峰行车间隔：20 ~30分钟。

    </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">收费方式：里程计费。<br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">住宿</span></strong></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">      来九份游玩一定要在当地民宿住一晚，这样才能看遍九份的日与夜，不枉此行。夜幕降临山城的点点灯光犹如天上的繁星，令人陶醉。</span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">住宿推荐：</span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">       <span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 112, 192);">九份爱的物语（豪华馆）</span></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 112, 192);">       <span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">地理位置绝佳，离九份老街非常近而且坐落在半山腰同时拥有山景和海景</span></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-1.jpg" title="台湾九份旅游攻略_图片_1" width="500" height="319" border="0" style="width: 500px; height: 319px;" alt="台湾九份旅游攻略_图片_1"></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">预定网址：<a href="/fishtrip/taiwan/jiufen/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/jiufen/</a> </span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">更多九份特色民宿预定就在：<a href="/fishtrip/taiwan/jiufen/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/jiufen/</a> </span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><br></span></strong></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">建议游玩时间</span></strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"></span></span><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><br></span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';">        一天</span><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><br></span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">行程安排</span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';">        在九份，你可以享受最悠闲的时光，在咖啡馆小憩，在高低不平的台阶中品味山城。夜晚不要忘了在高处远眺九份夜的美丽。</span><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><br></span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-2.jpg" title="台湾九份旅游攻略_图片_2" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="台湾九份旅游攻略_图片_2"></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-3.jpg" title="台湾九份旅游攻略_图片_3" alt="台湾九份旅游攻略_图片_3"></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="font-size: 16px;"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">九份美食推荐</span></strong></span><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">    </span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 112, 192);"><span style="font-family: 微软雅黑, 'Microsoft YaHei';">   </span>赖阿婆芋圆</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       来到九份尝尝竽圆几乎是必吃的美食之一，除了口感佳之外，它们的甜汤味道也很棒，若是点冰的会以小碎冰方式来处理；除了竽圆外，它们的地瓜圆也很好吃，建议点二合一来嚐嚐。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-4.jpg" title="台湾九份旅游攻略_图片_4" width="500" height="667" border="0" style="width: 500px; height: 667px;" alt="台湾九份旅游攻略_图片_4"></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"></span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 112, 192);">       阿妹茶楼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       竖崎路上，最火红的店家非阿妹茶楼莫属了，夜色中火红的阿妹茶楼招牌吸引着微凉夜裡每个 路人的目光，给予了些许暖意。走入阿妹茶楼，外观建筑带些中式又有融入日式建筑的风味，这裡不止台湾人爱来，连喜欢到九份一游的日本客人，都很多指名要到 阿妹茶楼感受台日中和的风味。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-99-5.jpg" title="台湾九份旅游攻略_图片_5" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="台湾九份旅游攻略_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">更多美食等着你去发掘！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><br></span></p>
      </div>