<div class="article__content article-richedit-content">
        <p><br></p>
<p><span id="_baidu_bookmark_start_15" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_17" style="display: none; line-height: 0px;">‍</span>电话：400-185-1616；<span id="_baidu_bookmark_end_18" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_16" style="display: none; line-height: 0px;">‍</span></p>
<p>地址：中正区中正区怀宁街1号2楼；</p>
<p>营业时间：24小时；</p>
<p>人均价格：350；</p>
<p>所属地区：中正区台北车站；</p>
<p>所在城市：台北；</p>
<p>点评评分：口味评分：7.4；环境评分：7.7；服务评分：7.6；</p>
<p style="text-align:center"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-1-0.jpg" width="960" height="540" border="0" title="怀宁旅店_图片_0" style="width: 960px; height: 540px;" alt="怀宁旅店_图片_0"></p>
<p><span id="_baidu_bookmark_start_11" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_13" style="display: none; line-height: 0px;">‍</span>怀宁旅店虽位于台北车站前，但保有相对的隐私与安全，<br style="box-sizing: border-box; color: rgb(155, 155, 155); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; font-size: 18px; line-height: 32px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255);">怀<span id="_baidu_bookmark_start_7" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_9" style="display: none; line-height: 0px;">‍</span>宁旅店坐拥地利之便，就是比别人多了一份的优势<span id="_baidu_bookmark_end_14" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_12" style="display: none; line-height: 0px;">‍</span><br style="box-sizing: border-box; color: rgb(155, 155, 155); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; font-size: 18px; line-height: 32px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255);">在怀宁旅店香软干净的床上，您会发现洽公或旅途疲累的时候，怀宁好净、好静。<span id="_baidu_bookmark_end_10" style="display: none; line-height: 0px;">‍</span><span style="color: rgb(155, 155, 155); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; font-size: 18px; line-height: 32px; text-align: center;  background-color: rgb(255, 255, 255);"><span id="_baidu_bookmark_end_8" style="display: none; line-height: 0px;">‍</span></span></p>
<p><br></p>
<p>住过的亲们这样评价：</p>
<p><br></p>
<p>鱼玩儿183516a08e：挺好找的，在台北车站附近，Z区地下街Z6或者Z4出口出来 就能看到怀宁街了，前台妹子很甜，服务态度也很好。 </p>
<p><br></p>
<p>鱼玩儿13883765c1：前台服务人员很热情！位置不错，离台北车站很近！</p>
<p><br></p>
<p>鱼玩儿130628d326：地理位置很方便 早餐发麦当劳早餐券。</p>
<p><br></p>
<p>鱼玩儿151425eac6：环境还不错 给做了免费的房间升级 出行十分方便。</p>
      </div>