<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-0.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_0" alt="牧场Villa—来垦丁发呆放牛羊_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">大家都知道垦丁的海是很美丽的，你是否知道垦丁还有一地辽阔如欧洲草原的美丽草原吗？蓝天下翠绿的草原上是放牧漫游的牛群，在垦丁牧场的尽头，就是专为恋人打造的牧场Villa。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-1.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_1" alt="牧场Villa—来垦丁发呆放牛羊_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">牧场Villa 是主人小邬哥和紫湄姊的第二个作品，同样延续爱情海名宿的风格，但是一个更专属于恋人的幸福空间。被莲花渠道环绕的牧场Villa就像一个与世隔绝的童话小碉堡，入口的手工木栅门呼应着牧场的主题，红酒瓶套成了路灯点亮夜里的浪漫，四间并排独立的Villa，每间仅限两人入住，天生就是专为恋人打造的假期空间。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">牧场的每个房间都很特别。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">「仲夏夜之梦」</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-2.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_2" alt="牧场Villa—来垦丁发呆放牛羊_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">有着自己专属的发呆庭和院子，室内室外都为恋人准备了专属浴缸，不管是一同在星空下泡澡，或是浸浴在心型的浴缸里缠绵，都是属于你们最奢华的享受。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">「爱恋幸福」</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-3.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_3" alt="牧场Villa—来垦丁发呆放牛羊_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">要你先踏着轻快的脚步越过莲花池畔才能入内，在小客厅自在随意地并肩而坐，望向落地门外的莲花池，简单的陪伴就是幸福。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">「深情密码」</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-4.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_4" alt="牧场Villa—来垦丁发呆放牛羊_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">用最媚人的紫色，性感你们的双人假期，浴缸旁撩人的流苏和大片的镜面墙仿佛更催促你们私密的甜蜜时光。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">「浪漫满屋」</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-76-5.jpg" title="牧场Villa—来垦丁发呆放牛羊_图片_5" alt="牧场Villa—来垦丁发呆放牛羊_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">给你双人对坐的秋千摇椅和鲜红欲滴的心型浴缸，屋外屋内都是最浪漫的恋人时光。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">心动来吗？叫上你的ta一起来吧！Villa房间查看和预订：<a href="/fishtrip/taiwan/kending/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/kending/</a></p>
<p><br></p>
      </div>