<div class="article__content article-richedit-content">
        <p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;"><strong style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">来看看我们给您推荐的清境农场一日游线路</span></strong></span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">上午——步道观赏风景</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">下午——小瑞士花园</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">第一站：六大特色步道</span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">清境农场内的六大步道，囊括了农场内的所有景观。您可以带着孩子在森林里呼吸新鲜的空气，远离雾霾污染，让身心来个舒畅；在农场畜牧中心近距离接触小动物，远离城市生活，回归大自然；在宽阔的草地上静静地观赏着日落，与家人一起的日子总是那么温馨浪漫。</span><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;">
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">翠湖步道－全程2300公尺，大片的茶园加上碧湖的景致；</span></p></li>
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">畜牧步道－全程500公尺，入口处是农场畜牧中心，让您以超近的距离接触的羊群牛群；</span></p></li>
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">柳杉步道－全程750公尺，柳杉群林是寻幽静谧，享受森林浴最佳去处；</span></p></li>
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">落日步道－全程1000公尺，是观落日美景的最佳地点；</span></p></li>
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">步步高升步道－全程1800公尺，顾名思义是拾阶而上的一条步道；</span></p></li>
<li><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">玛格丽特步道－全程600公尺，是六条步道中人气指数最高的，遍布白色法国菊玛格丽特，十分具有欧洲风情。</span></p></li>
</ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-116-0.jpg" title="好了，该打开这份游玩宝典了_图片_0" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="好了，该打开这份游玩宝典了_图片_0"></span></p>
<p><br></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px; color: rgb(0, 176, 240);">第二站：小瑞士花园</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">带着孩子来到“清境小瑞士花园”，这里以回归自然、凸显自然美景为方向，取欧洲童话故事为主题，共规划欧风花园、亲水镜湖、水中舞台、星光草坪、湖畔卧樱五大区块，营造瑞士童话城堡般的风情。满地的风车、缤纷的花朵、典雅的城堡建筑，让人们体验置身欧洲的美景，小朋友在这里也可以体验到公主、王子的生活。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-116-1.jpg" title="好了，该打开这份游玩宝典了_图片_1" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="好了，该打开这份游玩宝典了_图片_1"></span></p>
<p><br></p>
<p><br></p>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal; text-align: center;"><span style="box-sizing: border-box; color: rgb(0, 176, 240);"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">还可以试试特色活动</span></strong></span></p>
<p style="box-sizing: border-box;"><br></p>
<ul class=" list-paddingleft-2" style="box-sizing: border-box; margin-bottom: 11px; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><li><p style="box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei';">农场绵羊秀</span></strong></p></li></ul>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="box-sizing: border-box;">您和家人一定不要错过这个有趣的表演！</span>整个表演时间长达四十分钟左右，一开始牧羊人会带着毛绒绒、圆滚滚的绵羊出场，接着会以手语、口令及哨音的配合，驱使牧羊犬将脱队的羊只归队。将羊群赶进栅栏中，特别设计的分类篱，可任牧羊人开关活动，筛选出需要交配、打针或剪羊毛的羊只，并分别将其引进不同的围栏里；接着，从栅栏里挑选出一只待剪羊毛的羊只，最后，格兰展现剪羊毛的绝活，以10多秒的速度，就迅速将羊只的羊毛剪完。<span style="box-sizing: border-box;">这个活动肯定让您和家人留下美好的回忆。</span></span></p>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-116-2.jpg" title="好了，该打开这份游玩宝典了_图片_2" style="box-sizing: border-box; border: 0px; vertical-align: middle; max-width: 100%;" alt="好了，该打开这份游玩宝典了_图片_2"></span></p>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演时间：国定假日及每逢週六、日表演</span></p>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演时段：上午09：30、下午02：30各一场，每场约30分钟</span></p>
<p style="box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演地点：清境农场青青大草原内</span></p>
      </div>