<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-family: Times;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Times;   min-height: 19px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-0.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_0" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">说起铁道迷，你脑海里的第一印象可能是书呆子“谢耳朵”，他对火车和铁道的热爱可谓痴迷。如果他去日本，这些火车主题的酒吧正是绝佳的去处（假如他会去酒吧的话），好让他可以对心爱的火车夸夸其谈，而不会被人赶出门。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">日本也有众多的“铁道迷”，他们对日本新干线、城铁、地铁历史上每个型号的列车都如数家珍，而且能把整张轨道交通示意图背得滚瓜烂熟。所以这些火车酒吧的出现绝非偶然。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">说了这么久，来看看都有些啥火车主题酒吧。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">银座全景酒吧（Ginza Panorama）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-1.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_1" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">坐在吧台边喝酒，看着火车模型从眼前缓缓开过，是不是可以让火车爱好者们内心畅快？如果不够，吧台对面的巨大玻璃展示柜里还有700多个代售火车模型可以看（或买），爽吧？</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">既然是火车主题的，那提供的酒品自然也要和火车沾边。以“箱根特快”为主体命名的“浪漫号列车”、给新干线试行高速列车取个小名——“黄医生”鸡尾酒之类的，估计能让火车迷们心头为之一动吧。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">地址：东京中央区银座8-4-5, Hachikan大厦8楼</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">营业时间：周一至周五晚18：00—次日3:00;周六晚18:00—23:00</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">费用：每位收取座位费420日元(约26元人民币)。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">Kiha酒吧</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-2.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_2" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">Kiha酒吧有两大特色。第一，酒吧二楼就是一个活脱脱地地铁车厢，仿照东京地铁装潢，贴满墙的广告单、行人扶手带、事故紧急按钮和行李架，统统都有。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">第二，菜单上只写着罐装食品和杯装的日本清酒，借以营造一种“复古”的环境。不过别担心，罐头里装着的啥都有，猪肉、海鲜、咖喱饭……不会饿着的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-3.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_3" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">光顾酒吧的客人大多数是铁路御宅族，他们收藏着各种时期的火车时刻表和车票存根，如果你第一次光顾，表示出一丝兴趣，就极有可能会被他们拉着聊天。权当练练口语也不错。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">地址：东京中央区堀留町1-6-11，可在Ningyocho车站下车</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">营业时间：周一至周六晚18:00—23:30;周日不营业</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">迷你高铁（Little TGV）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-4.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_4" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">制服和御宅族是一对形影不离的CP。既然火车主题酒店的主要目标群体是御宅族，那怎么少得了有着身穿制服的服务员的酒店呢？而这家店又怎么能不开在秋叶原呢！</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">所以LittleTGV就诞生了。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">酒吧的墙上贴着火车照片和大事记年表，即使你分不清SL列车和JR列车(日本国有铁路)的区别，也没关系，穿着售票员制服的“女售票员们”非常乐意和你聊天。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">地址：东京千代田区秋叶原3-10-5，Isamiyadai 3大楼4层。可在秋叶原末宏町站下车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">营业时间：周一至周五14:00—23:00;周六和周日12：00—23:00。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">Mistral Bleu火车酒吧</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-5.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_5" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">Mistral Bleu是由真的火车改装而成的酒吧，也不知道这个车厢是怎么弄进大厦里的。酒吧位于六本木十字路口的ROI大厦一层，店门口张贴着美国乐队史密斯飞船的海报（估计你不认得，大鱼也不怎么认得），以显示酒吧的怀旧情怀。不过没关系，我们可以看看墙壁上涂得厚厚的世界各国的钱币。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">地址：东京六本木港区5-5-1，ROI大厦1层</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">营业时间：周一至周六18:00—次日5:00;周日不营业。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">蒸汽火车咖啡酒吧（Cafe &amp; Bar Steam Locomotive）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-166-6.jpg" title="铁道迷不可错过的东京五大火车主题酒吧_图片_6" alt="铁道迷不可错过的东京五大火车主题酒吧_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  "><strong>不是所有铁道迷都会爱去酒吧这种地方，对吧，特别是其中一些御宅族可能还不到法定喝酒年纪。所以有个咖啡厅酒吧很有必要。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">位于有乐町办公大楼，酒吧提供午饭加咖啡的经典搭配，结束一天工作的人们可以在此小聚，吃饭、聊天、放松放松。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">店内中心陈列着迷你铁道和东京著名景点东京塔的模型。似乎有点萌。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">地址：东京千代田区有乐町1-12-1，Shinyurakucho大厦1层，请在有乐町站下车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(50, 51, 51);  ">营业时间：周一至周五11:00—23:00;周六11:00—20:00;周日11:00—20:00</p>
<p><br></p>
      </div>