<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-0.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_0" alt="京都9小时旅馆——胶囊旅馆体验_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(84, 141, 212);">一个人背包旅行，或是想尝试不一样的住宿体验，那胶囊旅馆是不错的选择。如果目的地是京都，那大鱼就来推荐京都一家颇有超现实主义感的胶囊旅馆——京都9小时旅馆（Nine Hours Kyoto Hotel）。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-1.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_1" alt="京都9小时旅馆——胶囊旅馆体验_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都9小时旅馆位于京都热闹的河原町巷内，以黑白为主色调，设计风格简洁大方。细节之处尽显旅馆的用心。虽然叫9小时，但并不是只能住9小时，只不过要在早上10点之前退房。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-2.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_2" alt="京都9小时旅馆——胶囊旅馆体验_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-3.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_3" alt="京都9小时旅馆——胶囊旅馆体验_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;">概览</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-4.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_4" alt="京都9小时旅馆——胶囊旅馆体验_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;">盥洗室</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;"><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-5.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_5" alt="京都9小时旅馆——胶囊旅馆体验_图片_5"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;">休息室</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;"><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">男生、女生客房位于独立的分开楼层，就算是女孩子一个人旅行，安全也是有保障的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-6.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_6" alt="京都9小时旅馆——胶囊旅馆体验_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都九小时客房 （Nine Hours Kyoto Hotel） 的位置不错，离坂急线河原町很近，京坂线、京都地铁站也不远，要去京都駅，或者从河原町回大坂都相当方便。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-7.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_7" alt="京都9小时旅馆——胶囊旅馆体验_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">交通：坂急河原町步行约3分／京坂祇园四条駅步行约6分／地铁四条駅步行约6分</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都九小时旅馆 (Nine Hours Kyoto Hotel)在河原町的商店街的寺町京极通对面的巷内。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都九小时旅馆 （Nine Hours Kyoto Hotel）建筑不太明显，但是只要记住，旅馆就在全家便利店的旁边，旁边那栋黑色建筑，有大片落地门窗的就是，不要走过头了。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">Check In后，会拿到鞋柜钥匙和盥洗楼层置物柜的钥匙，还有纸拖鞋、英文说明书、闹钟装置说明（这里的闹钟很好玩，不是通过声音叫醒，而是将灯光慢慢变亮，让光线叫你起床。）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-8.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_8" alt="京都9小时旅馆——胶囊旅馆体验_图片_8"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;">鞋柜</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大鱼提示：<span style="font-family: Helvetica; font-size: 15px;  ">进门之前要脱鞋；</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">衣柜置物箱存放的是简单的睡袍跟牙刷牙膏，可不是放行李箱的地方噢～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都九小时旅馆 Nine Hours Kyoto Hotel有无线网络提供，不过只有大厅才有，睡觉的楼层是收不到信号的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-family: Helvetica; font-size: 15px;  ">京都九小时旅馆 （Nine Hours Kyoto Hotel） 没有大型专用的行柜置物柜，行李都是置放在一楼柜台人员可以看到的地方，有行李号码牌。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-family: Helvetica; font-size: 15px;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-9.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_9" alt="京都9小时旅馆——胶囊旅馆体验_图片_9"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-10.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_10" alt="京都9小时旅馆——胶囊旅馆体验_图片_10"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-158-11.jpg" title="京都9小时旅馆——胶囊旅馆体验_图片_11" alt="京都9小时旅馆——胶囊旅馆体验_图片_11"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;">住宿概览</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-size: 12px;"><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">胶囊床看起来空间虽小，但爬进去后，感觉还好，没有什么压迫感。让人有种身在太空舱的感觉。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">面板上的插座、灯开关、闹钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大鱼提示：进入睡眠区后，要安静或轻声细语，电话最好静音，以免打扰到他人。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都九小时旅馆(Nine Hours Kyoto Hotel)ナインアワーズ京都店</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">电话：075-353-7337 </p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址：京都市下京区寺町通四条下ル贞安前之町588 </p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">预定：<a href="/fishtrip/japan/jingdu/" target="_blank">http://www.tan90.cn/fishtrip/japan/jingdu/</a></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p><br></p>
      </div>