<div class="article__content article-richedit-content">
        <p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">快来看看为您推荐的花莲一日游路线吧~</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">上午——太鲁阁、七星潭</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">下午——赏鲸</span></p>
<p><br></p>
<p><br></p>
<p><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong></span></p>
<p style="white-space: normal;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">第一站：太鲁阁国家公园</span></strong></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来花莲旅游，如果没到太鲁阁，那可是一大憾事了。长春祠、燕子口、九曲洞景观美不胜收，清水断崖展现太鲁阁地形之险峻与地质之奥妙。与家人行走在太鲁阁公园中，不由地赞叹道大自然造物力量的伟大。沿着立雾溪的峡谷风景线而行，触目所及皆是壁立千仞的峭壁、断崖、峡谷、连绵曲折的山洞隧道、大理岩层和溪流等风光。</span></p>
<p style="white-space: normal;"></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-69-0.jpg" style="width: 600px; height: 380px;" title="呐！看看花莲这一天你可以干嘛_图片_0" width="600" height="380" border="0" alt="呐！看看花莲这一天你可以干嘛_图片_0"></p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-69-1.jpg" style="width: 600px; height: 375px;" title="呐！看看花莲这一天你可以干嘛_图片_1" width="600" height="375" border="0" alt="呐！看看花莲这一天你可以干嘛_图片_1"></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong>门票：</strong></span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">免费</span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">08:00~17:00</span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">太鲁阁国家公园景点相距较远，且没有固定的公交贯通，建议多人包车前往。</span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">游玩时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一天</span></p>
<p><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span><br></p>
<p><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';">第二站：七星潭</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在花莲，可以浪漫的看着日出，迎接新的一天。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">Discovery频道亦曾前来七星潭拍摄海上日出奇景，可见其独特的风采。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">七星潭海滩呈现为优美的弧形，海水湛蓝透底。在七星潭您还可以远眺清水断崖，区内更有许多景点，比如：石雕园区、赏星广场、观日楼、儿童游乐场、海生态解说牌、海滨植物园区等，为您提供休憩和知性之旅。夏天早晨五点，在七星潭可观赏到花莲最壮丽的日出；农历十五前后的夜晚，则可以感受海上升明月，就算月亮缺席了，银河也会来补偿你。海滩上的是石头再美过目就好，捡拾带走的行为不仅违法当地法规还会破坏生态。我们建议你（和你的朋友）租一辆自行车沿着海岸线骑行。这意味着你可以用较少的体力欣赏到更多的美景，而且骑行道辅设良好。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-69-2.jpg" title="呐！看看花莲这一天你可以干嘛_图片_2" width="600" height="353" border="0" style="width: 600px; height: 353px;" alt="呐！看看花莲这一天你可以干嘛_图片_2"></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议多人包车前往。</span></p>
<p><br></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px; color: rgb(0, 176, 240);">第三站：赏鲸</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从每年4月开始至11月都是花莲鲸鱼的活跃期~您坐上船出海赏鲸，开启一段迷人的旅程吧！湛蓝的海水、成群的鲸豚，您可以收获满满的惊喜，感受一幕幕动人的画面，好玩又有趣！花莲渔港是目前台湾赏鲸豚交通最便利、发展最成熟的渔港，这里还设有赏鲸豚专用的休闲码头。一趟赏鲸活动约3—4小时，包含了约20分钟的行前说明；而实地出海时，船长或船上解说员也会详尽介绍鲸豚的习性，以及各种海洋知识。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-69-3.jpg" title="呐！看看花莲这一天你可以干嘛_图片_3" width="600" height="333" border="0" style="width: 600px; height: 333px;" alt="呐！看看花莲这一天你可以干嘛_图片_3"></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在花莲港乘船，全程约2-3小时。</span></p>
      </div>