<div class="article__content article-richedit-content">
        <p><br></p>
<p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">到了台北，除了登101大楼、住101大楼里的民宿之外，还可以在101大楼里的餐厅俯瞰着台北用餐。101大楼里不少餐厅提供靠窗的位子，如果想去体验空中用餐的感觉，记得提前预约噢！跟着大鱼看看101里有哪些不错的餐厅吧！</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之顶鲜101美食美景餐厅</span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-33-0.jpg" title="台湾美食：101里的台湾美食_图片_0" alt="台湾美食：101里的台湾美食_图片_0"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">101</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">大楼里最高的餐厅。很多人是奔着《爸爸去哪儿》去的餐厅。这里看景观角度很棒，环境大气。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">位置：101大楼886层</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">电话：02﹣8101﹣8686</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：11：30﹣15：00，17：30﹣22：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">最低消费（一人）：</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">午餐：1380台币（不靠窗），1980台币（靠窗）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">晚餐：1980台币（不靠窗），2380台币（靠窗）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之欣叶</span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-33-1.jpg" title="台湾美食：101里的台湾美食_图片_1" alt="台湾美食：101里的台湾美食_图片_1"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台湾最有名的台台菜餐厅，位子很难订到。最好提前一两个月订位。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">位置：101大楼85层</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">电话：02﹣8101﹣0185</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：11：30﹣15：00，17：30﹣22：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">最低消费（一人）：午餐880台币，晚餐1280台币</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之随意鸟地方</span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-33-2.jpg" title="台湾美食：101里的台湾美食_图片_2" alt="台湾美食：101里的台湾美食_图片_2"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">几乎每个位置都能看台北全景的豪华餐厅。拥有全球最高景观洗手间。主打意大利料理，使用顶级牛排、燕窝、鱼翅等高级食材料理。是在台北跨年的不二选择。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">位置：101大楼85层</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">电话：02﹣8101﹣0016</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：11：30﹣14：30，17：30﹣24：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">最低消费（一人）：</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">午餐：800台币＋40台币水费</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">周日下午茶：800台币</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">晚餐：1680台币</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之35阶</span><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">日本料理</span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-33-3.jpg" title="台湾美食：101里的台湾美食_图片_3" alt="台湾美食：101里的台湾美食_图片_3"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">日式料理、下午茶、景观。虽在的楼层数不高，但离地也有180米，恐高的不用上80楼以上，在35楼观赏就够啦！</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">位置：101大楼35层</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">电话：02﹣8101﹣0798</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：11：00﹣21：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">料理特点：日式定食、下午茶</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">最低消费（一人）：午餐300台币，晚餐300台币</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之星巴克</span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-33-4.jpg" title="台湾美食：101里的台湾美食_图片_4" alt="台湾美食：101里的台湾美食_图片_4"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">101</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">大楼里唯一不需要小费的咖啡厅，但去之前也需要预约。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">位置：101大楼35层</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">电话：02﹣8101﹣0701</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">平日：7：30﹣18：30</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">假日：9：00﹣18：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">最低消费（一人）：一杯饮料加一份糕点</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 19px; font-family: 微软雅黑, sans-serif; background-color: rgb(84, 141, 212);">101里的台湾美食之注意事项</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">1</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">、一定要事先订位才能上去用餐，餐厅越早预约越好。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">2</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">、星巴克只接受前一天电话订位。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">3</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">、35层用餐在办公大楼一楼访客发卡机拿卡后，在一楼搭乘前往35层的直达电梯。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">4</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">、36层、85层、86层用餐时，从101办公大楼上去，在一楼大厅搭乘电梯到二楼餐厅接待柜台，和柜台餐厅人员确认订位时间和人数后，搭乘直达电梯上楼。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">5</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">、除了星巴克，其他餐厅人均都需加上一成服务费。</span></p>
<p><br></p>
      </div>