<div class="article__content article-richedit-content">
        <p><span style="color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">渔人码头简介</span></strong></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(37, 37, 37); line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);">淡水渔人码头是一个位于台湾新北市淡水区西端的观光景点。前身为淡水第二渔港，位在淡水河出海口东岸，是北部早期重要的渔业港口，邻近沙崙海水浴场。渔人码头东连大屯山脉、西隔淡水河与观音山相峙。建议游玩2-3小时。</span></p>
<p><span style="font-size: 14px; color: rgb(37, 37, 37); line-height: 22.3999996185303px; font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(255, 255, 255);"><br></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-139-0.jpg" title="台湾渔人码头游玩攻略_图片_0" width="500" height="294" border="0" style="width: 500px; height: 294px;" alt="台湾渔人码头游玩攻略_图片_0"></p>
<p><br></p>
<p><span style="color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">渔人码头交通线路</span></strong></span></p>
<p><br></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(37, 37, 37); line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);">搭乘捷运淡水线至淡水捷运站,转搭<strong>指南客运红26路、836路公车</strong>即可到达淡水渔人码头 。</span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(37, 37, 37); line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(37, 37, 37); line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-139-1.jpg" title="台湾渔人码头游玩攻略_图片_1" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="台湾渔人码头游玩攻略_图片_1"></span></p>
<p><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(37, 37, 37); line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);"><br></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 112, 192);">渔人码头旅行亮点</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">渔人码头亮点之一——夕照</span></p>
<p><span style="font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; color: rgb(102, 102, 102); font-size: 14px; line-height: 21px; background-color: rgb(255, 255, 255);">渔人码头原来只是一个传统的小渔港，如今，渔人码头拥有一座美轮美奂的浮动码头，还有一条330多米长的木栈道、堤岸咖啡和超大的港区公园。 它们构成了一个环状动线，让人们可以完整流畅地体验渔港风情。站在步道远眺对面的观音山和出海口尽头的台湾海峡，看着夕阳从水平面上缓缓落下，美景之盛，令人流连忘返。</span></p>
<p><span style="font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; color: rgb(102, 102, 102); font-size: 14px; line-height: 21px; background-color: rgb(255, 255, 255);"><br></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-139-2.jpg" width="500" height="333" border="0" title="台湾渔人码头游玩攻略_图片_2" style="width: 500px; height: 333px;" alt="台湾渔人码头游玩攻略_图片_2"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p><span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(0, 176, 240);">渔人码头亮点之二——情人桥</span></span></p>
<p><span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(37, 37, 37); font-size: 14px; line-height: 21px;  background-color: rgb(255, 255, 255);">渔人码头跨港大桥于2003年2月14日情人节当天正式启用，故又称情人桥。为一座白色的斜张桥，在桥上可欣赏夕阳景色，总长约196</span></span><span style="font-family:微软雅黑, Microsoft YaHei"><span style="text-decoration: none; color: rgb(37, 37, 37); font-size: 14px; line-height: 21px;  background: none rgb(255, 255, 255);">米</span></span><span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(37, 37, 37); font-size: 14px; line-height: 21px;  background-color: rgb(255, 255, 255);">，步行需时约3分钟。</span></span><span style="color: rgb(37, 37, 37); font-size: 14px; line-height: 21px; font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(255, 255, 255);">传说情人桥暗藏“玄机”，恋人来此，如果没有走过情人桥，可能很快就会分手，如果只走过了奇数，而不是偶数，也会分手。</span></p>
<p><span style="color: rgb(37, 37, 37); font-size: 14px; line-height: 21px; font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="color: rgb(37, 37, 37); font-size: 14px; line-height: 21px; font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-139-3.jpg" width="500" height="316" border="0" title="台湾渔人码头游玩攻略_图片_3" style="width: 500px; height: 316px;" alt="台湾渔人码头游玩攻略_图片_3"></span></p>
      </div>