<div class="article__content article-richedit-content">
        <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span id="_baidu_bookmark_start_13" style="display: none; line-height: 0px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; line-height: 0px;"></span>‍</span><span id="_baidu_bookmark_start_15" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_9" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_11" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_11" style="display: none; line-height: 0px;"></span></span><p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北捷运是台湾旅游必选的交通方式，方便、快捷、清洁。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">大鱼给你带来台湾旅游台北捷运攻略。</span></p>
<p><br></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台北捷运开放时间/票价</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北捷运开放时间为06：00-24：00，票价按公里计数从20至65元新台币不等。（换成人民币大概是一个站的距离是3元，3~5个站大约6元。</span></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台北捷运（地铁）路线</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●澹水线：澹水站↔中正纪念堂站，共22个车站</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●文山内湖线：动物园站↔南港展览馆站，共24个车站</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●中和线：古亭站↔南势角站，共4个车站 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●小南门线：西门站↔中正纪念堂站，共1个车站 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●新店线：中正纪念堂站↔新店站(含小碧潭支线），共10个车站 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●南港线：南港展览馆站↔西门站，共13个车站 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●板桥线：西门站↔府中站，共5个车站 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●土城线：府中站↔永宁站，共4个车站</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●芦洲线：芦洲站↔芦洲线与新庄线之分歧点，共5个车站</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●新庄线：辅大站↔忠孝新生站，共13个车站</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);">台北捷运收费</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">付款方法有3种：悠游卡、IC代币单程票及旅客票。台北捷运3岁以下的小童则可免费乘搭。</span></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 112, 192);">悠游卡简介 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">悠游卡类似地铁充值卡，200台币一张，100押金，100可以用，便利店都可以充值，台北的捷运站都可以退卡。悠游卡除了捷运、公交、部分铁路可以坐外，在7-11消费都可以刷。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">购买地点：捷运各车站询问处；捷运车站悠游卡售卡/加值机；贴有悠游卡标示的便利商店(7-ELEVEN、全家、莱尔富、OK)。</span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">如何充值：每次加值金额为新台币100 元或其倍数。台北捷运各车站旅客询问处；全台贴有悠游卡标志的便利商店(7-ELEVEN、全家便利商店、莱尔富、OK超商) ；台北捷运各车站及部分停车场设有"悠游卡加值机" ；台北捷运各车站设置之"悠游卡售卡/加值机" 。</span></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 112, 192);">单程票（IC代币）</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">IC 代币单程票为硬币状，</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">进站的时候放置感应区，</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">出站时投入验票闸门的收票孔。类似于广州地铁。通过全自助触屏机购买。</span></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 112, 192);">旅客票简介（1日票/2日票/3日票/5日票）</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通卡分一日游卡(NT$180)；二日游卡(NT$310)；三日游(NT$440) 和五日游卡(NT$700)四种。可于期限内无限次搭乘捷运和公车。</span></p>
<p><br></p>
<p><br></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台北捷运其他信息</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">1.不能在站内吃东西，喝饮料，或者嚼口香糖。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">2.</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地铁电梯全部靠右站</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">3.每节车箱里都有蓝色的博爱座，提供给老弱妇孺，就算再多人也不要去坐博爱座。</span></p>
<span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><span id="_baidu_bookmark_end_16" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_14" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_12" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_10" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_10" style="display: none; line-height: 0px;"></span></span>
      </div>