<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">哇！小吃！美食！</span></strong></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">赖阿婆芋圆</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">赖阿婆芋圆皆是手工现场制作，店家将精选的新鲜大甲芋头去皮切块，隔水加热后蒸熟，并依照适当的地瓜粉或太白粉比例，加入与芋泥一起搅拌，水量也必须加得适当才能吃出浓浓的芋头香，之后捏成长条状、切块，就可以可烹煮出Q弹软绵的芋圆。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-94-0.jpg" title="这么在老街吃喝，会越吃越优雅呢_图片_0" alt="这么在老街吃喝，会越吃越优雅呢_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址: 新北市瑞芳区基山街143号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">金枝红糟肉圆</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">金枝红糟肉丸的名号所以响亮，是因为店里对于任何制作过程、食材选用都不马虎，以红糟肉丸来说，从制作、发酵红糟，到包肉丸，都亲自手工制作。红糟要特定选秋季之后才开始发酵，发酵完还要密封起来；而肉丸里的肉是选择上等的夹心肉，一块块下去浸红糟使其入味，口感细嫩不会太老，而且也加入了好几种香料，例如五香粉、八角粉、胡椒粉、肉桂粉等。里头的竹笋丝则是选择来自竹山的新鲜竹笋制成；而外面裹的粉皮也不随便，使用了三种粉调制而成，分别是太白粉、番薯粉、在来米粉，所以滑嫩弹Q。酱料也是特别调配的，刚好可以与肉丸的滋味完美的融合。吃金枝红糟肉丸，一定要配一碗四色丸汤，洒上芹菜的轻汤里，漂浮着四颗不同颜色的丸子，感觉很特别。 </span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-94-1.jpg" title="这么在老街吃喝，会越吃越优雅呢_图片_1" alt="这么在老街吃喝，会越吃越优雅呢_图片_1"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址: 新北市瑞芳区基山街112号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">阿云鱼羹 </span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">阿云鱼羹是九份的招牌之一，鱼丸是用瑞芳渔港的新鲜鲨鱼搅成浆。与常吃的鱼羹不同，九份的鱼羹比较偏甜，并比一般鱼丸鲜甜爽口，再配上太白粉、番薯粉、辣椒和可增加天威的萝卜头汤，更是甜上加甜。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-94-2.jpg" title="这么在老街吃喝，会越吃越优雅呢_图片_2" alt="这么在老街吃喝，会越吃越优雅呢_图片_2"></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">为您推荐的夜市</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">基隆庙口夜市</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">L型小吃集散地，总长五百多公尺，聚集了三百多个摊位，与新竹城隍庙小吃并列为台湾两大知名庙口小吃。庙口小吃的种类多到你数不过来，奶油螃蟹、原汁猪脚、红烧鳗、卤肉饭、咸粥、鐤边趖、米粉汤、猪血糕、肉圆、蚵蛋包、红烧排骨羹、豆花粉圆、大肠圈等，如果胃口够大，不怕撑破肚皮，大可一家家尝试。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐基隆庙口夜市中的天妇罗，吃时蘸酱油和萝卜泥调成的汁，鲜嫩美味，香而不腻。它不是某个具体菜肴的名称，而是对油炸食品的总称，具体的种类则有蔬菜天妇罗、海鲜天妇罗、什锦天妇罗等。</span></p>
      </div>