<div class="article__content article-richedit-content">
        <p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; font-size: 14px;">“北部区域”即为“北台湾”，包括新北市、台北市、基隆市、桃园县、新竹县、新竹市、马祖地区及宜兰县，为台湾当局官方标准划分方式。其中新北市、台北市、基隆市称为大台北地区。</span></p>
<p style="white-space: normal;"><span style="font-family:微软雅黑, sans-serif"><span style="font-size: 14px;">在北部都有哪些闻名世界的景点？</span></span></p>
<p style="white-space: normal;"><span style="font-family:微软雅黑, sans-serif"><span style="font-size: 14px;">大鱼带你去走一趟！</span></span></p>
<p style="white-space: normal;"><span style="font-family: Arial, sans-serif;"> </span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: white; background: rgb(0, 112, 192);">闻名世界的台湾景点之    台北故宫</span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">       台北故宫博物馆是仿照北京故宫样式设计建筑的宫殿式建筑，原名中山博物院，后改为国立故宫博物院。 它是中国著名的历史与文化艺术史博物馆，风格清丽典雅。台北故宫博物院藏品包括南京国立中央博物院、清代北京故宫、沈阳故宫等处旧藏之精华，以及海内外各界人士捐赠的文物精品，共约60万件，分为书法、古画、碑帖、等14类。</span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-0.jpg" title="那些闻名世界的台湾景点：北部篇_图片_0" alt="那些闻名世界的台湾景点：北部篇_图片_0"></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">门票：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">普通参观券：250.00台币团体参观券：230.00台币/人（10人以上团体，此外加收语音导览系20.00元/人）优惠参观券：150台币（军警学生、持文化机构义工证者、台湾岛外学生持学生证明者）</span></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">开放时间：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">正馆全年开放：8:30~18:30 夜间延长开放时段：每周五、周六18:30~21:00</span></p>
<p style="white-space: normal;"><span style="font-family: Arial, sans-serif;"> </span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: white; background: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    </span>中正纪念堂</span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">       中正纪念堂为纪念蒋介石而建，以中国庭园造景为主要设计形制，整体建筑则以蓝、白二色搭配相和，有着自由、平等的寓意。 主要以展览室和放映室为主，展示蒋介石生平事迹文物。顶楼为蒋介石铜像，两旁驻守着卫兵，而每个小时定时换班的仪式也成为游客游览的重点之一。</span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-1.jpg" title="那些闻名世界的台湾景点：北部篇_图片_1" alt="那些闻名世界的台湾景点：北部篇_图片_1"></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">门票：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">免费</span></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">开放时间：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">9:00-18:00</span></p>
<p style="white-space: normal;"><span style="font-family: Arial, sans-serif;"> </span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: white; background: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    </span>国父纪念馆</span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">       国父纪念馆以纪念国父孙中山先生为宗旨，主要展出国父革命史迹相关文物，并提供部分展演活动。国父纪念馆以黄色屋顶采顶起翘角像大鹏展翼的形状，此外，还有逸仙艺廊、德明艺廊中山讲堂、励学室等。国父纪念馆最适合市民周休假期或是早晨、黄昏户外运动、休闲及室内艺文、知性活动的多元化地点。</span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-2.jpg" title="那些闻名世界的台湾景点：北部篇_图片_2" alt="那些闻名世界的台湾景点：北部篇_图片_2"></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">门票：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">免费</span></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">开放时间：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">09:00~19:00</span></p>
<p style="white-space: normal;"><span style="font-family: Arial, sans-serif;"> </span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: white; background: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    </span>台北士林夜市</span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">       士林夜市是台北市范围最大的夜市，也是观光客造访台北必到之地。士林夜市是台湾美食大集合的台湾夜市，金黄色的超大鸡排、会喷汤汁的“上海生煎包”、热腾腾的“药膳排骨汤”……琳琅满目的美食小吃，让人驻足不前、流连忘返。</span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-3.jpg" title="那些闻名世界的台湾景点：北部篇_图片_3" alt="那些闻名世界的台湾景点：北部篇_图片_3"></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">门票：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">免费</span></p>
<p style="white-space: normal;"><strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">开放时间：</span></strong><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">夜晚</span></p>
<p style="white-space: normal;"><span style="font-family: Arial, sans-serif;"> </span></p>
<p style="white-space: normal;"><span style="font-family: 'MS Gothic'; color: white; background: rgb(0, 112, 192);"></span><span style="font-family: 微软雅黑, sans-serif; color: white; background: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    </span>台北101大楼</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      台北市地表建筑，位于台湾台北市信义区的一栋摩天大楼。拥有世界最快速电梯，38秒即可直达89楼观景台。夜间的台北101外观会打上灯光，以彩虹七种颜色为主题，每天更换一种颜色。在特殊的节日时，会以节庆为主题在外墙以灯光表现特殊的文字或图形，跨年夜还会有精彩绝伦的烟火表演。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-4.jpg" title="那些闻名世界的台湾景点：北部篇_图片_4" alt="那些闻名世界的台湾景点：北部篇_图片_4"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong>门票：</strong>500元新台币 </span></p>
<p style="white-space: normal;"><strong style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全年开放 每日09:00~22:00  最后入场及购票时间：21:15</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    </span>西门町</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       西门町为台北市西区最重要的消费商圈。交通发达，集红楼、刺青街、电影街、KTV、万年大楼、万国百货、诚品书店和各式各样的精品小店。至今西门町更成为小型活动、签唱会和记者会的场地。 </span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-5.jpg" title="那些闻名世界的台湾景点：北部篇_图片_5" alt="那些闻名世界的台湾景点：北部篇_图片_5"></span></strong></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">门票：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">免费</span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全天开放</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">闻名世界的台湾景点</span><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">之    </span>基隆庙口夜市</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; font-size: 14px;">       基隆庙口小吃美食种类多元、丰富且各有其独特风味，尤以弹牙又充满鱼香的天妇罗、有浓浓奶油香和蟹香的奶油螃蟹、料多营养的鼎边趖、历史悠久的碳烧蚵仔煎、手工现做的陈记泡泡冰、以及看起来平凡无奇，却美味无比的营养三明治。</span></p>
<p style="white-space: normal;"><span style="font-size: 14px;"><span style="font-size: 14px; font-family: 微软雅黑, sans-serif;">       交通：</span><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';">由<span style="font-size: 13px; font-family: arial; color: rgb(204, 0, 0); line-height: 20.0200004577637px; widows: auto; background-color: rgb(255, 255, 255);"></span>基隆火车站可步行到庙口夜市</span></span><span style="font-family: arial; color: rgb(204, 0, 0); font-size: 13px; line-height: 20.0200004577637px; widows: auto; background-color: rgb(255, 255, 255);"></span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-6.jpg" title="那些闻名世界的台湾景点：北部篇_图片_6" alt="那些闻名世界的台湾景点：北部篇_图片_6"></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">闻名世界的台湾景点之    九份</span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';">       在九份，你可以享受最悠闲的时光，在咖啡馆小憩，在高低不平的台阶中品味山城。夜晚不要忘了在高处远眺九份夜的美丽。</span><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-7.jpg" title="那些闻名世界的台湾景点：北部篇_图片_7" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="那些闻名世界的台湾景点：北部篇_图片_7"></span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-8.jpg" title="那些闻名世界的台湾景点：北部篇_图片_8" alt="那些闻名世界的台湾景点：北部篇_图片_8"></span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></p>
<p style="white-space: normal;"><span style="font-size: 14px; font-family: 微软雅黑, 'Microsoft YaHei';"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">台北特色民宿推荐   窝在家（西门町）旅舍</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(62, 62, 62); background: white;">旅舍经营者是一群非常热情并且有创意的年轻人， 同时也是大名鼎鼎的台湾独立婚摄创业团队，有超级多的情侣和新婚夫妇都选择住在这里喔。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(62, 62, 62); background: white;">地址：台湾 台北 万华区武昌街二段124-1号2F</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(62, 62, 62); background: white;">预定：<a href="/fishtrip/taiwan/taibei/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/taibei/</a></span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-13-9.jpg" title="那些闻名世界的台湾景点：北部篇_图片_9" alt="那些闻名世界的台湾景点：北部篇_图片_9"></p>
<p style="white-space: normal;"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';">更多特色民宿就在：</span><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';"><a href="/fishtrip/taiwan/taibei/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/taibei/</a>  <br></span></strong><br></p>
<p style="white-space: normal;"><br></p>
      </div>