<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">来尝尝特色小吃吧</span></strong></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">阿宗面线</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">只卖大肠面线，分大小碗。而且小店不提供座位，也不算立食，食客只能端着碗吃。一边是沿街排队，一边是捧着烫口的面线在马路中间吃，很有意思的场面。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-29-0.jpg" title="台北要这么吃，才会发出“啊~~”的感叹_图片_0" alt="台北要这么吃，才会发出“啊~~”的感叹_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：万华区峨嵋街8-1号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：乘坐台北市捷运，板南线或西门线，到西门站，步行约3分钟抵达</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">豪大大鸡排(士林总店)</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鸡排是夜市标配，来士林夜市豪大大鸡排是首选。分量十足，比一人脸还大。咬一口，外皮酥脆，面衣轻盈，带着独特的香气，里面鸡肉滑嫩多汁，一口接一口，越嚼越过瘾。再配个啤酒喝，由衷觉得生活真美妙。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-29-1.jpg" title="台北要这么吃，才会发出“啊~~”的感叹_图片_1" alt="台北要这么吃，才会发出“啊~~”的感叹_图片_1"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市士林区文林路113号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">忠诚号-生炒花枝、蚵仔煎</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">他家的蚵仔煎都用土鸡蛋，虽然一锅会同时做10来个，但保证一份蚵仔煎都有一个鸡蛋；生炒花枝焿里不仅有花枝还有鱿鱼。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-29-2.jpg" title="台北要这么吃，才会发出“啊~~”的感叹_图片_2" alt="台北要这么吃，才会发出“啊~~”的感叹_图片_2"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市士林区大东路15-23号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">永康牛肉面</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">永康牛肉面最早发迹于永康公园旁的小牛肉面摊，当时面点老板郑先生为一名退伍老兵，于民国52年成立小面摊，郑老先生用家常调制的豆瓣酱搭配熬煮牛肉面，成为街头巷尾的坊间相传的川味牛肉面。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-29-3.jpg" title="台北要这么吃，才会发出“啊~~”的感叹_图片_3" alt="台北要这么吃，才会发出“啊~~”的感叹_图片_3"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市大安区金山南路二段31巷17号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">鼎泰丰</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一说到小笼包，就会想到名气享誉海内外18个折的鼎泰丰小笼包。鼎泰丰早期是个油行，因为市场竞争激烈，现任经营者杨纪华先生的父亲因缘际跟一个老兵学做小笼包，从此转行改卖小笼包，最后发展成跨国连锁餐厅。当之无愧是台湾之光。这家是位于台北101的旗舰店，内部坏境和服务品质自然是无可挑剔，小笼包和蒸饺不负盛名，每一道料理的精致细腻的用心程度更是让人佩服。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-29-4.jpg" title="台北要这么吃，才会发出“啊~~”的感叹_图片_4" alt="台北要这么吃，才会发出“啊~~”的感叹_图片_4"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：周一-周四、周日11:00-21:30，周五-周六及国定节假日11:00-22:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：乘坐台北市捷运，北投信义线（北投-象山），到台北101/世贸站，步行约3分钟抵达。</span></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">超全夜市推荐</span></strong></span></p>
<p><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">士林夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北名气最响亮，规模最大，搭捷运直抵夜市前面。士林夜市集合大江南北小吃，应有尽有，著名的有蚵仔煎、大饼包小饼、士林大香肠、生炒花枝、青蛙下蛋等。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通方式：乘坐北投信义线(北投-象山)或淡水线(淡水-新店)到士林站，步行抵达。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">附近景点：故宫博物馆(往来故宫的公车可在士林站换车)、阳明戏院。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">宁夏圆环夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">距离台北车站最近的美食夜市，范围不大，但是每一摊都别具特色。铁版烧、现炒、现蒸、现煮的摊子很多。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">辽宁街夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">辽宁街是纯吃的夜市，台北人首推美食夜市排名第一，不过要从捷运站走一小段路才能到达。可结合sogo、微风广场、光华商场一起游玩，因为它刚好位于这些百货商场的中间。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">饶河街夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">距离松山火车站最近，一般来说是前往新北市、基隆、宜兰旅行的游客，在返回台北车站时，必访的夜市。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">延平北路夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">与迪化街南北货批发街连成一线。摊位与店家沿路两旁分布，也是一个纯吃为主的夜市街。如果住在民权西路附近的饭店，那你就去那里就很方便了。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">通化街夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">通化街位在世贸中心、基隆路与信义路口，是距离台北101大楼、纽约纽约最近的夜市，可以一道顺游。 </span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">龙山华西街夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">历史最悠久，就在龙山寺旁边，搭捷运直抵夜市前，与西门町连成一线，如果你住在西门町，那么龙山夜市的美食千万别错过了。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">这些礼物很不错</span></strong></span></p>
<p><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">潮州沙茶、莺歌陶瓷、淡水鱼酥、淡水阿婆铁蛋、文山包种茶(乌龙茶)、文山白毫乌龙(东方美人茶)三峡龙井绿茶、木柵铁观音(乌龙茶)、和生御品绿豆黄。</span></p>
<p><br></p>
      </div>