<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">好吃的！</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲是阿美族的原乡，郊野遍生的过猫、秋葵、山苏、藤心、昭和草、山苦瓜，半天笋(槟榔心)，都是花莲人津津有味的盘中佳肴，其中藤心排骨、炒山苏是最受欢迎的菜色。阿里碰碰是“南势阿美”特有的食物，也称为“阿美饭包”，其做法是把海滨常见的林投叶摘下编织成袋状，塞入生糯米水煮或干蒸，吃起来具有独特的芳香。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; text-decoration: none;">花莲柴鱼</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-66-0.jpg" title="花莲有哪些好吃好带的，先看这里吧_图片_0" alt="花莲有哪些好吃好带的，先看这里吧_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">柴鱼是鲣鱼干制品的俗称，台湾沿海四季都生产鲣鱼。先把钩回的鲣鱼洗净，取出四块肥胖圆鼓的主肉，加工修正后，置于蒸笼内蒸熟。接着再将其放入竹片编成的方形笼子里，一笼笼地高垒在灶上，加以烟熏烤成鱼干。出笼后还得再暴晒一番，清除残余的水分。全部制作工程需要一个星期，看来柴鱼还真来之不易。 柴鱼最大的特点是易于长久储藏，可保存三年不坏。用其做汤，味道甚佳，它也是日式“味曾汤”的主角。花莲熏烤柴鱼 燃料都是相思木，因而独具风味，也是其盛名不衰的原因之一。 </span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">花莲扁食</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-66-1.jpg" title="花莲有哪些好吃好带的，先看这里吧_图片_1" alt="花莲有哪些好吃好带的，先看这里吧_图片_1"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">到花莲游玩，扁食是必吃的美食。花莲的扁食非常有名，这个名气的由来在于蒋经国的到访和品尝。所谓扁食也就是我们常说的馄饨，选用上等后腿肉、胛心肉及其他香料配方，制出好口味馅料，再佐以每日现炸油葱相互调合，呈现出独特的口感。在花莲有很多口味不错的扁食店，比如液香扁食、戴记、花莲、一口香等店家可供你挑选。上桌前撒上油葱、芹菜，扑鼻的香味令人食欲大增。 </span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">最全夜市推荐</span></strong></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">花莲自强夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">每到夜晚就灯火璀璨，除了羊肉炉、果汁、棺材板等美味，另一家招牌高高耸起的烤肉店也是必须要光顾的。 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：花莲县吉安乡自强路与和平路交叉口</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">沟仔尾夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">沟仔尾夜市是采买花莲薯等名特产的大本营，更是啖海鲜、吃宵夜的好去处。日本料理以“竹阳”、“三叶”两家最知名。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">竹阳以海鲜处理速度快著称，其中招牌龙虾三吃，第一道沙西米端上桌时，龙虾头还会动，而独门的快速冰功，也使肉质吃起来透脆；三叶则是其中最老牌的一家，主打龙虾及鲜鱼沙西米。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">旧站夜市</span></strong><br></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">这是利用花莲旧火车站拆除后留下来的偌大空地，白天是空荡的停车场，入夜后却摇身变成“寻饱”的地方，五六十家的摊贩和数不清的人潮，把这处新兴的夜市炒作得颇有名头。从毛蟹、海鲜、广东粥、棺材板、臭豆腐到冰品、盐酥鸡、卤味，五花八门的小吃，几乎网罗所有令人喜爱的口味。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：中山路头、花莲客运总站旁广场 营业时间：晚间开放至次日凌晨</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">南滨观光夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">南滨观光夜市为花莲规模最大的夜市，贩卖的美食有每客90元的廉价牛排、蚵仔煎、火锅、花生卷冰淇淋等美食小吃。除了小吃外，还有射箭练习场、射飞镖、套圈圈、捞金鱼、各式各样的电玩、露天欢唱卡拉OK海产店等，可说是应有尽有!逛累了夜市，又不喜欢动态活动的朋友，可沿着海堤散步至花莲南滨公园，欣赏花莲港的夜景，听涛、赏星，体验与夜市两种截然不同的风情。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：花莲市南滨公园内 营业时间：18：00～次日01：00</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">好带的！</span></strong></span></p>
<p><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">玫瑰石、猫眼玉、花莲芋、花莲薯、曾记麻糬、玉里羊羹、富丽米、富里银川农场玄米茶、剥皮辣椒、黄金蜆石、翻车鱼</span></p>
<p><br></p>
      </div>