<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">一定要品尝的美食</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">打洞香肠</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-0.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_0" alt="这就是给你的垦丁吃喝玩乐指南了_图片_0"></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">延用50年的古老手工制作手艺，香气诱人，肉质嫩滑。还有高粱酒、飞鱼卵口味，喜欢探索新口味的游客值得一试。原味香肠也是令人回味无穷。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">QQ蛋奶</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-1.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_1" alt="这就是给你的垦丁吃喝玩乐指南了_图片_1"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">亲民的价格，不一样的体验。浓浓的奶香，爽口有嚼劲的黑糖粉圆，绝妙的搭配。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">小叮当烤鱿鱼</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-2.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_2" alt="这就是给你的垦丁吃喝玩乐指南了_图片_2"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">烤鱿鱼到处可见，但是垦丁大街的鱿鱼，新鲜又大只，沾酱浓郁，加点辣更是可口，咸咸辣辣甜甜的口味，肉质弹牙，让人想要再来一只！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">洋果子厨房</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-3.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_3" alt="这就是给你的垦丁吃喝玩乐指南了_图片_3"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一间设计简约，空间宽敞，不感到有压迫感的早、午餐店，他们自创的早餐，真材实料及新鲜食材，都可感受的出来每样早餐的美味，来垦丁的朋友们，别忘了来垦丁大街享用洋果子厨房的可口早餐喔！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">湄南海音乐餐厅</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-4.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_4" alt="这就是给你的垦丁吃喝玩乐指南了_图片_4"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">位于垦丁街道的中心，以泰式及印度尼西亚菜为主，菜色口味比以前进步很多，口味很不错，令人眼睛为之一亮，胃口大开，月亮虾饼、椒麻鸡、三味香酥鱼等。另外，这里也是许多游客夜间常逛的PUB，因为周六周日晚间皆有表演秀，有专业反串秀、舞男秀、钢管秀等。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">垦丁交通攻略</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);"><br></span></strong></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">如何到达</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高铁和台铁是不能直接到达垦丁的，只能转乘客运巴士。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线一：高铁「左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线二：台铁「新左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线三：搭乘台铁至「高雄火车站」，再换乘巴士前往垦丁。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁快线的车程为2小时，票价为台币418元/人。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁列车9117路线的车程为3小时，票价为台币364元/人；9188路线的车程为2小时30分，票价为台币383元/人。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">垦丁交通</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">1.电动车：每天租金约170元人民币，每台最多可载2人。租车的地方最好离住的地方比较近，这样不管是换电池或还车时回去都比较方便。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">2.包车：如果出行人较多又比较赶时间的话，包车无疑是最便捷的选择，因为一天能去很多地方，还能让司机师傅找到最佳的拍照地点。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">大鱼给您推荐的特色活动</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);"><br></span></strong></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">夜宿海生馆</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-86-5.jpg" title="这就是给你的垦丁吃喝玩乐指南了_图片_5" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="这就是给你的垦丁吃喝玩乐指南了_图片_5"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在这里，您会与爱人、朋友留下难忘的回忆。仅仅是睡在鱼缸旁就已经很令人激动了，但是夜宿海生馆不仅如此，所有参与者都会由专业的解说人员全程带领，绝对深入的认识海生馆点点滴滴的故事。后场参观走到鱼缸上方的饲育区，认识饲育员工作内容及环境，并体验亲近喂食海洋生物。这些活动肯定会在您和爱人、朋友的记忆里画上奇特的一笔。</span></p>
<p><br></p>
      </div>