<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">走起！台北美食！</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">姜母鸭</span></strong></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-0.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_0" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_0"><br></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">将台湾特产的红面番鸭煮熟，取鸭肉和老姜（也被称做姜母），搭配上胡麻油、米酒、中药的药材包，混合放在客人面前熬煮，炭火更佳，好似鸭汤火锅一般，进补好食材。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">凤梨酥</span></strong></span></p>
<p><span style="font-size: 14px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-1.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_1" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_1"></span></strong></span></p>
<p><span style="font-size: 14px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">凤梨酥是台湾的著名小吃，外皮酥松化口，内馅甜而不腻。正宗的凤梨酥皮薄馅大，外皮酥松化口，凤梨内馅甜而不腻，其中为了口感需要，通常会添加冬瓜，成品非常好吃。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">盐酥鸡</span></strong></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-2.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_2" width="275" height="500" border="0" style="width: 275px; height: 500px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_2"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台湾最常见的小吃之一，不过其实它是一个综合性的全称，盐酥鸡摊位中除了油炸小块鸡肉骨外，通常一并卖炸甜不辣（包括猪血糕及鱼板）、炸花枝脚、炸蕃薯条、炸四季豆、炸芋粿等等。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">卤肉饭</span></strong></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-3.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_3" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_3"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">卤肉饭的精华在酱汁与肉上，浓香四溢的酱汁就能让人吃上好几碗白米饭。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">Kiko's Dinner</span></strong></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-4.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_4" width="500" height="298" border="0" style="width: 500px; height: 298px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_4"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">Kiko's Dinner是全球首间Sanrio美式餐厅，属可爱萌系列。kitty猫、美乐蒂、双子星等可爱造型布满餐厅的每一个角落，黑白灰为主的装潢基调给人一种低调的华丽感。汉堡、披萨等餐点是小朋友们的最爱，适合亲子游哦！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">Hello Kitty Sweets</span></strong></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-5.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_5" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_5"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全球第一家 Hello Kitty 主题餐厅。店内的布置当然以 Hello Kitty 为主，并以女生最爱的粉红色为设计中心。陶醉在 Kitty 世界里，已经足够。这里非常适合亲子游组合，小朋友一定会沉浸在这梦幻的世界中。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">台北交通攻略</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);"><br></span></strong></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">捷运</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北捷运线路密布整个台北市，是台湾旅游必选的交通方式。台北捷运开放时间为06：00-24：00，票价按公里计数从20至65元新台币不等。（换成人民币大概是一个站的距离是3元，3~5个站大约6元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">悠游卡类似地铁充值卡，200台币一张，100押金，100可以用，便利店都可以充值，台北的捷运站都可以退卡。悠游卡除了捷运、公交、部分铁路可以坐外，在7-11消费都可以刷。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">购买地点：捷运各车站询问处；捷运车站悠游卡售卡/加值机；贴有悠游卡标示的便利商店(7-ELEVEN、全家、莱尔富、OK)。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">如何充值：每次加值金额为新台币100 元或其倍数。台北捷运各车站旅客询问处；全台贴有悠游卡标志的便利商店(7-ELEVEN、全家便利商店、莱尔富、OK超商)；台北捷运各车站及部分停车场设有"悠游卡加值机"。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">出租车/的士</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台湾出租车是以按表计费，起跳为1.5公里新台币70元，续跳每300米加5元。晚上11时以后至早上6时以前附加20%加成费。电话叫车与开行李箱各加收10元服务费，农历春节期间运价会略有调整。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">这些特色活动也值得试试</span></strong></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">台北市动物园</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">小朋友喜欢动物？那您一定要带他来台北市动物园！这里号称“亚洲最大的动物园”，整个园区被次生林山坡地所围绕，是一处结合自然景观形成具生态特色之休闲场所。涵盖世界7大洲多种动物，考拉、无尾熊、大熊猫……园内还设有儿童游乐场以及服务中心可租用婴儿车，也有专设的儿童游乐区和野餐区。伴着动物一起</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">野餐，还真是别有一番滋味呢。</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-6.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_6" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_6"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">门票：全票60新台币，6-12岁半票，6岁以下免票</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：09:00-17:00（16:00停止入园）部分展馆周一休馆。除夕休园。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通资讯：捷运：搭乘木栅线至动物园站。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">袖珍博物馆</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">您和家人一定会被这精致美丽的小东西吸引。这里是台湾也是亚洲第一座专门收藏当代袖珍艺术品的博物馆，里面有200多件从世界各地搜集来的袖珍艺术品，其规模仅次于美国，居世界第二位。小酒瓶里还是装了白兰地，小电视也真的在播放画面！有微缩版世界建筑、遗址和童话场景。与孩子一同体验袖珍世界的乐趣。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-45-7.jpg" title="台北欢迎你啊！吃什么玩什么，看这里就好_图片_7" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北欢迎你啊！吃什么玩什么，看这里就好_图片_7"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">票价：全票180新台币，优惠票150新台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：10:00-18:00（周一休馆）</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">官网：http://www.mmot.com.tw/</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：捷运南京东路站。</span></p>
      </div>