<div class="article__content article-richedit-content">
        <p><br></p>
<p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333;background:white">台南市位于</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333;background:white">台湾</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333;background:white">西南部，是台湾历史最悠久的古都，汉人、荷兰人最先接触及开发的地区，因此留下许多珍贵历史纪录，在台湾历史及农鱼业发展上占有相当重要的地位。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333;background:white"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">台南交通攻略之市内交通</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">出租车</span></p>
<p style="margin-bottom:0;line-height:25px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#333333">台南市内的计程车起跳新台币65元，每一格加5元。机场计程车须先议定价格，从机场到台南市区车费一律新台币200元。</span></p>
<p style="margin-bottom:0;line-height:25px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#333333"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">公交车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">台南市区内有大台南公车贯通台南，台南公交计价方式：</span></p>
<ul style="list-style-type: disc;" class=" list-paddingleft-2">
<li><p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">所有路线持电子票证（台湾通、一卡通、悠游卡、e通卡）2小时内可享转乘半价优惠。</span></p></li>
<li><p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">段次计费（府城客运）：基本票价全票新台币18元，半票9元。二段票为30元，使用电子票证为27元。每月22日为公车日，全日持电子票证（台湾通、一卡通、悠游卡、e通卡）搭乘免费。</span></p></li>
<li><p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">里程计费（兴南客运、新营客运）：搭乘干支线公车享有8公里免费优惠（基本票价0元）；投现全票26元，半票13元起跳。2小时内由干支线公车及市区公车相互转乘可享9元优惠。</span></p></li>
</ul>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">以下是台南</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">两条观光线路88安平线99台江线路线图。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南交通攻略之如何抵达/离开</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">铁路</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">坐到台铁台南站</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">高铁台南站（有免费的接驳公车）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">飞机</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">台北每日有复兴、中华、远东等航空公司的班机直达台南机场，一张机票约新台币1300-1500元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">客运巴士</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">高雄到台南有高雄客运等客运巴士，票价150元左右。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333">台北到台南有台汽国光号及统联客运等，票价新台币450元左右。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#333333"> 康熙来了之台南美食大搜索：<a href="/fishtrip/taiwan/tainan/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/tainan/</a> </span></p>
<p><br></p>
<p><br></p>
      </div>