<% if @seo_articles and !@seo_articles.empty? %>
  <div class="sider-bar">
    <h3><%= FishtripSeo::COUNTRY[@hotel.country] %>旅游攻略</h3>
    <% @seo_articles.each do |category, seo_articles| %>
      <ul>
        <p><strong><%= category %></strong></p>
        <% seo_articles.each do |article|  %>
          <li><a href="<%= article[:link] %>"><%= article[:title] %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
