<div class="container airport">
  <p>Hotels nearby <%= @location.name %></p>
  <ul>
    <%@hotels.each do |hotel|  %>
      <li>
        <a href="<%= hotel[0] %>?aid=897435"><%= hotel[1] %></a>
        <span>distance:<%= hotel[2] %></span>
      </li>
    <% end %>
  </ul>
</div>
