<div class="container description">查询到<%= "#{@location.name_cn}共有#{@location.number_of_hotels}" %>家酒店</div>
<article class="container">
  <div class="row" id="hotel-list">
    <%= render 'hotel' %>
  </div>
  <% if @hotels.size==21 %>
    <div id="pagination">
      <nav>
        <ul class="pager">
          <li class="next"><a data-page='2'>下一页<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  <% end %>
</article>
<%= render 'footer' %>
<%= javascript_include_tag 'hotels' %>

