<footer class="footer">
  <div class="container seo-area">
    <% @footer_links.each do |country, links| %>
      <div class="clearfix">
        <h3 class="head"><%= FishtripSeo::COUNTRY[country] %>特色住宿</h3>
        <ul>
          <% links.each_slice(10) do |sli| %>
            <% sli.each do |link| %>
              <li><a class="footer-link" href="<%= link['uri'] %>"><%= link['text'] %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'layouts/friendlinks' %>
  </div>
</footer>
