<article class="container">
  <div id="hotel-list" class="row cus-padding">
    <%= render "hotel" %>
  </div>
  <div class="row">
    <nav>
      <ul class="pager">
        <% if @hotels.size==21 %>
          <li class="next"><a data-page='2'>下一页<span aria-hidden="true">&rarr;</span></a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</article>

