<div class="container home">
  <div class="booking-search">
    <ins class="bookingaff" data-aid="915696" data-target_aid="897435" data-prod="sbp" data-width="1100" data-height="400">
    </ins>
    <script type="text/javascript">
(function(d, sc, u) {
  var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = u + '?v=' + (+new Date());
  p.parentNode.insertBefore(s,p);

})(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
    </script>
  </div>
</div>
