<% if @comments and !@comments.empty? %>
  <div class="comments">
    <h3 class="head"> <%= @city.nil? ? @hotels[0].country_name : @city.name %>民宿点评</h3>
    <% @comments.each_with_index do |comment, ix| %>
      <p class="hotel-comment" <%= "style=display:none" if ix>5 %>><%= comment[0] %>点评:<%= comment[1] %></p>
    <% end %>
  </div>
<% end %>
