<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 11px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;">本篇介绍从平价到很不平价的东京购物地，可供买买买，或逛逛逛。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-0.jpg" title="日本最潮购物圣地（一）东京_图片_0" alt="日本最潮购物圣地（一）东京_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">代代木公园跳蚤市场</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-1.jpg" title="日本最潮购物圣地（一）东京_图片_1" alt="日本最潮购物圣地（一）东京_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">东京遍布着各种跳蚤市场，但其中代代木公园的跳蚤市场绝对是第一名。这里的摊主大多是年轻人，卖的产品主要是各种各样的手工艺品，衣服和饰品，在这里可以发现一些很新潮，有趣，很酷的东西。该跳蚤市场基本上一个月开一次，但具体的日期没有规律。公园里还会有各种音乐表演，去逛逛还是不错的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">新宿</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-2.jpg" title="日本最潮购物圣地（一）东京_图片_2" alt="日本最潮购物圣地（一）东京_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">不管你是有一张20页的购物清单，还是完全没想好要买什么，都必须来新宿看看。这里是购物天堂，大型的百货商场、药妆店、电器商场目前都可以刷银联卡，还有很多地方提供中文服务。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">表参道</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-3.jpg" title="日本最潮购物圣地（一）东京_图片_3" alt="日本最潮购物圣地（一）东京_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">一个字：贵，两个字：很贵。表参道和青山通是高档设计时装和名牌服饰店集中的地方，沿街店铺林立，还有不少设计师品牌。这一地区的衣饰自然价格较高，买不起看看也行，或者在路边的咖啡馆喝一杯下午茶，感受感受东京高级时尚的气息。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">吉祥寺</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-4.jpg" title="日本最潮购物圣地（一）东京_图片_4" alt="日本最潮购物圣地（一）东京_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">Kichijoji吉祥寺是东京西北郊的一个生活中心，它的位置大概相当于北京的五环。在吉祥寺生活中心这里，有的是连锁商场和专卖店，而且规模都很大。闲暇的时候，逛一逛吉祥寺附近的小店，也是很不错的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">青山大道</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-5.jpg" title="日本最潮购物圣地（一）东京_图片_5" alt="日本最潮购物圣地（一）东京_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  "><span style="color: rgb(94, 94, 94); font-family: Times; font-size: 14px;  ">小说家村上春树(Haruki Mu rakami)和其他一些日本作家最喜欢驻足停留的地方之一。</span>街宽40米的青山大道看上去很宏伟，整条大街大概从赤坂见附(Akasaka-Mitsuke)一直延伸到涩谷地区，在这条大街上聚集了许多名牌专卖店，乃至其成为著名的表参道的一部分。然而，与聚集了许多类似于纪伊国屋书店(Kinokuniya)这种经常出现在旅游刊物封面的大品牌的街道北边相比，以销售一些有趣物品为主的街道南边则经常会被遗忘忽略掉。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">池袋</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-6.jpg" title="日本最潮购物圣地（一）东京_图片_6" alt="日本最潮购物圣地（一）东京_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">近年来，池袋作为电视连续剧和小说的舞台屡屡亮相，让许多年轻人更加把这里当作胜地。其中最为著名的作品大概就是《无头骑士异闻录》，在池袋可以找到一模一样的场景。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">代官山</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-7.jpg" title="日本最潮购物圣地（一）东京_图片_7" alt="日本最潮购物圣地（一）东京_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><span style="color: rgb(94, 94, 94); font-family: Times; font-size: 12px; ">当地时间2015年2月28日，威廉王子到访东京涩谷区的代官山蔦屋书店,参观英国制造的假肢关节和扫地机器人等行程。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><span style="color: rgb(94, 94, 94); font-family: Times; font-size: 14px;  "><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">这里是东京的富人区，整个区域内的商铺也很松散，可能一个街区就两三家店，隔得距离比较远，在这里是不可能集中的购物了，但是让你慢慢品味购物的乐趣，找到一种独特的情调。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">台场商业圈购物城</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-8.jpg" title="日本最潮购物圣地（一）东京_图片_8" alt="日本最潮购物圣地（一）东京_图片_8"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">如果说国际大都会东京如同一个丰富多彩的多面体，那么台场则代表了它作为海滨城市水光潋滟的一面。这里汇集了众多日本和世界的知名服饰品牌，是中国游客在东京选购服装的热点购物城。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">维纳斯堡</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-9.jpg" title="日本最潮购物圣地（一）东京_图片_9" alt="日本最潮购物圣地（一）东京_图片_9"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">位于台场的维纳斯城堡是日本第一个主题公园式的大型购物中心，在这个购物城堡中你可以买到你想要的一切。他们这里每一层都拥有自己的颜色，无论是旅客还是本地日本人来到这里都会被其新颖的楼层设计吸引。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">秋叶原电器街</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-10.jpg" title="日本最潮购物圣地（一）东京_图片_10" alt="日本最潮购物圣地（一）东京_图片_10"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">日本东京的秋叶原是日本最大的电器产品商业街，也是世界最大的电器购买场，更是东京的一个象征。以位于秋叶原站西侧的中央道为中心，在秋叶原其东西宽400 米,南北长800米的范围内，汇集了800多家专门销售家用电器和计算机等电器产品的商店，且价格便宜。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">涩谷</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-11.jpg" title="日本最潮购物圣地（一）东京_图片_11" alt="日本最潮购物圣地（一）东京_图片_11"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">涩谷109大厦在一成不变的热闹和喧哗的涩谷地区，作为一座青年文化发源地的服装城，而深为人们喜爱。涩谷109大厦是日本时尚年轻女生购买服饰的商城。销售代表日本流行时装的各种商品，琳琅满目。SLY、Cecil McBee、Moussy、L.D.S、LIZ LISA等日本本土少女品牌服装应有尽有，而且售货小姐们都身兼多职，除了销售服装外，还能兼当你的“造型师”，可以帮你量身打造出全身造型哦。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">浅草寺</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-12.jpg" title="日本最潮购物圣地（一）东京_图片_12" alt="日本最潮购物圣地（一）东京_图片_12"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">浅草寺门前的仲见世大道，这里有很多自江户时代延续下来的大小店铺，经营吉祥物品，出售日本最具特色的物美价廉的日本小礼物和各式各样的旅游纪念品、民间工艺品、和服以及日本人喜欢的小吃等。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">银座</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-13.jpg" title="日本最潮购物圣地（一）东京_图片_13" alt="日本最潮购物圣地（一）东京_图片_13"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">银座素有世界三大名街之一之称，以奢侈品商店闻名。银座分为银座一丁目至银座八丁目，银座四丁目与银座五丁目之间被晴海通所分隔，全部8个丁目由中央通贯通。四丁目的十字路口可以称的上是整个银座街区最繁华、最热闹的地段。现在的银座不但是日本商界的胜地，也是融古今中外各种文化的大花园，被称为东京的“心脏”。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">御殿场</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-14.jpg" title="日本最潮购物圣地（一）东京_图片_14" alt="日本最潮购物圣地（一）东京_图片_14"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">距离东京市中心约有90分钟车程的御殿场Premium Outlets为全日本最大的特价购物中心。在可一览富士山全貌的购物中心，林立着约210多家销售Armani、 Bottega Veneta、 Bvlgari、Chloe、 Gucci、Jil Sander、Jimmy Choo、Prada、Tod’s、 Valentino等国内外著名名牌商品的商店。这里也是中国旅游团抢购日本商品的重要购物点之一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  ">上野</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Times; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-165-15.jpg" title="日本最潮购物圣地（一）东京_图片_15" alt="日本最潮购物圣地（一）东京_图片_15"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-family: Times; color: rgb(94, 94, 94);  ">上野是贴近市民生活的购物区，既有百货商场，也有平民化的商店街。丸井百货、多庆屋、ABAB是这里主要的大型商场。在上野站和御徒町站之间的区域有著名的商店街“阿美横丁”，这是一条繁华的商业街，经营范围广泛，食品、服饰、化妆品、日用品等都有，而且价格普遍比较便宜，所以这里总是人流如织。</p>
<p><br></p>
      </div>