<div class="article__content article-richedit-content">
        <p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>高雄这么美！一日游的正确打开方式，快看看吧</span></strong></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>上午——85大楼</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>下午——驳二艺术特区、西子湾</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>晚上——瑞丰夜市</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>第一站：高雄85大楼</span></strong></span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>一起去看看南台湾的港口风景，在这里您可以看遍高雄的每一个角落。</span><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>高雄85大楼，是南台湾最高的摩天大楼。 高雄85大楼不仅是南台湾的地标，也是世界第13高的摩天大楼。在74楼可360度环楼欣赏高雄港景及市景，您会被这个港口城市而深深吸引。</span></span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'> <img width="700" height="389" title="高雄的美这么看才对噢！_图片_0" style="width: 700px; height: 389px;" src="http://7xotew.com1.z0.glb.clouddn.com/article-108-0.jpg" border="0" alt="高雄的美这么看才对噢！_图片_0"></span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>门票：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>观景台售票： 1.全票：150元（台币） 2.优待票：65岁以上130元（台币） 3.免费：100公分以下</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>开放时间：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>10:00-22:00</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>搭乘78、83、100 至建台百货站即可到达；搭乘70、14 至三多四路口站即可到达。</span></p>
<p><br></p>
<p><br></p>
<p><strong><span style='color: rgb(0, 176, 240); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>第二站：驳二艺术特区</span></strong></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>在创意的世界里，总能让您和您的朋友大饱眼福。驳二艺术特区里的创作工坊，来自世界各地，不同的艺术团队，致力于让艺术，融合在生活中。这里是艺术中心，从原本的破旧仓库，转变成台湾最具成功的艺文特区，结合艺术、音乐及美食。这里是年轻人的天地，您可以在智慧与美的碰撞中体验台湾创新的力量。</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'> <img width="700" height="389" title="高雄的美这么看才对噢！_图片_1" style="width: 700px; height: 389px;" src="http://7xotew.com1.z0.glb.clouddn.com/article-108-1.jpg" border="0" alt="高雄的美这么看才对噢！_图片_1"></span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>捷运橘线盐埕埔站（O2站）1号出口，沿大勇路向南步行约5分钟即可到达。</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240); font-size: 18px;"><strong><span style='color: rgb(0, 176, 240); font-family: 微软雅黑, "Microsoft YaHei";'>第三站：西子湾</span></strong></span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>来这里看日落是多么的浪漫~西子湾是一个风景天成的湾澳，以夕阳美景及天然礁石闻名。每当日落时分，海岸护堤的石砌栏杆游客群聚，逐自挑选最佳位置观赏绚烂的落日光辉，海天一色的美景，美不胜收。这里怎能是一张照片就能概括的美，还是要您亲自去观赏！</span></span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'> <img width="700" height="389" title="高雄的美这么看才对噢！_图片_2" style="width: 700px; height: 389px;" src="http://7xotew.com1.z0.glb.clouddn.com/article-108-2.jpg" border="0" alt="高雄的美这么看才对噢！_图片_2"></span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>门票：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>免费</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>开放时间：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>全天</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>捷运西子湾站下车即可</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240); font-size: 18px;"><strong><span style='color: rgb(0, 176, 240); font-family: 微软雅黑, "Microsoft YaHei";'>第四站：瑞丰夜市</span></strong></span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>来台湾就是要吃个痛快！</span><span style="font-size: 14px;">提到高雄夜市一般人好像都会很推荐六合，其实呢，台湾在地人一般会去的是瑞丰夜市，六合则是观光客常去的，当然六合夜市有名的总统都夸赞的郑老牌木瓜牛奶，还是可以去试试的。六合夜市位于捷运美丽岛站，出站口就可以看到。</span></p>
<p><span style="font-size: 14px;">瑞丰夜市是高雄当地人最喜欢去的也是，里面的摊位超过一千个，除了美食云集，还有台湾特色的小商品进行售卖，种类五花八门。另外，它离高雄的地标“汉神巨蛋”也非常近。瑞丰夜市在捷运巨蛋站（不是台北小巨蛋哦）出站口往前走50米就能看到瑞丰的大牌子了。瑞丰相对于六合，好多摊位规模大一些，生意好的摊位要雇十几个人帮忙，而且吃东西要排号。最有名气的店有两家万国牛排和忽必烈蒙古烤肉。万国牛排什么时候去都是爆满，</span><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>不仅要排号，排了之后你还不能坐在用餐区等。因为里面的位子都是满的。不过味道和分量与等待比起来还是值得的，肉很大块。饮料有红茶和汤，可以无限畅饮， 鸡腿排是他家的招牌。<br></span><br></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'> <img title="高雄的美这么看才对噢！_图片_3" src="http://7xotew.com1.z0.glb.clouddn.com/article-108-3.jpg" alt="高雄的美这么看才对噢！_图片_3"></span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style="font-size: 14px;">搭乘高雄捷运红线，在巨蛋站下车，步行约8 分钟可达。</span><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'></span></p>
      </div>