<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-60-0.jpg" title="峇里情人  山无棱，天地合，也不与君绝_图片_0" alt="峇里情人  山无棱，天地合，也不与君绝_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">山无棱，天地合，也不与君绝</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">你有多久没和亲爱的Ta一同旅行？</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">在花莲，离市区不远的吉安乡，绵延辽阔的瓜果田园中，竟藏着一整园的南洋风情。这是峇里情人，极具小资情调的民宿，给你独门独院的专属假期。很适合情侣入住。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">发现另一个南洋，遇见峇里情人</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);   min-height: 19px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-60-1.jpg" title="峇里情人  山无棱，天地合，也不与君绝_图片_1" alt="峇里情人  山无棱，天地合，也不与君绝_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">略带湿热的微风，未曾添上几分烦躁，反为树下的凉阴带了几分意外的惬意。南洋风情总是都市人最向往的放逐生活旋律。逃脱规律生活的慵懒，是这里该有的心情；忘记明天责任的逃避，是这里允许的态度。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">峇里情人左边坐拥着中央山脉，右边交织了绿油油的田间小路，满眼是西瓜、是稻田、是花海，充满童年的气息。沿着自行车步道，往更开阔的那片湛蓝海奔去，棉花糖般的朵朵白云，更让你仿佛成为那雀跃兴奋的小鸟，振翅就要扑往天空翱翔。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">屋里屋外的每个元素，大多皆由主人卢大哥亲自挑选，再用货柜运回台湾。当时花莲还未有像这样强烈风格的民宿，卢大哥从南洋带回峇里岛的风采，织进花莲好山好水的田园风光中，仿佛娶了一名标致温柔的南洋媳妇，为东海岸的民宿添上一首异国恋曲。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">独门独户 求得一身舒展半日闲</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);   min-height: 19px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-60-2.jpg" title="峇里情人  山无棱，天地合，也不与君绝_图片_2" alt="峇里情人  山无棱，天地合，也不与君绝_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">推开那扇木制的大门，是近三十坪独门独户的庭院设计，鸡蛋花、红竹、懒人躺椅、小水池和发呆亭，让人仿佛置身峇里岛的错觉。发呆亭上木造的风铃传来清脆悦耳的声响，洗净旅人疲惫而烦躁的心。峇里情人隐身花莲郊区里的缓慢步调，你不必被谁打扰，只需要闲散地赖在这里远离尘嚣。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">柚木的香气盈满了整个房间，你可以躺在沙发椅上享受片刻放空的浪漫，也可以赖在公主床上和床撒娇，和从大窗流泄而进的明亮天光缠绵，尽情慵懒。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">VILLA馆配置着峇里岛原装的石材浴盆，放置在全采光的室内露天浴室中。沐浴泡澡时抬头，就能仰望满天星斗，享受整个闪烁的夜空。自己一人，或和心爱的人一起，在大自然的美景中，冷浸沐浴或热暖泡汤，换得身心灵的深层洗涤，求得一身舒展半日闲，人生快意莫过于此。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">起身后，冰箱里的啤酒饮料供妳畅饮，小吧台上的食物篮有零食、泡面，不只放松，还要小小放纵，在立体环绕音响的包围下，躺在床上观赏一部电影，在专属于你的Villa 消磨美好时光。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">每天限量Spa 专业按摩 要提前预约噢</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-60-3.jpg" title="峇里情人  山无棱，天地合，也不与君绝_图片_3" alt="峇里情人  山无棱，天地合，也不与君绝_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">每天限时限量的Spa 专业按摩，一晚至多只有八人的额度，如果不是提早预订机会也很难再得，特聘饭店的按摩师以优惠的价格提供给入住Villa 的你，预约订房时别忘了加购这实惠的体验噢。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">峇里情人大量采用峇里岛采购进口之原创元素，从户外的发呆庭、懒人椅到室内的各种家具摆饰，都将峇里岛的氛围直接引入了空气之中。如果你曾到过峇里岛游憩，这里的一切都将让你感到熟悉；如果你未曾来过这里，体验一下，你会喜欢她。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">峇里情人：<a href="/fishtrip/taiwan/hualian/" target="_blank" text="/fishtrip/taiwan/hualian/">http://www.fishtrip.cn/houses/Z26iuDxOpGk</a></p>
<p><br></p>
      </div>