<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="font-size: 24px; color: rgb(0, 176, 240);"><strong><span style="font-size: 24px; font-family: 微软雅黑, 'Microsoft YaHei';">哇！一定要尝的美食</span></strong></span></p>
<p><span style="font-size: 24px; color: rgb(0, 176, 240);"><strong><span style="font-size: 24px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">鱼丸伯仔</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">数十年的老店，鱼丸汤，汤头鲜香，纯鱼肉做的鱼丸Q弹无比，冬粉爽滑地道；干冬粉上面淋的酱汁特别棒，拌着吃味道极好。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-97-0.jpg" title="九份吃喝行一条龙给你甩过来了_图片_0" alt="九份吃喝行一条龙给你甩过来了_图片_0"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">阿柑姨芋圆</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来到九份竽圆几乎是必吃的美食之一，除了口感佳之外，它们的甜汤味道也很棒，若是点冰的会以小碎冰方式来处理；除了竽圆外，它们的地瓜圆也很好吃，建议点二合一来嚐嚐。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-97-1.jpg" title="九份吃喝行一条龙给你甩过来了_图片_1" width="500" height="667" border="0" style="width: 500px; height: 667px;" alt="九份吃喝行一条龙给你甩过来了_图片_1"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">阿兰草仔粿</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">九份旧道里的小店铺，手掌心大的分量，薄薄的糯米皮里包裹的炒制好的菜。薄的透明的皮，非常Q软，有芋头，菜脯，甜红豆，咸绿豆，咸菜几种口味，一个一个，咸咸香香的，大家都喜欢的小吃。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-97-2.jpg" title="九份吃喝行一条龙给你甩过来了_图片_2" alt="九份吃喝行一条龙给你甩过来了_图片_2"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">护理长的店</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">用蜂蜜卤的卤味，卤味其实闻起来挺重口的，很大的蒜味，但吃起来就是另一番风味了。推荐花枝，甜不辣和米血糕。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-97-3.jpg" title="九份吃喝行一条龙给你甩过来了_图片_3" alt="九份吃喝行一条龙给你甩过来了_图片_3"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">阿妹茶楼</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">竖崎路上，最火红的店家非阿妹茶楼莫属了，夜色中火红的阿妹茶楼招牌吸引着微凉夜裡每个 路人的目光，给予了些许暖意。走入阿妹茶楼，外观建筑带些中式又有融入日式建筑的风味，这裡不止台湾人爱来，连喜欢到九份一游的日本客人，都很多指名要到 阿妹茶楼感受台日中和的风味。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-97-4.jpg" title="九份吃喝行一条龙给你甩过来了_图片_4" alt="九份吃喝行一条龙给你甩过来了_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">九份交通建议</span></strong></span></p>
<p><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">从台北去九份</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">方法一：从台北火车站出发—搭火车—到瑞芳火车站下车—转搭基隆客运(公车)—抵达九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从台北火车站—瑞芳</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">火车站单程票价：自强号台币76/人、莒光号台币59/人</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">瑞芳火车站转搭基隆客运—九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">单程票价：台币15元/人</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">方法二：台北火车站出发—搭火车—到瑞芳火车站下车—转搭台湾好行公车─黄金福隆线—抵达九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从台北火车—瑞芳火车站同上</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">瑞芳火车站转搭台湾好行—九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">票价：一日券台币100元，购票当日内，不限次数上下车。不需多想多问，直接买一日券最划算了。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">方法三：台北捷运忠孝复兴站出发—转搭基隆客运(公车)—抵达九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">捷运忠孝复兴站：请走一号出口，乘车位置为台北市复兴南路一段152号(Tasty西堤牛排前)。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">转搭基隆客运1061/1062&gt;九份</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">单程票价：台币102元／人</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">九份当地交通</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">九份是个山城，独特的山坡和阶梯式的建筑景观是这里的特色之一。九份最著名的怀旧景观九份老街是观光客最喜欢来的地方，九份老街的道路多依山势而建，汽车不能进入。所以在九份旅行，交通主要是靠步行。</span></p>
<p><br></p>
      </div>