<div class="article__content article-richedit-content">
        <p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">高铁和台铁是不能直接到达垦丁的，只能转乘客运巴士。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">垦丁交通攻略之沿西海岸南下</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选路线一：高铁「左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选路线二：台铁「新左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选路线三：搭乘台铁至「高雄火车站」，再换乘巴士前往垦丁。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">垦丁快线的车程为2小时，票价为台币418元/人。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">垦丁列车9117路线的车程为3小时，票价为台币364元/人；9188路线的车程为2小时30分，票价为台币383元/人。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">垦丁交通攻略之沿东海岸南下</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选路线：搭台铁至「枋寮站」，换乘「垦丁快线」或「垦丁列车」。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">垦丁交通攻略之从花莲到垦丁</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选路线一：搭台铁至枋寮站」，换乘「垦丁快线」或「垦丁列车」。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">花莲-枋寮间每天只有5班左右的火车通行，除了一班很难买到票的莒光号环岛观光列车外，其余均为自强号，行车时间约4~4.5小时。「枋寮站」换乘「垦丁快线」或「垦丁列车」行车时间约1小时。</span></p>
<p> </p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">可选方案二：花莲</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">-枋寮间的直达火车票并不好买，因此可以考虑在台东转车。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">1) </span><span style="font-family:'微软雅黑','sans-serif';color:#444444">花莲-台东可以搭自强号与莒光号，每天至少有15班，行车时间，自强号约2~2.5小时，莒光约3.5~4小时</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">2) </span><span style="font-family:'微软雅黑','sans-serif';color:#444444">台东-枋寮间可搭任何一种火车，包括自强号、莒光号、区间车，还有少见的普快车（跟区间车很像，但车较旧，无空调）,行车时间1.5~2小时。这段路程停靠站少，搭什么火车都行，路程时间差半小时左右而已。车的买不到座位，用站的应该也能接受。</span></p>
<p style="min-height: 26px"> </p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">垦丁交通攻略之小贴士</span></p>
<p style="line-height: 26px;background: white"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">1</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">、垦丁-枋寮段的公路，过年期间一向是易堵车的路段，行车时间很难确认，千万不要在下午3~7点间由垦丁搭车往枋寮、高雄方向（往垦丁方向不赶着搭火车，顶多晚点到垦丁而已）。</span></p>
<p style="line-height: 26px;background: white"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">2</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">、垦丁是冬日台湾最温暖的地方，花莲、台东是需3~4天旅行的地点，因此每年过年期间均是人山人海，即使交通问题能解决也可能卡在住宿上，没先订房的朋友千万别去。</span></p>
<p style="line-height: 26px;background: white"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">3</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">、清明前后的垦丁音乐节（春吶）也是垦丁住房最紧张的时期之一，去之前一定要先安排好住宿。</span></p>
<p> </p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">垦丁民宿预定请戳大鱼：<a href="/fishtrip/taiwan/kending/" target="_blank" text="/fishtrip/taiwan/kending/">http://www.fishtrip.cn/taiwan/kending</a> </span></p>
<p><br></p>
<p><br></p>
      </div>