<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">来到花莲一定要品尝的美食</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">自强夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       <img src="http://7xotew.com1.z0.glb.clouddn.com/article-72-0.jpg" title="你终于要来了，先看一眼花莲的食色风光吧_图片_0" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="你终于要来了，先看一眼花莲的食色风光吧_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">便宜、好吃、选择多，有喷香的烤肉、花莲市棺材板、老牌润饼等，全都值得一尝。摊位16：00陆续开始营业，至凌晨1：30左右收摊。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">炸蛋葱油饼</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-72-1.jpg" title="你终于要来了，先看一眼花莲的食色风光吧_图片_1" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="你终于要来了，先看一眼花莲的食色风光吧_图片_1"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">金黄酥脆的饼皮包裹着一颗半生不熟颤颤巍巍的鸡蛋黄，一口咬下去嫩滑的蛋汁融合了饼皮的香脆，在口腔内绽放出无法形容的美妙滋味，让人欲罢不能。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">公正包子</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-72-2.jpg" title="你终于要来了，先看一眼花莲的食色风光吧_图片_2" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="你终于要来了，先看一眼花莲的食色风光吧_图片_2"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">24小时营业的公正包子闻名全台，是到花莲必吃的美食之一。热气腾腾的蒸笼里摆着令人垂涎欲滴的包子，一口咬下，微甜Q软的外皮与饱满扎实的肉馅，满嘴都是让人意犹未尽的鲜美肉汁的味道。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">液香扁食</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-72-3.jpg" title="你终于要来了，先看一眼花莲的食色风光吧_图片_3" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="你终于要来了，先看一眼花莲的食色风光吧_图片_3"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">液香扁食是花莲市久负盛名的老字号，选择猪腿肉作为肉馅，外皮薄透有弹性，配上爽口不腻的猪大骨汤头，还有油葱和芹菜增加香味，轻松征服所有人的味蕾。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">花莲交通建议</span></strong></span></p>
<p><span style="font-size: 24px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">公交</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲市区内公交车目前有五条路线，由花莲客运和太鲁阁客运所经营。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">皆为分段票价，一段票全票23元、半票12元，二段票全票46元、半票24元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">102 光华乐活线：花莲火车站←→南滨公园←→海洋公园</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">105 七星潭线：花莲火车站←→门诺医院←→七星潭</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">202 水源线：花莲火车站←→慈济医院←→水源村</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">301 东华大学线：花莲火车站←→彩虹观光夜市←→国立东华大学全线为纯电动低底盘公车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">302 太鲁阁线：新城火车站←→太鲁阁国家公园←→天祥全线为纯电动公车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">出租车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲出租车起步价一般为80元或100元新台币，每超过350米加跳5元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">自行车</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲有苏花公路等完备的自行车骑行路线，去花莲可以租辆自行车体验骑行。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">大巴</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">去太鲁阁国家公园、七星潭、东部海岸线等景点可以选择搭乘台湾好行大巴的旅游巴士。分段计价，可以使用悠游卡。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">租车、包车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲县内各车站附近都有汽车出租店，费用按天数计算，依车型不同有差价。一般来说，国产车最便宜每天约1300元新台币。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲包车半天4小时大约1500-2000台币，全天8小时大约2500-3500新台币。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">还可以试试这些特别活动</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);"><br></span></strong></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">赏鲸</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">从每年4月开始至11月都是花莲鲸鱼的活跃期~您与家人可以坐上船出海赏鲸，开启一段迷人的旅程吧！湛蓝的海水、成群的鲸豚，您可以收获满满的惊喜，感受一幕幕动人的画面，好玩又有趣！花莲渔港是目前台湾赏鲸豚交通最便利、发展最成熟的渔港，这里还设有赏鲸豚专用的休闲码头。一趟赏鲸活动约3—4小时，包含了约20分钟的行前说明；而实地出海时，船长或船上解说员也会详尽介绍鲸豚的习性，以及各种海洋知识。</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-72-4.jpg" title="你终于要来了，先看一眼花莲的食色风光吧_图片_4" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="你终于要来了，先看一眼花莲的食色风光吧_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：在花莲港乘船，全程约2-3小时。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：半天</span></p>
      </div>