<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">去大阪玩，又不想逛神社寺庙这种传统的旅游景点，那就看看这篇攻略吧～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">环球影城</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-0.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_0" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如果“环球影城”这个名字在你听来和电影院没差，那你一定得来这里看看。日本环球影城是继好莱坞环球影城和佛罗里达环球影城之后的世界上第三座以好莱坞电影为主题的主题游乐园，是和东京迪斯尼齐名的主题游乐园，拥有众多的体验项目和主题表演。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-1.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_1" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;">哈利波特迷必朝圣之地</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-2.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_2" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_2"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-3.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_3" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_3"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">哈利波特、史努比、Hello Kitty、<span style="font-family: Helvetica; font-size: 15px;  ">好莱坞大片、</span>日本动漫……到了晚上还有贞子和僵尸游行～和电影有关没关的，只要你想看，这里都能有。如果寺庙神社之类的景点不在你的计划之内，去大阪完全可以把环球影城排在第一目的地。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(84, 141, 212);">大鱼提示：环球影城的票价不固定，周末或节假日相对较贵，去之前要做好攻略噢～</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">阪神甲子园球场</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-4.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_4" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如果你看过《棒球英豪》，那么对甲子园应该不会陌生。阪神甲子园球场是日本职棒坂神虎队的主场，假如你是日本职业棒球迷，这是个朝圣的地方。如果你不是棒球迷也没关系，去看看瞧瞧也是不错的。可以事先查看一下有没有棒球比赛，一般职业比赛都在周六周日或者晚上，可以去感受一下。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-5.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_5" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_5"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-family: Helvetica; font-size: 15px;  ">甲子园球场3大名物是咖哩饭、串烧、甲子园大坂烧。可以边吃边看球赛噢～</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-6.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_6" style="font-family: sans-serif; font-size: 16px; float: none;" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="font-family: Helvetica; font-size: 15px;  ">交通：从</span><span style="font-family: Helvetica; font-size: 15px;  ">大</span><span style="font-family: Helvetica; font-size: 15px;  ">阪</span><span style="font-family: Helvetica; font-size: 15px;  ">火车站，坐阪神电车(注意，不是JR)，有一站是甲子园，下车即到。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">文青必去  中崎町</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-7.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_7" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大坂的中崎町，是一个很迷人的小区，没有什么游客，但却有很多特色店家，复古怀旧的房子也不少，看起来就是个淘货的好地方。咖啡喫茶店、甜点蛋糕店、日杂手作店、特色服饰店、时尚配件店，一不小心，就在店家着了魔，走累了就找间咖啡店休息，反正怎么逛，时间都是你决定。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-8.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_8" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_8"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;">一家全是长颈鹿手作的店</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-9.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_9" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_9"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;"></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-10.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_10" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_10"></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-11.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_11" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_11"></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-12.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_12" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_12"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="font-size: 12px;">好多买衣服的店，大鱼君看完也好想逛！</span><span style="font-size: 12px;"><br></span><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">交通：搭谷町线到中崎町駅出来就是</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">黑门市场</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-13.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_13" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_13"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">到京都要逛锦市场，来大坂自然就是逛黑门市场。相信喜欢吃的人，大多数也都是喜欢逛市场的人，因为在市场里时常能挖掘到一些特别的新鲜食材或是市场才有的熟食。而且日本市场的干净程度超乎你的想象，完全颠覆了对市场的印象。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-14.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_14" style="font-family: sans-serif; font-size: 16px; float: none;" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_14"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">黑门市场的范围不算大，走马看花的逛过去大约也就二、三十分钟的事。里头有生鲜食材、熟食、渍物、药妆店、酒店、水果店、杂货店以及餐饮店，可说是应有尽有。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">黑门市场</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址：大坂府大坂市中央区日本桥2-4-1</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">心斋桥</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-15.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_15" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_15"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">去心斋桥必败药妆，这是买手们的心得。除了药妆，心斋桥还是大阪最好买、最好逛的地方。五花八门、琳琅满目的衣服、流行饰品，到高级的 LV精品店都有的逛，而且从早逛到晚，每天在这找特价品、比一比也是购物的乐趣。</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-16.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_16" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_16"></p>
<p><span style="font-size: 12px; font-family: Helvetica;  ">心斋桥松本清</span></p>
<p><span style="font-size: 12px; font-family: Helvetica;  "><br></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址：大坂市中央区心斋桥筋1丁目和2丁目</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">心斋桥和道顿掘的会和之处。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-17.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_17" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_17"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">道顿崛</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-18.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_18" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_18"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">逛完心斋桥，可以直接来道顿崛开吃了。大坂素有关西厨房之美誉，尤其在<span style="font-family: Helvetica; font-size: 15px;  ">道顿崛</span>，可以找到各式各样的美食。<span style="font-family: Helvetica; font-size: 15px;  ">道顿崛</span>其实是一条运河，沿着运河旁两旁有很多的美食餐厅、还有娱乐场所。按《孤独的美食家》里叔的话说“想找好吃的，往水边走总没错”。上图中的这个男子更是常被杂志拿来作代表大坂的照片。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-19.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_19" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_19"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">在<span style="font-family: Helvetica; font-size: 15px;  ">道顿崛</span>，你可以吃到大阪所有知名的美食：大阪烧、四天王拉面、章鱼烧、蟹道乐……如果实在选不定吃哪家，肚子还不是很饿的话，看哪里有人排队就去哪儿吃吧～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">大阪新世界</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-20.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_20" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_20"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大坂在通天阁旁的新世界 Shinsekai，感觉有点像东京的上野，但没那么热闹，有很多美食、小吃、商店，还有温泉，建议上通天阁之前，在新世界吃串炸，然后走走逛逛、寻宝一下也不错噢。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">在新世界区，最特别的就是有一个多国风情泡汤区，大坂 SUPER WORLD 世界大温泉，里面可是有 11个国家16种不同浴场的温泉世界，可以让你泡上一整天。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-21.jpg" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_21" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_21"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大坂市浪速区戎桥1丁目-2丁目</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">交通方式：地铁御堂筋线动物园前站 5号出口、地铁堺筋线惠美须町站、JR环状线至新今宫站</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">Kintetsu 近铁百貨公司</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-22.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_22" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_22"></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-23.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_23" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_23"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大坂阿倍野也越来越热闹了，超高的大楼 Abeno Harukas 已经变成大坂最高的地标之一，地下2楼到14楼也是超多店铺的Kintetsu近铁百货公司。Kintetsu近铁百货非常大，有两栋楼，可以逛到你腿软。如果想直奔美食，就到地下美食街，各种甜品小吃绝对让你眼花缭乱。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-164-24.jpg" style="float:none;" title="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_24" alt="大阪怎么玩？（大阪吃喝玩乐攻略）_图片_24"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址：大坂市阿倍野区阿倍野筋1-1-43</p>
<p><br></p>
      </div>