<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">一定要品尝的美食</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">一品卤味</span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-0.jpg" title="呐！去垦丁可以这么吃喝玩_图片_0" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="呐！去垦丁可以这么吃喝玩_图片_0"></span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">卤味种类丰富，卤料及熬卤的时间都是精准控制，为适应时代的发展，店铺还创新推出断魂辣口味，更是将卤味的口味再做提升。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">打洞香肠</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-1.jpg" title="呐！去垦丁可以这么吃喝玩_图片_1" alt="呐！去垦丁可以这么吃喝玩_图片_1"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">延用50年的古老手工制作手艺，香气诱人，肉质嫩滑。还有高粱酒、飞鱼卵口味，喜欢探索新口味的游客值得一试。原味香肠也是令人回味无穷。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">QQ蛋奶</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-2.jpg" title="呐！去垦丁可以这么吃喝玩_图片_2" alt="呐！去垦丁可以这么吃喝玩_图片_2"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">亲民的价格，不一样的体验。浓浓的奶香，爽口有嚼劲的黑糖粉圆，绝妙的搭配。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">小叮当烤鱿鱼</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-3.jpg" title="呐！去垦丁可以这么吃喝玩_图片_3" alt="呐！去垦丁可以这么吃喝玩_图片_3"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">烤鱿鱼到处可见，但是垦丁大街的鱿鱼，新鲜又大只，沾酱浓郁，加点辣更是可口，咸咸辣辣甜甜的口味，肉质弹牙，让人想要再来一只！</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;">
<li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">OCEAN BLUE （海餐厅）</span></strong></p></li>
<li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-4.jpg" title="呐！去垦丁可以这么吃喝玩_图片_4" alt="呐！去垦丁可以这么吃喝玩_图片_4"></span></strong></p></li>
</ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁街上有一栋洋溢着南洋风情的建筑物，远远的就可以看到雪白的外墙搭配着宝蓝色的落地大窗，心灵和视觉都可以得到充分的享受。喜欢南洋料理的你，可多了一间不可错过的美食店。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">垦丁交通攻略</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">如何到达</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高铁和台铁是不能直接到达垦丁的，只能转乘客运巴士。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线一：高铁「左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线二：台铁「新左营站」换乘「垦丁快线」或「垦丁列车」</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选路线三：搭乘台铁至「高雄火车站」，再换乘巴士前往垦丁。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁快线的车程为2小时，票价为台币418元/人。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁列车9117路线的车程为3小时，票价为台币364元/人；9188路线的车程为2小时30分，票价为台币383元/人。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">垦丁交通</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">1.电动车：每天租金约170元人民币，每台最多可载2人。租车的地方最好离住的地方比较近，这样不管是换电池或还车时回去都比较方便。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">2.包车：如果出行人较多又比较赶时间的话，包车无疑是最便捷的选择，因为一天能去很多地方，还能让司机师傅找到最佳的拍照地点。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">大鱼给您推荐的特色活动</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">夜宿海生馆</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-88-5.jpg" title="呐！去垦丁可以这么吃喝玩_图片_5" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="呐！去垦丁可以这么吃喝玩_图片_5"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来到国立海洋生物博物馆仿佛全家老小都变成了自由自在的鱼，在馆内您和家人可以与成千上万的海洋动物共同遨游。</span><span style="font-family: 微软雅黑, sans-serif; font-size: 14px; line-height: 26px; background-color: white;">全亚洲最长的海底隧道、独特的沉船布景、喂食表演、3D影片<span style="font-family: 宋体, SimSun; font-size: 14px;">……</span>看到小朋友洋溢着幸福的笑脸就知道这里有多么的受欢迎了。晚上再住在海生馆，海洋世界的日与夜美景尽收眼底。</span></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">社顶部落夜探梅花鹿</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">入夜后，社顶部落的夜行性动物都开始大展身手，您可以和家人切身体会野生动物的世界了。虎皮蛙、小雨蛙、萤火虫都开始出来活动，当然还有最惹人喜爱的梅花鹿也开始它的夜间旅程，能不能看到梅花鹿，就要看您和家人的运气了。19:30集合，持续时间约2个小时。</span></p>
      </div>