<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲除了有美丽的风景外，还有令人垂涎欲滴的美食哟~</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">大鱼自助游贴心的为大家整理了花莲美食，一定要去品尝呀</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-67-0.jpg" title="台湾美食：最地道花莲美食攻略_图片_0" width="600" height="451" border="0" style="width: 600px; height: 451px;" alt="台湾美食：最地道花莲美食攻略_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲美食推荐之鹅肉先生<br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      鹅肉先生当然是吃鹅肉的好去处，鹅肉是招牌菜。除了鹅肉也还有很多选择，鱼卵沙拉、米血糕、卤肉面等。</span></p>
<p><span style="font-size: 14px;">地址：花莲市中山路259号</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之赖桑寿司</span></p>
<p><span style="font-size: 14px;">      赖桑寿司主营台式改良日本料理，鱼片比饭多，生意好到周末只许点单一次。</span></p>
<p><span style="font-size: 14px;">地址：花莲市中正路335号</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之炸蛋葱油饼</span></p>
<p><span style="font-size: 14px;">     到花莲必吃小吃之一，有两家“老牌”和“102号”，都是需要排队就餐的噢~</span></p>
<p><span style="font-size: 14px;">地址：花莲市复兴街</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之公正街包子店</span></p>
<p><span style="font-size: 14px;">     台湾最正宗的传统味道，家喻户晓的好味道，唇齿留香，24小时不打烊。</span></p>
<p><span style="font-size: 14px;">地址：花莲市中山路199-2号</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之五霸包心粉圆</span></p>
<p><span style="font-size: 14px;">     “冰中的艺术品”，內馅有超多东西（雪莲子、咖啡、抹茶、水果、芋头、花生、黑芝麻、玫瑰、红豆、桂花等）</span></p>
<p><span style="font-size: 14px;">地址：花莲市博爱街165号</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之曾记麻薯</span></p>
<p><span style="font-size: 14px;">      第一代创办人曾水港先生当年可以沿街叫卖的，始终坚持传统手工古法搓揉拍摔打出糯米的弹性，变成最Q软的外皮，有红豆、绿豆、黑豆、花生、芝麻、叶子、抹茶等多种口味。</span></p>
<p><span style="font-size: 14px;">地址：花莲市民国路4号、中华路161号、中山路142号、中正路538号、国联一路79号、火车站前左侧</span></p>
<p><span style="font-size: 14px;"><br></span></p>
<p><span style="font-size: 14px;">花莲美食推荐之达基力部落屋</span></p>
<p><span style="font-size: 14px;">       原住民风味，没有菜单，根据季节为客人搭配不同的菜色。</span></p>
<p><span style="font-size: 14px;">地址：花莲县秀林乡崇德村96号</span></p>
<p><br></p>
<p><span style="font-size: 14px;">花莲住宿推荐：</span><a href="/taiwan/hualian/" target="_blank">http://www.timlentse.com/taiwan/hualian/</a> </p>
<p><br></p>
      </div>