<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">阳明山公园原名草山，后为纪念王阳明先生而改名，是全台最大、景色最美的郊野公园。阳明山公园有非常完整的火山地形，园内满山遍野种植各种樱花、杜鹃、茶花、桃花等，有“台北后花园”的美称，是台北市民最喜欢的节假日出游地点。<br></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-16-0.jpg" title="台湾阳明山游玩攻略_图片_0" alt="台湾阳明山游玩攻略_图片_0"></p>
<p><br></p>
<p><span style="font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="font-size: 16px; color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    赏花</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">公园遍植台湾原生山樱、日本樱及梅花、杜鹃花、茶花、碧桃、杏花等花木，每年12月至次年4月间次第盛开。春季是阳明山公园最热闹的季节，放眼望去，花团锦簇，美不胜收，赏花游客络绎不绝，人潮满满。</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><strong style="color: rgb(255, 255, 255); white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    </span></strong>赏萤</span></strong></span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">阳明山公园是大台北地区赏萤的好去处。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">观赏萤火虫可前往平等里坪顶古圳步道、菁山、竹子湖 、马槽及二子坪步道等地。赏萤火虫最好的时间为每年的4-6月。</span></p>
<p></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><strong style="color: rgb(255, 255, 255); white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    </span></strong>泡温泉</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">以火山群为主体的阳明山公园，拥有外型特殊的锥状或钟状火山体，及火山口、火口湖等独特的地质地形景观。区内的大油坑、小油坑、马槽、大磺嘴等地，都可见到强烈的喷气孔活动；而分布于园区内的多处温泉区，如马槽温泉，早已远近驰名。</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);"><strong style="color: rgb(255, 255, 255); white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    </span></strong>竹子湖</span></strong></span></p>
<p><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-16-1.jpg" title="台湾阳明山游玩攻略_图片_1" alt="台湾阳明山游玩攻略_图片_1"></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">竹子湖是大台北地区夏季蔬菜的主要供应源之一。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">竹子湖植物景观中最负盛名的为海芋，海芋花期从12月至隔年5月，其中最盛产的时间是在 3、4月，游客可在这个时间来到竹子湖参加最著名的竹子湖海芋季，每年都会设定不同的主题活动，如海芋农田体验、田园景观写生、海芋花展、摄影比赛等。</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><strong style="color: rgb(255, 255, 255); white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    </span></strong>冷水坑</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在这里可欣赏到特有的火山地热景观，如山爆裂口、硫气孔、喷气孔等。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">冷水坑景区内著景点有：</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●绢丝瀑布：此瀑布为内双溪的源流，泉水顺流而下，犹如绢丝下垂，故有此名。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●牛奶湖：因游离的硫磺微粒，致使沼泽水色混浊，经缓缓沉淀后，在池底形成土状矿层，磺土呈白黄或淡灰色，故有此称名。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">●梦幻湖生态保护区：其特殊景观即为一种在湖中生长的稀有蕨类----台湾水韭，此种植物极为稀有，是被列为“国宝级”的天然植物。</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);"><strong style="color: rgb(255, 255, 255); white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">台湾阳明山游玩攻略之    </span></strong>交 通</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">捷运：搭乘捷运淡水线至剑潭站，转乘260、红5公车至阳明山站即可到达。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">公车：搭乘108、109、110、111（假日）、219、260、260（区间车）、535（副）、小9、小9（区间车）、红5至阳明山站。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">自驾：下台北（重庆北路）交流道，经百龄侨、中正路、仰德大道至阳明山，循指标续行可达后山公园，全程约12公里。</span></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">更多台北特色民宿预定就在：</span></strong><a href="/taiwan/taibei/" style="font-family: 微软雅黑, 'Microsoft YaHei'; text-decoration: underline; font-size: 18px;" target="_blank">http://www.timlentse.com/taiwan/taibei/</a><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;"> </span></strong></p>
<p><br></p>
<p><br></p>
      </div>