<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">吃吃吃！特色小吃推荐</span></strong></span><br></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">郑老牌木瓜牛乳</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">郑老牌木瓜牛乳摊可是相当的知名，不论是马英九，还是李嘉欣、胡瓜、张宇等大批的艺人也曾光顾。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-104-0.jpg" title="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_0" alt="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_0"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">棺材板</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">棺材板是台湾的经典名小吃，出自台南。“棺材板”以前叫“鸭肝饭”，也叫“官材板”，含有升官发财的意思。由于食材土司面包的外形和炸制过的色泽状似台湾南部的松木棺材，所以把这道美食称之为棺材板。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-104-1.jpg" title="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_1" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_1"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">担仔面</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">首推这里的担仔面，最大特色在于它的肉臊，再加上一只味道鲜美的虾子，虽然就这么小小一碗，但风味独特，回味无穷。外加个卤蛋，也只要30元新台币。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-104-2.jpg" title="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_2" alt="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_2"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">海鲜粥</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">到六合夜市，不得不吃最负盛名的海鲜。海鲜粥汤清料实在，最重要的是海产新鲜，以大骨、柴鱼熬成高汤，再搭配花枝、鲜蚵、鲜虾、文蛤等材料，已经出名20多年，平常1天就能卖2000多碗。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-104-3.jpg" title="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_3" alt="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_3"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">筒仔米糕</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">与油饭类似，却是在瓷瓶、竹筒或铁罐中炊煮而成，香喷喷的糯米上，淋有肉香四溢的特制作料，口味浓郁，是许多老饕的最爱。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-104-4.jpg" title="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_4" alt="高雄吃吃喝喝，再带点回家，我来给点意见呗！_图片_4"></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">夜市</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">六合夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高雄最具代表性的夜市，也是仅次于台北士林夜市的台湾第二大夜市。白天这里是笔直的大马路，入夜后车水马龙热闹非凡，各种本地可口美食琳琅满目，经济实惠，大批量观光客均慕名而来，知名度颇高，已被列为观光夜市。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：搭乘公交车坐至大圆环站，或搭乘捷运橘线至美丽岛站往中山一路方向步行即可到达六合夜市。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐美食：郑老牌木瓜牛奶、棺材板、中盐蒸虾、筒仔米糕、臭豆腐、乌鱼腱、海鲜粥、过鱼汤、十全药炖排骨、担仔面、土魠鱼羹……</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：每日17:00至次日1:00</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">瑞丰夜市</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台湾当地人爱去的夜市，人很多，相对六合夜市比较拥挤。不过瑞丰夜市周一和周三不开市，六合是每天都开。</span></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<p><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">买买买！伴手礼推荐</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">美浓纸伞、旗山香蕉、甲仙芋头 大树玉荷包</span></p>
      </div>