<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在彰化，让我们回到精诚中学找回《那些年，我们一起追的女孩》中的青春热血。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在彰化，让我们跟随着罗大佑的《鹿港小镇》去体验古朴小镇风光。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">跟着大鱼一起，漫步彰化，彰化自由行，感受小镇的动人心弦。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-0.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_0" width="500" height="336" border="0" style="width: 500px; height: 336px;" alt="台湾彰化旅游攻略——彰化自由行_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(255, 255, 255);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);">彰化旅游攻略之必去景点</span></strong></span></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鹿港小镇</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     鹿港镇，位于鹿港溪北岸，隶属台湾彰化县，人口仅有八万。伴随罗大佑那首耳熟能详的《鹿港小镇》而早已名声在外。  这个靠海的地方，渔村遍布，民风古朴，至今仍散发着浓厚的台湾本土风情，正如罗大佑在《鹿港小镇》中所唱：“台北不是我的家，我的家乡没有霓虹灯，鹿港的清晨，鹿港的黄昏。”散发着浓浓台湾本土气息的鹿港，能带你回最纯真的台湾。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：彰化→鹿港（彰化客运）：在彰化火车站下车，到对面彰化市中正路561号搭乘彰化客运到鹿港，约10-20分钟一班，车程约30-40分钟，电话：(04)7224603 </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：全天</span></p>
<p><span style="font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; color: rgb(102, 102, 102); line-height: 21px; widows: auto; background-color: rgb(255, 255, 255);"><br></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-1.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_1" width="500" height="376" border="0" style="width: 500px; height: 376px;" alt="台湾彰化旅游攻略——彰化自由行_图片_1"></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鹿港天后宫</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       历史悠久、香火鼎盛的鹿港天后宫是全台“四大妈祖庙”之一。如今的庙宇1936年重建，庙宇恢弘，雕梁画栋独具匠心，宗教建筑古色古香，常常吸引各地游客驻足观看。人来人往的的殿堂里，淡淡萦绕的香气，有一种能让人心安的魔力。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：彰化县鹿港镇中山路430号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：6:00--22:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：30min</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">电话：04-777-9899</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 26px;  background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><br></span></span></span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 26px;  background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-2.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_2" width="500" height="331" border="0" style="width: 500px; height: 331px;" alt="台湾彰化旅游攻略——彰化自由行_图片_2"></span></span></span></span></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鹿港老街</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      鹿港老街主要指鹿港的「古市街」与「五福大街」一带，这条街上有不少的具有台湾南部特色的小零食与新奇的小玩意儿，一声声吆喝和一声声问候，共同构成了着温暖人心的鹿港老街，让人回味童年的记忆。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台湾彰化县鹿港镇瑶林街鹿港老街。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：至晚上八点</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：2小时</span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-3.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_3" width="500" height="333" border="0" style="width: 500px; height: 333px;" alt="台湾彰化旅游攻略——彰化自由行_图片_3"></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><br></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);">摸乳巷</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      鹿港有许多的小巷，其中最为著名的当然莫过于这条名字令人浮想联翩的摸乳巷！其实这是一条拥有200年历史的防火巷。因为宽度仅有70厘米，只能容许一人通过，如碰巧两人相遇，只好跻身而过，因此有“摸乳巷”的戏称。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：鹿港镇北街菜园路38号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：全天<br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：2小时</span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 26px;  background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 26px;  background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-4.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_4" width="500" height="336" border="0" style="width: 500px; height: 336px;" alt="台湾彰化旅游攻略——彰化自由行_图片_4"></span></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 26px;  background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">彰化扇形车库</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       彰化扇形车库是台湾仅存的扇形火车库，放射状的半圆弧车壳，通过吊车转盘引导火车驶入正确的轨道，之后即使再对其进行诊断与维修，或直接停在库房里。这一站现在已经成了许多铁道迷和怀旧迷的必到之处了。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：彰化县彰化市彰美路1段1号。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：09:00~16:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：1小时</span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-5.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_5" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="台湾彰化旅游攻略——彰化自由行_图片_5"></span></span></p>
<p><span style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(68, 68, 68); line-height: 26px; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 'Hiragino Sans GB', 'microsoft yahei', 宋体; font-size: 14px; line-height: 21px;  widows: auto; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">精诚中学</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      记得九把刀在微博中写到，“看吧，我把我的母校精诚中学拍得多美！”在某一个角落，柯腾看沈佳宜扎的马尾看入了神；在某一角落，柯腾和沈佳宜一起半蹲罚站；一定还有一个角落，是属于你和你的那个他/她的，纯真的中学时代，该是心中永远珍藏的最美记忆。到精诚中学，寻找属于你的那个角落。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：彰化县林森路200号。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：全天</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议游玩时间：2小时</span></p>
<p><span style="color:#444444;font-family:微软雅黑, 宋体, Arial, Helvetica, sans-serif"><span style="font-size: 14px; line-height: 26px; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="color:#444444;font-family:微软雅黑, 宋体, Arial, Helvetica, sans-serif"><span style="font-size: 14px; line-height: 26px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-6.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_6" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="台湾彰化旅游攻略——彰化自由行_图片_6"></span></span></p>
<p><span style="color:#444444;font-family:微软雅黑, 宋体, Arial, Helvetica, sans-serif"><span style="font-size: 14px; line-height: 26px; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="color: rgb(255, 255, 255);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);">彰化旅游攻略之美食小吃</span></strong></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">阿璋肉圆</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      彰化阿璋肉圆，《那些年，我们一起追的女孩》场景之一，也是九把刀念高中时时常光顾的店。Q软的外皮由番薯粉加水制成，馅料中包含小鲜肉、红葱头、鲜笋丁和香菇，酱汁由酱油、花生粉加糯米粉调成稠酱，端上之前会淋一匙锅中的汤汁，口感香甜鲜美。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台湾彰化县彰化市长安街144号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">电话：(886-04)7229517</span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-7.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_7" width="500" height="265" border="0" style="width: 500px; height: 265px;" alt="台湾彰化旅游攻略——彰化自由行_图片_7"></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">老龙师肉包</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      老龙师肉包在当地传承多年，肉包皮薄馅足，肉为小粒状，鲜香多汁，有入口即化的快感，价格平民化，18NT一个。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台湾彰化县鹿港镇三民路136号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">电话：(886-04)7777402</span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-8.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_8" width="500" height="376" border="0" style="width: 500px; height: 376px;" alt="台湾彰化旅游攻略——彰化自由行_图片_8"></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">彰化玉珍斋</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       传承四代的点心名店，凤梨酥、牛舌饼、凤眼糕、铜锣烧均美味而有名。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：鹿港镇民族路168号</span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-9.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_9" width="500" height="379" border="0" style="width: 500px; height: 379px;" alt="台湾彰化旅游攻略——彰化自由行_图片_9"></span></p>
<p><span style="font-size: 14px; line-height: 26px; color: rgb(68, 68, 68); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);"><br></span></p>
<p><span style="color: rgb(255, 255, 255);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);">彰化旅游攻略之民宿推荐</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">童年往事庄园民宿</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       装修很有风格，老板是一个有故事的人，热情好客。从民宿到天后宫和鹿港老街仅需步行5-10分钟。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：彰化民宿 · 福兴乡福兴村福兴路62-500号     </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">参考房型：双人房、四人房、八人房</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">预订地址：</span><a href="/fishtrip/taiwan/zhanghua/" title="" style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; text-decoration: underline;" target="_blank">http://www.tan90.cn/fishtrip/taiwan/zhanghua/</a></p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-10.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_10" width="883" height="515" border="0" style="width: 883px; height: 515px;" alt="台湾彰化旅游攻略——彰化自由行_图片_10"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鹿港二鹿行馆</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      房型很多，各具特色，装修用心。老板人好，一入住就讲授小镇吃、玩攻略，还有自制的吃喝玩地图；地点好，在小镇的中心，去各地都很方便；环境干净整洁；自制农家早餐，健康卫生，有自家种的青菜、龙眼，还有鲜榨的芭乐。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：彰化县鹿港镇春晖街46号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">预订地址：</span><a href="/fishtrip/taiwan/zhanghua/" title="" style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; text-decoration: underline;" target="_blank">http://www.tan90.cn/fishtrip/taiwan/zhanghua/</a></p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-155-11.jpg" title="台湾彰化旅游攻略——彰化自由行_图片_11" width="808" height="515" border="0" style="width: 808px; height: 515px;" alt="台湾彰化旅游攻略——彰化自由行_图片_11"></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">查看更多，请到</span><a href="/fishtrip/taiwan/zhanghua/" title="" style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; text-decoration: underline;" target="_blank">http://www.tan90.cn/fishtrip/taiwan/zhanghua/</a></p>
      </div>