<div class="article__content article-richedit-content">
        <p style="margin-bottom:10px;text-align:center;line-height:40px;background:white"><br></p>
<p style="margin-bottom:10px"><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4;background:white">收费方式</span></strong></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">台北公交车采取无人售票，收费方式为悠游卡收费与投现收费并行。投现收费部分不找零，因此须于乘车前自备足额零钱。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">如果选择公交出行，比较方便的办法是办一张悠游卡。悠游卡是一种整合台北捷运系统、台北市/县联营公车、台北市公有路外停车场、路边停车计时收费器，以及部分小型民营停车场等缴费系统的IC电子票卡。</span></p>
<p style="margin-bottom:10px"><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4;background:white">分段收费</span></strong></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">车费以分段收费方式计算，所有路线分别归类为一段票、两段票或三段票路线。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">一段票路线：从路线上任何一站乘车，至任何一站下车，车费皆以一段票（单段票价）计算。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">两段票、三段票路线：以路线上其中一站或两站作为分段点，或以路线上其中一站至另一站间的区段作为分段缓冲区。在分段点前上车就是上车刷卡，但如果是在缓衝区上车的，刷卡之后司机会另外给个证，下车时就不用再刷，过了分段点才上车的，那就是下车刷卡。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#8DB3E2;background:white">【小贴士】</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">上车时请留意车内提示牌，上面会提示乘客应该是上车刷卡（投现）还是下车刷卡（投现）。</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">或者在上车时先问问司机。</span></p>
<p style="margin-bottom:10px"><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4;background:white">票价</span></strong></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">台北公交现行单段票价为全票15元；学生票12元（仅限于使用学生悠游卡，若为投现则票价比照全票）；老人、身心障碍者与儿童优待票8元。</span></p>
<p style="margin-bottom:10px"><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4;background:white">转乘优惠</span></strong></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">使用悠游卡者可享有公车、捷运双向转乘限时（目前设定为一小时以内）优惠，适用此优惠时全票7元；学生票6元；老人、身心障碍者与儿童优待票4元。转乘公车若需付两段票或三段票车费，则只有其中一段票的车费能以优惠票价计算。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#8DB3E2;background:white">【小贴士】</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">台北的公交车路线沿途虽然站点很多，但是它并不是每站必停，需要招手叫停公车。另在公交车内的每排座位两侧都有下车铃，如果你要下车便要按铃，司机会在下一站停车。</span></p>
<p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">查看和预定台北特色民宿，请戳大鱼：</span><a href="/fishtrip/taiwan/taibei/" style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(68, 68, 68); text-decoration: underline; background: white;" target="_blank" text="/fishtrip/taiwan/taibei/"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">http://www.fishtrip.cn/</span></a></p>
<p><br></p>
      </div>