<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-0.jpg" title="京都近郊岚山怎么玩？_图片_0" alt="京都近郊岚山怎么玩？_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">岚山位于京都西郊，是京都著名风景区，以春天的樱花和秋天的枫叶而闻名。当然最美的还是枫叶。每年夏末秋未至，就有不少人前来赏秋叶。平日里还有不少上了年纪的人到此散步游览。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">岚山怎么玩？</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">到了岚山不必担心找不到路。岚山路标很明确地给游客指向景点。即便没有路标，跟着人群走绝对没错。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">渡月桥</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-1.jpg" title="京都近郊岚山怎么玩？_图片_1" alt="京都近郊岚山怎么玩？_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">照字面上的意思，就是「渡过月亮的桥」；以岚山为背景的渡月桥，就是岚山的地标。河岸公园提供了绝佳的休闲场所；特别是在4月初樱花盛开之时，以及11月中枫叶转红的时候最为壮观。如果发现人们在桥上走走回回，也不要吃惊，这也是走渡月桥的乐趣之一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">竹林</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-2.jpg" title="京都近郊岚山怎么玩？_图片_2" alt="京都近郊岚山怎么玩？_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">竹林的名字其实是“筛月林”，又是一个和月亮相关的地名。竹林位在渡月桥后方，顺着渡月桥方向就能走到。走在竹林步道上，那种静谧清幽的感觉不由让人心神宁静。爱拍照的话，分分钟就能出大片。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">天龙寺</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-3.jpg" title="京都近郊岚山怎么玩？_图片_3" alt="京都近郊岚山怎么玩？_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">从竹林走不久就可以到天龙寺。天龙寺是日本的名胜古迹，也是岚山赏樱赏秋叶的好去处。在这里，你可以坐在榻榻米上歇歇脚（但是不能躺着）。庭院的风光也是很赏心悦目嗒。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如果觉得逛不够，还可以到附近的寺庙或神社逛逛，求求签，比如到野宫神社求个桃花和考试运签。自由行嘛，不需要定太死板的计划，走走看看就很开心。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">在岚山吃什么？</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">车站附近就有不少店家、餐厅，可以选择在这里吃。岚山还有怀石料理，不过价钱不便宜。渡月桥附近也有不少小摊，卖章鱼小丸子之类的小吃。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-4.jpg" title="京都近郊岚山怎么玩？_图片_4" alt="京都近郊岚山怎么玩？_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><span style="color: rgb(73, 155, 201); font-family: Helvetica; font-size: 15px;  ">豆乳冰淇淋</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-5.jpg" title="京都近郊岚山怎么玩？_图片_5" alt="京都近郊岚山怎么玩？_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">Roll Cake Sand</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-6.jpg" title="京都近郊岚山怎么玩？_图片_6" alt="京都近郊岚山怎么玩？_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">人气很高的小吃，有点像蛋糕卷，上面放了香浓的奶油，相当好吃。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">住宿</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">岚山可以当日去，当日返回，无需留宿。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-family: Helvetica; color: rgb(54, 125, 162); ">交通</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201); ">搭乘日本铁路(JR)</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">从京都站到岚山的最便捷交通方式是搭乘JR嵯峨野线（又名为JR山阴本线）。京都站到嵯峨–岚山站的单趟车程为15分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">从嵯峨–岚山站徒步5-10分钟可到岚山中部。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201); ">搭乘京福电铁</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">京福岚山线的小型列车连接岚山和京都中部的大宫站（20分钟）。大宫站位于四条通和大宫通交叉口。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">京福电铁亦前往京都北部邻近金阁寺、龙安寺和仁和寺的北野白梅町站（20 -30分钟）。沿途需转一次车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">京福岚山站位于岚山正中心。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201); ">搭乘阪急电铁</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">从京都中部（四条通）的河原町或乌丸站出发，搭乘阪急本线前往桂站，然后转搭阪急岚山线到岚山。单程大约20分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">阪急岚山站位于河的对岸，从岚山中部步行约5-10分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica;  min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201); ">搭乘巴士</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; ">在岚山和京都许多地区之间都有巴士线来回，但火车仍是前往岚山的最佳交通工具，可避免塞车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal;  font-size: 15px; font-family: Helvetica; "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">岚山小火车</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-7.jpg" title="京都近郊岚山怎么玩？_图片_7" alt="京都近郊岚山怎么玩？_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-159-8.jpg" title="京都近郊岚山怎么玩？_图片_8" alt="京都近郊岚山怎么玩？_图片_8"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">观光火车，可坐可不坐。小火车的第五节车厢是半开放式的，沿途有樱花道，秋天满山秋叶，也是不错的体验。坐小火车沿途可以看到狸猫塑像，很有特色。不过火车只停1分钟左右，来不及下车拍照。</p>
<p><br></p>
      </div>