<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">来花莲一定要品尝的美食</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">自强夜市</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-0.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_0" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_0"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">便宜、好吃、选择多，有喷香的烤肉、花莲市棺材板、老牌润饼等，全都值得一尝。摊位16：00陆续开始营业，至凌晨1：30左右收摊。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="color: rgb(0, 0, 0); font-size: 16px;"><strong><span style="color: rgb(0, 0, 0); font-family: 微软雅黑, 'Microsoft YaHei';">五霸包心粉圆</span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-size: 16px;"><strong><span style="color: rgb(0, 0, 0); font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-1.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_1" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_1"></span></strong><strong><span style="color: rgb(0, 0, 0); font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">“冰中的艺术品”，內馅有超多东西（雪莲子、咖啡、抹茶、水果、芋头、花生、黑芝麻、玫瑰、红豆、桂花等）</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">曾记麻薯</span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-2.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_2" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_2"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">第一代创办人曾水港先生当年可以沿街叫卖的，始终坚持传统手工古法搓揉拍摔打出糯米的弹性，变成最Q软的外皮，有红豆、绿豆、黑豆、花生、芝麻、叶子、抹茶等多种口味。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">达基力部落屋</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-3.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_3" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_3"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">原住民风味，没有菜单，根据季节为客人搭配不同的菜色。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">花莲交通建议</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">公交</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲市区内公交车目前有五条路线，由花莲客运和太鲁阁客运所经营。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">皆为分段票价，一段票全票23元、半票12元，二段票全票46元、半票24元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">102 光华乐活线：花莲火车站←→南滨公园←→海洋公园</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">105 七星潭线：花莲火车站←→门诺医院←→七星潭</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">202 水源线：花莲火车站←→慈济医院←→水源村</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">301 东华大学线：花莲火车站←→彩虹观光夜市←→国立东华大学全线为纯电动低底盘公车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">302 太鲁阁线：新城火车站←→太鲁阁国家公园←→天祥全线为纯电动公车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">出租车</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲出租车起步价一般为80元或100元新台币，每超过350米加跳5元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">自行车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲有苏花公路等完备的自行车骑行路线，去花莲可以租辆自行车体验骑行。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">大巴</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">去太鲁阁国家公园、七星潭、东部海岸线等景点可以选择搭乘台湾好行大巴的旅游巴士。分段计价，可以使用悠游卡。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">租车、包车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲县内各车站附近都有汽车出租店，费用按天数计算，依车型不同有差价。一般来说，国产车最便宜每天约1300元新台币。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲包车半天4小时大约1500-2000台币，全天8小时大约2500-3500新台币。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">还可以试试这些特色活动</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">花东纵谷</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-4.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_4" width="500" height="305" border="0" style="width: 500px; height: 305px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_4"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">与爱人、朋友一起的旅途不只可以获得乡野休憩的舒适，还可进一步享受知性地、学习性的深刻乐趣，何乐而不为呢？</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花东纵谷自然环境优美，民风淳朴，具有独特的自然及人文景观。 陪着爱人、朋友体验东台湾的产业、平野幽谷之风情，在山川平野共享自然美景。</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">溯溪轻探险</span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-5.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_5" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_5"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">花莲拥有丰富的峡谷地形，溯溪是近年花莲超火热的运动之一。您和朋友准备好了吗？！跟着经验丰富的教练，逆流而上穿越瀑布和湍流，即清凉又刺激。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">泛舟</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-71-6.jpg" title="花莲耍起，你这么早看了别后悔啊~~_图片_6" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="花莲耍起，你这么早看了别后悔啊~~_图片_6"></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">又是一个刺激的项目，考验您和爱人、朋友的时候到咯！在秀姑峦溪泛舟已经成为去花莲非玩不可的项目之一了，跟着奇美部落的勇士顺着溪水一路说故事、撒网、抓虾、野炊、玩耍、尽情融入阿美族文化，与大自然亲密嬉戏。</span></p>
      </div>