<div class="article__content article-richedit-content">
        <p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台湾许多特色建筑、自然美景都可被纳入拍婚纱的可选地点。大鱼君总结了台湾北部热门的婚纱外拍景点，供想要拍美美的婚纱照的各位考虑。既然是热门，免不了会有扎堆的时候。不过不要紧，总会有一款特别的，独属于你的婚纱照。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台湾旅行婚纱摄影攻略之台北</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">建筑</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台北的几大艺术展区、大学以及教堂等都有着适合成为婚纱照背景的洋房。巴洛克式、都铎式、日式、哥特式、欧式建筑……总有你爱的那一款。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">台北婚纱摄影地攻略之华山1914</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-0.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_0" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_0"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">前身是日本人设立的清酒厂，建筑风格以日式为主。现在是台湾创意文化园区，喜欢青年文化、日式情调的可以考虑华山1914。台北其他艺术园区，比如台北故事馆、西门红楼等地也可以考虑。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：台北市100中正区八德路一段1号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">台北婚纱摄影地攻略之大同大学</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-1.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_1" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_1"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">校园内有多种风格的建筑，有教育研究馆的希腊万神殿风格，志生纪念馆的和洋建筑风格等等。在校园拍一圈几乎就不用再寻找其他建筑风格的拍摄地了。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：台北市中山北路三段40 号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">台北婚纱摄影地攻略之自来水博物馆</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-2.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_2" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_2"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif;">虽然自来水博物馆这个名字听起来没有这么洋气，但这里的巴洛克建筑却是满满的复古欧式风。喜欢欧式复古风格的新人可以考虑。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, sans-serif;">地址：台北市中正区思源街1号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">自然景观</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">台北婚纱摄影地攻略之阳明山</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-3.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_3" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_3"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">1，</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">阳明山竹子湖。每年三四月份，这里的海芋花就成了一片白绿色的花海，十分清新自然。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址:</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台北市北投区北部山区阳金公路竹子湖站西侧</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">2，</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">阳明山国家公园。虽然听到公园什么的大鱼君都不打算推荐，但是这里每个季节都有不同的花盛开，景色也够大气。可选。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-4.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_4" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_4"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：台北市士林区阳明山竹子湖路1-20号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台湾旅行婚纱摄影攻略之新北</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">除了台北之外，新北也是台湾北部的热门婚纱拍摄地。新北的著名的渔人码头、乌来等地也吸引了不少新人。花海、薰衣草森林、湖光山色、九份老街、淡水的古迹……都能构成永恒的背景和意义。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">建筑</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">新北婚纱摄影地攻略之红毛城</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-5.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_5" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_5"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台湾现存最古老的建筑之一，最早在1628年由占领台湾北部的西班牙人所建，后由荷兰人重建，再后来又由英国政府长期租用……总之够欧洲，历史久远。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：新北市淡水区中正路28巷1号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">新北婚纱摄影地攻略之小白宫</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-6.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_6" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_6"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">小白宫属于淡水古迹园区的一部分，是一栋殖民地式建筑，西班牙白垩回廊式。除了小白宫，附近古迹也是拍照的理想选择。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：新北市淡水镇真理街15号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">自然景观</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">新北婚纱摄影地攻略之渔人码头</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-7.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_7" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_7"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">海景、日出、日落、大桥、码头……都是值得用镜头记录的美景。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">新北市淡水区沙仑里</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">新北婚纱摄影地攻略之大溪花海农场</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-8.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_8" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_8"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">绚丽的花海，很适合拍婚纱。不少台湾偶像剧在这里取景。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：桃园县大溪镇福安里4邻复兴路1段1093巷27号</span></p>
<p><br></p>
<p><span style="font-family:微软雅黑, sans-serif"><span style="color: rgb(84, 141, 212);">薰衣草森林</span></span></p>
<p><span style="font-family:微软雅黑, sans-serif"><span style="color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-6-9.jpg" title="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_9" alt="台湾旅行婚纱摄影攻略之一网打尽北台湾景点_图片_9"></span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">喜欢花的还可以到薰衣草森林，每年十一月到来年四月是薰衣草盛开的季节。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：新竹县尖石乡嘉乐村嘉乐130号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><br></p>
      </div>