<div class="article__content article-richedit-content">
        <p><br></p>
<p><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:blue;background:white"> </span></strong></p>
<p><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:blue;background:white">花莲交通攻略之花莲县内交通</span></strong></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">花莲县内交通有公交/计程车/自行车/租车等方式。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><br><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><strong style="word-wrap: break-word"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">公交</span></strong></span><br style="word-wrap: break-word"><span style="background:white">花莲市区内公交车目前有五条路线，由花莲客运和太鲁阁客运所经营。</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#252525;background:white">皆为分段票价，一段票全票23元、半票12元，二段票全票46元、半票24元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#252525;background:white"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">花莲客运</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">102 </span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">光华乐活线：花莲火车站←→南滨公园←→海洋公园</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">105 </span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">七星潭线：花莲火车站←→门诺医院←→七星潭</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">202 </span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">水源线：花莲火车站←→慈济医院←→水源村</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">太鲁阁客运</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">301 </span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">东华大学线：花莲火车站←→彩虹观光夜市←→国立东华大学全线为纯电动低底盘公车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">302 </span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">太鲁阁线：新城火车站←→太鲁阁国家公园←→天祥全线为纯电动公车</span></p>
<p><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white"> </span></strong></p>
<p><span style="color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><strong><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: 微软雅黑, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">出租车</span></strong></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">花莲出租车起步价一般为80元或100元新台币，每超过350米加跳5元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">自行车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">花莲有苏花公路等完备的自行车骑行路线，去花莲可以租辆自行车体验骑行。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">大巴</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">去太鲁阁国家公园、七星潭、东部海岸线等景点可以选择搭乘台湾好行大巴的旅游巴士。分段计价，可以使用悠游卡。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">租车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">花莲县内各车站附近都有汽车出租店，费用按天数计算，依车型不同有差价。一般来说，国产车最便宜每天约1300元新台币。</span></p>
<p><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white"> </span></strong></p>
<p><span style="color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><strong><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: 微软雅黑, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">包车</span></strong></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">花莲包车半天4小时大约1500-2000台币，全天8小时大约2500-3500新台币。</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><br><br></span></p>
<p><strong><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:blue;background:white">花莲交通攻略之怎么去花莲</span></strong></p>
<p><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, sans-serif; line-height: 21px; background-color: white;">花莲地区的对外交通，有属于环岛铁路网一部分的北回铁路和南回铁路；公路交通有苏花公路和南回公路；空中交通，花莲市机场距离市区约30分钟车程，可以搭出租车或机场巴士。</span></p>
<p><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif; line-height: 21px; background-color: rgb(84, 141, 212);"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif; line-height: 21px; background-color: rgb(84, 141, 212);"></span></p>
<p style="margin-right:45px;margin-bottom:20px;margin-left:45px;line-height:21px;background:white"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)"> <span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">火车</span></span></p>
<p><span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#444444;background:white">       </span><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)">     台北到花莲 </span></p>
<p><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, sans-serif; line-height: 21px; background-color: white;"></span><br></p>
<p style="margin-right:45px;margin-bottom:20px;margin-left:45px;line-height:21px;background:white"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)"> </span><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)">自强号：票价台币440元/人单程，车程2-3小时。</span><br style="word-wrap: break-word"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)"> 莒光号：票价台币340元 /人单程，车程3.5-4.5小时。<br style="word-wrap: break-word"> 网络购票或者去车站买不方便的话可以去7-11买。</span></p>
<p style="margin-right:45px;margin-bottom:20px;margin-left:45px;line-height:21px;background:white"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif; line-height: 21px; background-color: rgb(84, 141, 212);">客运巴士</span></p>
<p style="margin-right:45px;margin-bottom:20px;margin-left:45px;line-height:21px;background:white"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)">台北——宜兰罗东——花莲</span></p>
<p style="margin-right:45px;margin-bottom:20px;line-height:21px;background:white"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)">先搭乘葛马兰客运或首都客运，直达车45分-1小时左右到宜兰(罗东)，再转搭火车来花莲。<br><br style="word-wrap: break-word">          台东到花莲<br style="word-wrap: break-word">由台东火车站出发，可以搭乘鼎东客运或是花莲客运前往花莲火车站。</span></p>
<p style="margin-right:45px;margin-bottom:20px;line-height:21px;background:white"><span style="color:#444444;font-family:微软雅黑, sans-serif">预定花莲民宿：<a href="/taiwan/hualian/" target="_blank">http://www.timlentse.com/taiwan/hualian/</a> </span></p>
<p style="margin-right:45px;margin-bottom:20px;line-height:21px;background:white"><br></p>
<p style="margin-right:45px;margin-bottom:20px;line-height:21px;background:white"><span style="font-family: 微软雅黑, sans-serif;color: rgb(68, 68, 68)"><br></span></p>
<p><br></p>
      </div>