<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, sans-serif; font-size: 14px;">没去过这些地方就不算来过台北旅游</span><br></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">去过你才算是真正体验了台北、体验了台湾</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">跟着大鱼</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">一起看看那些台北旅行必去的景点</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family: Arial, sans-serif"> </span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family:'微软雅黑',sans-serif;color:white;background:#0070C0">台北旅游必去景点之台北故宫</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">       台北故宫博物馆是仿照北京故宫样式设计建筑的宫殿式建筑，原名中山博物院，后改为国立故宫博物院。 它是中国著名的历史与文化艺术史博物馆，风格清丽典雅。台北故宫博物院藏品包括南京国立中央博物院、清代北京故宫、沈阳故宫等处旧藏之精华，以及海内外各界人士捐赠的文物精品，共约60万件，分为书法、古画、碑帖、等14类。</span></p>
<p style="margin-top:5px;margin-bottom:5px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-0.jpg" title="台湾台北旅游必去景点_图片_0" alt="台湾台北旅游必去景点_图片_0"></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">门票：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">普通参观券：250.00台币团体参观券：230.00台币/人（10人以上团体，此外加收语音导览系20.00元/人）优惠参观券：150台币（军警学生、持文化机构义工证者、台湾岛外学生持学生证明者）</span></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">开放时间：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">正馆全年开放：8:30~18:30 夜间延长开放时段：每周五、周六18:30~21:00</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family: Arial, sans-serif"> </span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family:'微软雅黑',sans-serif;color:white;background:#0070C0"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">台北旅游必去景点之</span>中正纪念堂</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">       中正纪念堂为纪念蒋介石而建，以中国庭园造景为主要设计形制，整体建筑则以蓝、白二色搭配相和，有着自由、平等的寓意。 主要以展览室和放映室为主，展示蒋介石生平事迹文物。顶楼为蒋介石铜像，两旁驻守着卫兵，而每个小时定时换班的仪式也成为游客游览的重点之一。</span></p>
<p style="margin-top:5px;margin-bottom:5px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-1.jpg" title="台湾台北旅游必去景点_图片_1" alt="台湾台北旅游必去景点_图片_1"></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">门票：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">免费</span></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">开放时间：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">9:00-18:00</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family: Arial, sans-serif"> </span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family:'微软雅黑',sans-serif;color:white;background:#0070C0"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">台北旅游必去景点之</span>国父纪念馆</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">       国父纪念馆以纪念国父孙中山先生为宗旨，主要展出国父革命史迹相关文物，并提供部分展演活动。国父纪念馆以黄色屋顶采顶起翘角像大鹏展翼的形状，此外，还有逸仙艺廊、德明艺廊中山讲堂、励学室等。国父纪念馆最适合市民周休假期或是早晨、黄昏户外运动、休闲及室内艺文、知性活动的多元化地点。</span></p>
<p style="margin-top:5px;margin-bottom:5px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-2.jpg" title="台湾台北旅游必去景点_图片_2" alt="台湾台北旅游必去景点_图片_2"></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">门票：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">免费</span></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">开放时间：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">09:00~19:00</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family: Arial, sans-serif"> </span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family:'微软雅黑',sans-serif;color:white;background:#0070C0"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">台北旅游必去景点之</span>台湾夜市之台北士林夜市</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">       士林夜市是台北市范围最大的夜市，也是观光客造访台北必到之地。士林夜市是台湾美食大集合的台湾夜市，金黄色的超大鸡排、会喷汤汁的“上海生煎包”、热腾腾的“药膳排骨汤”……琳琅满目的美食小吃，让人驻足不前、流连忘返。</span></p>
<p style="margin-top:5px;margin-bottom:5px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-3.jpg" title="台湾台北旅游必去景点_图片_3" alt="台湾台北旅游必去景点_图片_3"></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">门票：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">免费</span></p>
<p style="margin-top:5px;margin-bottom:5px"><strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">开放时间：</span></strong><span style="font-size: 14px;font-family: 微软雅黑, sans-serif">夜晚</span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family: Arial, sans-serif"> </span></p>
<p style="margin-top:5px;margin-bottom:5px"><span style="font-family:'MS Gothic';color:white;background:#0070C0"></span><span style="font-family:'微软雅黑',sans-serif;color:white;background:#0070C0"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">台北旅游必去景点之</span>台北101大楼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       台北市地表建筑，位于台湾台北市信义区的一栋摩天大楼。拥有世界最快速电梯，38秒即可直达89楼观景台。夜间的台北101外观会打上灯光，以彩虹七种颜色为主题，每天更换一种颜色。在特殊的节日时，会以节庆为主题在外墙以灯光表现特殊的文字或图形，跨年夜还会有精彩绝伦的烟火表演。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-4.jpg" title="台湾台北旅游必去景点_图片_4" alt="台湾台北旅游必去景点_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong>门票：</strong>500元新台币 </span></p>
<p><strong style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全年开放 每日09:00~22:00  最后入场及购票时间：21:15</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(0, 112, 192);">台北旅游必去景点之</span>西门町</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">       西门町<span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">为台北市西区最重要的消费商圈。</span>交通发达，集红楼、刺青街、电影街、KTV、万年大楼、万国百货、诚品书店和各式各样的精品小店。至今西门町更成为小型活动、签唱会和记者会的场地。 </span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-5.jpg" title="台湾台北旅游必去景点_图片_5" alt="台湾台北旅游必去景点_图片_5"></span></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">门票：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">免费</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全天开放</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台北旅游住宿推荐：</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">台北西門美栈</span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">       位于西门町商圈，有高铁、台铁、捷运、机场巴士穿梭加上市区公车网，长途客运网之台北枢纽，交通四通八达。除了拥有交通便利、生活机能优良的住宿环境，严格的门禁与摄影设备外，更重视消防安全及环境卫生清洁</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-6.jpg" title="台湾台北旅游必去景点_图片_6" alt="台湾台北旅游必去景点_图片_6"></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">预定网址：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><br></span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">住宅便利屋-忠孝复兴馆</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">       位于台北市中心捷运站旁繁华又安全的社区，全都靠近方便的大众运输交通和当地观光景点。每家分馆都独具特色，既友善又亲切的台湾同仁会协助您获得您可能需要的任何帮助。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-9-7.jpg" title="台湾台北旅游必去景点_图片_7" alt="台湾台北旅游必去景点_图片_7"></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">预定网址：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><br></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><br></span></strong></p>
<p><span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">更多台湾精美住宿就在：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </span></strong></span></p>
<p><span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><span style="color: rgb(216, 216, 216); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px; line-height: 24px;  background-color: rgb(255, 255, 255);">（资料图片来源于百度）</span></span></strong></span></p>
      </div>