<div class="article__content article-richedit-content">
        <p><span style="font-family:宋体">可能就连电视剧的制作方也想不到，《我可能不会爱你》在播出后会引起那么大的反响，不
仅红遍台湾，也红到了大陆和其他地区。整个制作团队更是在金钟奖上大出风头，包揽超多奖项。电视剧播出后更是引发了全民对于“大仁哥”的追捧，陈柏霖也由
此迎来职业生涯的第二波高峰。《我可能》在台湾的许多地方取景，足迹遍及台北、苗栗、台中以及新加坡等地，这条线路只为您总结台北的拍摄场地，其他地方会
陆续推出哦。</span></p>
<p> </p>
<p><span style="font-family:宋体">站点：竹村居酒屋</span>– <span style="font-family:宋体">大安森林公园</span>– <span style="font-family:宋体">剑南山</span>– 5 senses cafe</p>
<p> </p>
<p style="text-align: center"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-55-0.jpg" title="【行程推荐】台北主题行程_图片_0" alt="【行程推荐】台北主题行程_图片_0"></p>
<p><br></p>
<p><br></p>
<p><br></p>
      </div>