<div class="article__content article-richedit-content">
        <p><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(84, 141, 212);">高雄交通攻略之公交卡介绍</span></p>
<p><span style="color: rgb(37, 37, 37); font-family: 微软雅黑, sans-serif; line-height: 24px;">高雄市内常用的公交卡如下图所示</span></p>
<p><span style="color: rgb(37, 37, 37); font-family: 微软雅黑, sans-serif; line-height: 24px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-103-0.jpg" title="高雄交通攻略_图片_0" alt="高雄交通攻略_图片_0"></span></p>
<p><br></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">高雄交通攻略之公交</span></p>
<p><span style="line-height: normal; font-size: 9px; font-family: 'Times New Roman'; color: rgb(37, 37, 37); font-stretch: normal;"> </span><span style="line-height: 24px; font-family: 微软雅黑, sans-serif; color: rgb(37, 37, 37);">投币（每段）：全票12元、半票6元。</span></p>
<p><span style="line-height: 24px; font-family: 微软雅黑, sans-serif; color: rgb(37, 37, 37);"> 公交卡：</span></p>
<p style="margin-bottom: 2px;margin-left: 51px;line-height: 24px;background: white"><span style="font-size:13px;font-family:Symbol;color:#252525">·<span style="font-stretch: normal;font-size: 9px;line-height: normal;font-family: 'Times New Roman'">        </span></span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#252525"><span style="color:#0B0080;">一卡通</span>（每段）: 普卡12元、学生卡10元、敬老／博爱／仁爱卡免费</span></p>
<p style="margin-bottom: 2px;margin-left: 51px;line-height: 24px;background: white"><span style="font-size:13px;font-family:Symbol;color:#252525">·<span style="font-stretch: normal;font-size: 9px;line-height: normal;font-family: 'Times New Roman'">        </span></span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#252525"><span style="color:#0B0080;">悠游卡</span>、<span style="color:#0B0080;">台湾通</span>、<span style="color:#0B0080;">E通卡</span>（每段）: 普卡／学生军警卡12元、优待票6元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(84, 141, 212);">高雄交通攻略</span><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">之地铁</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-103-1.jpg" title="高雄交通攻略_图片_1" alt="高雄交通攻略_图片_1"></span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">高雄捷运有2条路线，分红线（南北走向）和橘线（东西走向）。两条线路有1个换乘点站--美丽岛站（红线的R10站和橘线的05站）是台湾最美捷运站之一。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">红线链接到机场、火车站等交通枢纽站，如：高雄国际机场、高雄车站、左营（高铁）站。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地铁非24小时运营，一般是首车在6:00-6:30之间，末班车在00:00左右。</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">注意：高雄捷运不能使用悠游卡，可选择购买一次使用的单程卡，也可以购买可以多次使用、不限换乘的普卡。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(84, 141, 212);">高雄交通攻略之</span><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">自行车</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-103-2.jpg" title="高雄交通攻略_图片_2" alt="高雄交通攻略_图片_2"></span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">可选择租借高雄公共自行车CityBike或私人运营的自行车租借机构。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">租赁系统营运时间：00：00-24：00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--可以支持异地还车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--可以使用高雄一卡通或自己信用卡进行租车业务</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--持一卡通民众可1次租借1辆脚踏车；持信用卡民众可1次租借4辆脚踏车。归还车辆时请务必再次到中控台过卡。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--租赁费用按租赁时间计收，第一小时内免费，之后不足30分钟，以30分钟计。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--使用一卡通搭乘捷运后，30分钟以内骑乘公共脚踏车，第1小时内免费，超过1小时，未足90分钟费率为6元，之后仍维持每30分钟10元</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">--使用信用卡直接租车，第1小时内免费，超过1小时后，按每30分钟20元</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> <span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">更多台湾公共自行车租借介绍：<span style="font-size: 13px; font-family: arial, sans, sans-serif; text-decoration: underline;"><a class="in-cell-link" href="/fishtrip/taiwan/gaoxiong/" target="_blank" text="/fishtrip/taiwan/gaoxiong/">http://www.fishtrip.cn/articles/357-how-to-use-public-bikes-in-taiwan</a></span></span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(84, 141, 212);">高雄交通攻略之</span><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">出租车</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">高雄市内出租车起跳为1.5公里新台币70元，续跳每300米加新台币5元。高雄市区往来小港机场出租车车资约新台币300元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">晚上23点至次日6点期间，加收夜间额外费用，首1.2公里收新台币70元，随后每0.25公里收新台币5元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, sans-serif;  background-color: rgb(84, 141, 212);">高雄交通攻略之</span><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">轮渡</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">观光交通渡轮</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">新光码头－旗津轮渡站（新光-旗津航线）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">运营时间：节假日及法定假日  13:00—20:20</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">票价：全票40元/半票20元/6岁以下—115厘米以下儿童免费</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">鼓山轮渡站－旗津轮渡站（旗津-鼓山航线）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">运营时间：每天05:00—24:00—02:00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">票价：全票40元/半票20元/6岁以下—115厘米以下儿童免费</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">前镇轮渡站－中洲轮渡站（中洲-前镇航线）</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">运营时间：平日 05:40~22:25 ；假日 05:45~22:25</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">票价：全票15元/学生12元/优惠8元</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-family:微软雅黑, sans-serif">高雄特色民宿：<a href="/fishtrip/taiwan/gaoxiong/" target="_blank" text="/fishtrip/taiwan/gaoxiong/">http://www.fishtrip.cn/taiwan/gaoxiong</a> </span></p>
<p><br></p>
<p><br></p>
<p><br></p>
      </div>