<div class="article__content article-richedit-content">
        <p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">跟着大鱼走，给您最精彩的垦丁一日游~</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">上午——鹅銮鼻灯塔、白沙湾</span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">下午、晚上——夜宿海生馆</span></p>
<p><br></p>
<p><br></p>
<p><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';">第一站：鹅銮鼻</span></strong></span></p>
<p><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-size: 18px; font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-89-0.jpg" title="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_0" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_0"></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">鹅銮鼻为台湾南端海角，地理景观上十分奇特，有怪石、巨礁及洞穴，海景更是一绝，被视为“台湾八景”之一。这里是大自然精心雕琢之地，奇特的地貌让家人大开眼界。您也可以在草地上坐下来歇会儿，和父母孩子享受一望无际的碧海蓝天，抛开工作生活的烦恼。洁白的鹅銮鼻灯塔是必游景点之一，在这可不要吝惜你的快门哦！</span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px; color: rgb(0, 176, 240);">第二站：白沙湾</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px; color: rgb(0, 176, 240);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-89-1.jpg" title="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_1" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_1"></span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">跟着大导演的脚步，和家人一起去看看那里的美景吧！</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">白沙湾是《海角七号》和《少年派的奇幻漂流》的电影拍摄场地。白沙湾顾名思义以白色的沙子而闻名，阳光沙滩，这才是度假的气息~您还可以和小朋友在沙滩玩耍，感受海水的清凉。一定不要忘记注意安全哦！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"></span></p>
<p style="white-space: normal;"><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">第三站：</span></strong></span><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong style="line-height: 26px;"><span style="font-family: 微软雅黑, sans-serif;">夜宿海生馆</span></strong></span></p>
<p style="white-space: normal;"><span style="font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(63, 63, 63);">下午4点开始的活动，一直持续到晚上哦~来到国立海洋生物博物馆仿佛全家老小都变成了自由自在的鱼，在馆内您和家人可以与成千上万的海洋动物共同遨游。</span><span style="color: rgb(68, 68, 68); font-family: 微软雅黑, sans-serif; line-height: 26px; background-color: white;">全亚洲最长的海底隧道、独特的沉船布景、喂食表演、3D影片<span style="font-family: 宋体, SimSun;">……</span><span style="font-family: 微软雅黑, 'Microsoft YaHei';">看到小朋友洋溢着幸福的笑脸就知道这里有多么的受欢迎了。</span></span></span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-89-2.jpg" title="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_2" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="阳光沙滩碧海蓝天的垦丁跟我走就对了_图片_2"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">注意：</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong>有垦丁包车司机打着"私房景点"揽客，却带着游客在后壁湖等海边捡贝壳、敲珊瑚石，还要他们藏起来免得被发现。垦丁与台湾诸多海岸都属于国家公园或风景区，一石一木都不能取。再次提醒朋友勿违法，共同保护美好的宝岛。</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"></span></strong><br></p>
      </div>