<div class="article__content article-richedit-content">
        <p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲市中山路、中华路及中正路相围起的“金三角”，是花莲人的主要生活圈，也是观光客必到的“特产一条街”，逛一回，就可“一网打尽”所有的花莲特产。</span></p>
<p><br></p>
<p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">下面大鱼君就来带你看看花莲特产购买攻略！</span></p>
<p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">尤其在中华路一带，老店新店并列，满街都可见到挂着“花莲薯”、“麻糬”招牌的特产店，并同时贩售白梅、辣梅、洛神葵、剥皮辣椒、香水莲花茶、羊羹等，一网打尽所有的花莲特产。花莲特产包括有80年老店的德利豆干、白梅和辣梅等、饼里包上香厚番薯或芋头的花莲薯、花莲芋，台湾原住民传统的点心麻糬以及香甜的玉里羊羹等。</span></p>
<p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-0.jpg" title="花莲特产购买攻略_图片_0" width="670" height="250" border="0" style="width: 670px; height: 250px;" alt="花莲特产购买攻略_图片_0"></span></p>
<p><br></p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲特产购买攻略之特产买什么</span></strong></p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲薯</span></strong></p>
<p><strong><span style="font-size:2px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-1.jpg" title="花莲特产购买攻略_图片_1" style="white-space: normal; float: none;" alt="花莲特产购买攻略_图片_1"></span></strong></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">花莲薯为花莲最有名的特产，在日据时代即风闻全台，主要是将花莲溪谷地所产的蕃薯先煮熟、去皮，用机械绞碎，再加上奶油、豆沙、蛋、面粉作配料烘制而成；旧时以茅草包装，现已改为现代纸张或塑胶袋包装。因为花莲当地所产的蕃薯，质地松软且<span style="font-size: 16px; color: rgb(127, 127, 127);">水分少，制成薯后，入口香酥，光看就能垂涎三尺。</span></span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);"></span></p>
<p><br></p>
<ul style="padding: 0px; color: rgb(51, 51, 51); font-family: Arial, 'Droid Sans', 'Microsoft YaHei', 'Hiragino Sans GB', STXihei, simsun, sans-serif; font-size: 14px; line-height: 25px; white-space: normal;" class=" list-paddingleft-2">
<li><p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲牛轧糖</span></strong></p></li>
<li><p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-2.jpg" title="花莲特产购买攻略_图片_2" style="width: 350px; height: 230px;" width="350" height="230" border="0" alt="花莲特产购买攻略_图片_2"></p></li>
<li><p><span style="font-size: 16px; color: rgb(127, 127, 127);">花莲当地的特产，原料纯正，口感也很特别，小巧玲珑，也便于携带。就算是吃好后，浓厚的奶香味还是在嘴巴里，久久不能散去。</span></p></li>
<li><p><br></p></li>
</ul>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲玫瑰石</span></strong></p>
<p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-3.jpg" title="花莲特产购买攻略_图片_3" width="350" height="230" border="0" style="width: 350px; height: 230px;" alt="花莲特产购买攻略_图片_3"></span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">玫瑰石，是花莲为数众多的玉石种类中的一种，光看外表只是不起眼的黑褐色石块，但经切割、钻石磨片磨去表皮、打磨刨光后，才会发现有限的内里却蕴藏着无限宽广的拟山水风景图案，与瑰丽迷人的颜色。玫瑰石主要生产于立雾溪、三栈溪及木瓜溪等地，不同产地的玫瑰石其姿态风貌也不尽相同，花莲市到太鲁阁之间的三栈溪所产玫瑰石，近桃红色，颜色鲜艳亮眼，木瓜溪所产则是淡红色，温柔婉约，两者各有死忠爱好者。</span></p>
<p><span style="font-size:2px"></span> </p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲石雕</span></strong></p>
<p><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-4.jpg" title="花莲特产购买攻略_图片_4" width="350" height="230" border="0" style="width: 350px; height: 230px;" alt="花莲特产购买攻略_图片_4"></span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">花莲不仅石雕家聚集，各种石雕作品在花莲展出的空间也相当多元：艺廊、文化中心固然提供密集的展览，观光饭店、医院、办公机构亦多以石雕装饰，甚至配合展出；火车站、街道及庭院公园更是大型石雕、石艺造景伸展的舞台。 </span><span style="font-size:2px">  </span></p>
<p><br></p>
<p style="white-space: normal;"><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">花莲特产购买攻略之特产哪里买</span></strong></p>
<p style="white-space: normal;"><br></p>
<h1 style="white-space: normal; margin: 0px; padding: 0px; font-size: 24px; border: 0px; display: inline; font-weight: normal;"><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">曾记麻糬(中正路店)</span></strong></h1>
<p><span style="color:#548dd4;font-family:Microsoft YaHei, Hiragino Sans GB;font-size:4px"><span style="line-height: 24px;"><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-5.jpg" title="花莲特产购买攻略_图片_5" width="350" height="233" border="0" style="width: 350px; height: 233px;" alt="花莲特产购买攻略_图片_5"></strong></span></span></p>
<p style="white-space: normal;"><span style="font-size: 16px; color: rgb(127, 127, 127);">提到花莲麻糬，都会提到这家店。麻糬当日制作，现做现吃，极大的保证了口感</span></p>
<p style="white-space: normal;"><span style="font-size: 16px; color: rgb(127, 127, 127);">地址：台湾花莲市中正路538号</span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">电话：（886-03)8348984</span></p>
<p><br></p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">瑞穗牧场</span></strong></p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-6.jpg" title="花莲特产购买攻略_图片_6" width="350" height="230" border="0" style="white-space: normal; width: 350px; height: 230px;" alt="花莲特产购买攻略_图片_6"></span></strong></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">一个开放式的牧场。除了每天现挤、现煮的浓醇鲜奶，来到瑞穗牧场还可以吃到他们家招牌的鲜奶馒头，虽然个头不大，但是一口咬下去都是浓浓的奶香，另外还有奶酪蛋糕、鲜奶酪、牛轧糖与乳制冰品等各种限定甜点，深受游客的喜爱。在牧场的礼品部，更有许多深具牧场特色与风味的纪念品展售，除了大大小小的乳牛布偶，还有各种乳牛造型的马克杯、文具、餐具与饰品等</span></p>
<p><br></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">地址：舞鹤风景区内</span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">电话：(886-03)8876611</span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">网址：</span><span style="color: rgb(102, 102, 102); font-family: Arial, 'Microsoft Yahei', 微软雅黑, Tahoma, Helvetica, STHeiti, 'Hiragino Sans GB'; line-height: 24px;  background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: Arial, 'Microsoft Yahei', 微软雅黑, Tahoma, Helvetica, STHeiti, 'Hiragino Sans GB'; font-size: 14px; line-height: 24px;  background-color: rgb(255, 255, 255);"><a href="/fishtrip/taiwan/hualian/" title="" target="_blank" text="/fishtrip/taiwan/hualian/">http://www.rareseed.com.tw/nougat/about_us.html</a></span></span></p>
<p><br></p>
<h1 style="margin: 0px; padding: 0px; font-size: 24px; border: 0px; display: inline; font-weight: normal;"><strong><span style="color: rgb(84, 141, 212); font-family: 'Microsoft YaHei', 'Hiragino Sans GB'; font-size: 18px; line-height: 24px; background-color: rgb(255, 255, 255);">惠比须饼铺</span></strong></h1>
<p><span style="color:#548dd4;font-family:Microsoft YaHei, Hiragino Sans GB;font-size:4px"><span style="line-height: 24px;"><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-68-7.jpg" title="花莲特产购买攻略_图片_7" width="350" height="230" border="0" style="white-space: normal; width: 350px; height: 230px;" alt="花莲特产购买攻略_图片_7"></strong></span></span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">是卖花莲薯的专卖店，别的地方吃不到这种口味哦</span></p>
<p><br></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">地址：台湾花莲县花莲市中华路65号 ‎</span></p>
<p><span style="font-size: 16px; color: rgb(127, 127, 127);">电话：(886-3)8322856</span></p>
<p><br></p>
<p><br></p>
<p><br></p>
      </div>