<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来台湾必定要去购物！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">看腻了大商场比比皆是的商品</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">不如去这些特色的市民购物区逛逛吧！</span></p>
<p><br></p>
<p><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; background-color: rgb(0, 112, 192);">台湾购物攻略之特色篇    迪化街</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">迪化街因为靠近淡火河，成为台北繁华的商业区之一。岁末时，这里的人潮更是挤得水泄不通，非常热闹。这里各式干货一应俱全。商品种类繁多、量大而便宜，过年的时候，政府会在这里举办年货大街活动。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-42-0.jpg" title="台湾购物攻略之特色篇_图片_0" alt="台湾购物攻略之特色篇_图片_0"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市大同區迪化街</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：搭乘捷运淡水线至中山站，从南京西路往圆环方向步行即可抵达。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台湾购物攻略之特色篇    五分埔成衣批发区</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">这里是台北平民潮集散地。满满的全是当季最最流行的服饰鞋帽，货源自台湾、韩国、日本、香港和泰国等国，因其款式之新、价格之便宜，吸引了本地人和大明星来淘货。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市信义区中坡北路、永吉路</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：周一-周六11:00~隔日凌晨00:00;周日：11:00~21:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通方式：搭乘板南线至后山埤站下车，由1号出口后直走至中坡北路永吉路口其左前方即抵达。</span></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台湾购物攻略之特色篇    天母跳蚤市场</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">天母跳蚤市场不仅是二手物品交易市场，也有许多创意产品。天母跳蚤市场的档主来自五湖四海，可以体验到一种融合了异国特色却本土味浓厚的台湾风情。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-42-1.jpg" title="台湾购物攻略之特色篇_图片_1" alt="台湾购物攻略之特色篇_图片_1"></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市士林区天母西路一号天母广场(中山北路七段与天母西路交界)</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：周五16：00-22：00;周六09：00-15：00;16：00-22：00;周日15：00-21：00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通方式：搭捷运搭到石牌站，出票闸口之后过马路到『薑母鸭』这店家旁边有公车站牌，等搭645、红12或224、红19路，只要站牌上有到【三玉宫】或【天母广场】的就都可以搭，捷运不能直达喔。</span></p>
<p><br></p>
      </div>