<div class="article__content article-richedit-content">
        <p><br></p>
<p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台中捷运正在筹建，市区内主要交通方式为公交车、自行车、出租车和自驾。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台中交通攻略之公交车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台中公交车约有200条线路，连接台中市内各区。</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">收费方式</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">：按里程计价</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">票价</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">：台中公交车每段最高价格是全票20元/半票30元新台币。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">2015</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">年6月30日前使用交通卡乘公车，享有8公里内免费，及单次搭乘上限60元优惠。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台中交通攻略之自行车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">iBike</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">是台中市的公共自行车租赁系统，于2014年7月18日开始试营运。除了iBike，台北市交通局推出的YouBike在台中也可以使用。</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">租赁方法</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">：单次租借或加入会员。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">单次租借：使用中华电信手机或芯片信用卡（磁条信用卡也可用）至各场站KIOSK借车。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">加入会员：1. 以悠游卡到各站点Kiosk、U-Bike官方网站或是服务中心注册加入会员（需要有台湾手机号码，一个手机号码可以登记多张悠游卡）。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">2.</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">在停车柱上方感应已经注册过的悠游卡，等到取车绿灯闪烁时，再将单车向后拉出来，既可以使用。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">3.</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">当要还车时，到任一个站点，将车身的卡榫插入空的停车柱。等到刷卡蓝灯开始闪烁，刷感应本次借车时使用的悠游卡，确认此次扣款的剩余金额，完成交易。</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">费用</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">：iBike 租借费用：使用悠游卡租借，前半小时免费，4小时内每30分钟10元，4小时到8小时每30分钟20元，超过8小时每30分钟40元。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">YouBike</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">租借费用，以官网公布为准。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">详细信息请参看另一篇《台湾公共自行车租赁攻略》：</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><a href="/taiwan/taizhong/" target="_blank">http://www.timlentse.com/taiwan/taizhong/</a></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台中交通攻略之出租车</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台中出租车为85元NTD起跳，1.5公里之后每250米续跳5元NTD，车速在5公里以下，每3分钟加5元NTD。夜间时段22:00~凌晨6:00，每1.25公里85元NTD，之后每208米续跳5元NTD，车速在5公里以下，每2.5分钟加5元NTD。春节期间每一车次加收起表价85元NTD。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">查看及预定台中特色民宿</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">：<a href="/taiwan/taizhong/" target="_blank">http://www.timlentse.com/taiwan/taizhong/</a></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><br></p>
      </div>