<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之 京都府京都文化博物馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-0.jpg" title="京都博物馆全攻略_图片_0" alt="京都博物馆全攻略_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">位于京都市中京区的博物馆，其创建目的是为了介绍京都的历史及文化，以及纪念平安建都1200年。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址: </span>604-8183 京都市中京区三条高仓</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票:</span> 500日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">休馆日: </span>每周星期一（节假日时为翌日）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span>京都市地铁乌丸御池站 步行3分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">阪急京都线乌丸站 步行7分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京阪本线三条站 步行15分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之 京都国立博物馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-1.jpg" title="京都博物馆全攻略_图片_1" alt="京都博物馆全攻略_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都国立博物馆位于日本京都府，在这里珍藏着流传至今的与千年古都共呼吸的国宝，是世界公认的“宝物殿”。占地102,623平方米，是日本明治中叶时期建造的法式文艺复兴风格的博物馆。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址:</span> 605-0931 京都市东山区茶屋町527</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票: </span>根据展览会的内容会有变动</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">休馆日: </span>每周星期一（节假日时为翌日）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span>JR京都站下车，乘JR奈良线至东福寺站下车，再乘坐京阪电车在七条站下车，步行7分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之 京都国际漫画博物馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-2.jpg" title="京都博物馆全攻略_图片_2" alt="京都博物馆全攻略_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">博物馆主要搜集、保管、展示备受注目和读者欢迎的漫画作品，进行动漫文化的调查、研究以及拓展和策划动漫文化活动等。该馆开馆时总藏书共20万本，目标是成为世界最大的漫画资料收藏馆。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">博物馆收藏的漫画作品、杂志及海内外各类珍贵历史资料多达数十万件，漫画藏书量可以说是日本第一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址:</span> 604-0846 京都市中京区乌丸通御池上ル</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票: </span>800日元（特别展另外收费）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">休馆日: </span>每周星期三（节假日时为翌日）/年末年初</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span>搭乘地铁至乌丸御池站下车，步行2分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">搭乘京都市公交线路15/51/65路，至乌丸御池站下车，下车即到</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之 京都水族馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-3.jpg" title="京都博物馆全攻略_图片_3" alt="京都博物馆全攻略_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">都水族馆再现京都河流源头到海洋的生命联系，以及无数生物共存其间的生态系统。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">除提供展览外，京都水族馆还定期举办互动活动，游客可以在游玩的同时了解水生生物，听水族馆专业管理员的演讲。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都水族馆渴望成为一座综合型“娱教*水族馆”，供生活在京都地区的孩子了解并接触水资源和水生生物。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址：</span> 〒600-8835 京都府京都市下京区观喜寺町35-1(梅小路公园内)</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票：</span> 成人：2050 日元，大学生和高中生：1550 日元，初中生和小学生：1000 日元，儿童（3 岁以上）：600 日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">开放时间：</span>9:00 - 17:00（16:00 前允许入内）（开放时间按季节调整）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span> 从京都车站步行 15 分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">从 JR 山阴线的丹波口站步行 15 分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">从城市巴士站“七条大宫/京都水族馆”步行 3 分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之  月桂冠大仓纪念馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-4.jpg" title="京都博物馆全攻略_图片_4" alt="京都博物馆全攻略_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">月桂冠大仓纪念馆是用昔日酒窖所建成的，介绍伏见酿酒的历史与日本酒的发展历程。展出了造酒的用具、古文献、过去商品以及广告海报等，参观造酒制程后还能品尝美酒。参观需要预约。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址: </span>京都市伏见区南滨町247番地</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票:</span> 300日元    附赠：纯米酒1瓶（180毫升）（未成年人为"酿酒明信片"）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span>从京阪本线中书岛站步行5分钟，或从伏见桃山站步行10分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">于JR京都站换乘近铁京都线到桃山御陵前站，并步行10分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">于JR京都站换乘 JR奈良线到桃山站下车，并步行18分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之  时雨殿</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-5.jpg" title="京都博物馆全攻略_图片_5" alt="京都博物馆全攻略_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">时雨殿是日本唯一的百人一首博物馆，在这里可以观看、感受、学习百人一首多样化世界的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">什么的百人一首？百人一首是代表日本古典文学之一的《小仓百人一首》。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">百人一首是活跃在平安时代末期至镰仓时代初期的藤原定家、应儿子为家的妻子的父亲宇都宫赖纲的请求，从粘贴在京都・嵯峨野的赖纲别墅里的彩色纸上选择了一百首歌而开始的。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址:</span> 616-8385 京都市右京区嵯峨天龙寺芒ノ马场町11</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票: </span>一般：800円</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">休馆日:</span> 每週星期一(遇假日隔日休)/年末年初</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都博物馆之  风俗博物馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-161-6.jpg" title="京都博物馆全攻略_图片_6" alt="京都博物馆全攻略_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">以《源氏物语》为主题，展出日本传统服饰、贵族生活等，有传统服饰可供游客试穿，还会有乐器等各种表演。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">地址: </span>600-8468 京都市下京区新花屋町通堀川东入る</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">门票:</span> 500日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">休馆日:</span> 星期日、节假日／8月13日～8月17日／展示变更期间</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span style="color: rgb(100, 179, 223); ">交通：</span>从JR京都站下车，乘9路公车至西本愿寺前下车步行3分钟即到。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p><br></p>
      </div>