<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">垦丁美食的正确打开方式！</span></strong></span><br></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">大手烧-日式居酒屋-垦丁店</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">很开心垦丁开了间日式居酒屋喔，不只气氛有带出来，里面的关东煮系列也是日本直送，口味很赞，烤物的技术及口味也很棒，加上下午五点到凌晨两点的营业时段，让垦丁多了一个放松聊天的好地方啊！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-0.jpg" title="只要一条街就让你们吃到肚圆_图片_0" alt="只要一条街就让你们吃到肚圆_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：17:00-02:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：300台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：里脊猪排、手羽明太子</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路2号 (垦丁星巴克旁)</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">OCEAN BLUE （海餐厅）</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁街上有一栋洋溢着南洋风情的建筑物，远远的就可以看到雪白的外墙搭配着宝蓝色的落地大窗，心灵和视觉都可以得到充分的享受。喜欢南洋料理的你，可多了一间不可错过的美食店。据说大导演李安也曾在这里吃过饭哦。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-1.jpg" title="只要一条街就让你们吃到肚圆_图片_1" alt="只要一条街就让你们吃到肚圆_图片_1"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：11:00-22:00(平日)　11:00-23:00(假日)</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：300台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：月亮虾饼、椒麻鸡</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路111号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">洋果子厨房</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一间设计简约，空间宽敞，不感到有压迫感的早、午餐店，他们自创的早餐，真材实料及新鲜食材，都可感受的出来每样早餐的美味，来垦丁的朋友们，别忘了来垦丁大街享用洋果子厨房的可口早餐喔！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-2.jpg" title="只要一条街就让你们吃到肚圆_图片_2" alt="只要一条街就让你们吃到肚圆_图片_2"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：7:00-13:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：150台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：双层牛肉起司堡、烧鸡蛋饼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路263号（肯德基附近）</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">玛格丽特</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一间以美式及墨西哥料理为主的主题式餐厅，店内布置非常的具有异国风情，餐厅推出的餐点也很特别。 店里也除了主餐以外，也推出许多很不错的调酒，尤其是各式口味的玛格利特调酒，更是店里的招牌调酒。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-3.jpg" title="只要一条街就让你们吃到肚圆_图片_3" alt="只要一条街就让你们吃到肚圆_图片_3"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：平日10:30-22:00　假日10:30-23:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：400台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：意大利面、奇异果玛格丽特</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路21-3号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">一品卤味</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一品卤味是位于垦丁大街上第一家老字号的卤味店，从原本的小摊位，到现在数十家的连锁店，也是属于垦丁的传奇之一，这里的卤味供货量大，所以质量新鲜，为了维持一定的质量，卤料及熬卤的时间都是精准控制，而店里特制的辣——断魂辣，更是将卤味的口味再做提升。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-4.jpg" title="只要一条街就让你们吃到肚圆_图片_4" alt="只要一条街就让你们吃到肚圆_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：16:00-2:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：100台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：鸭翅、鸭舌、猪脚</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路187号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">湄南海音乐餐厅</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">位于垦丁街道的中心，以泰式及印度尼西亚菜为主，菜色口味比以前进步很多，口味很不错，令人眼睛为之一亮，胃口大开，月亮虾饼、椒麻鸡、三味香酥鱼等。另外，这里也是许多游客夜间常逛的PUB，因为周六周日晚间皆有表演秀，有专业反串秀、舞男秀、钢管秀等。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-5.jpg" title="只要一条街就让你们吃到肚圆_图片_5" alt="只要一条街就让你们吃到肚圆_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：16:00-2:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：280台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：酸辣海鲜汤、巴东牛肉、凉拌海鲜</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路206号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">小叮当烤鱿鱼</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来到垦丁大街，一定要吃的就是烤鱿鱼了，靠近小湾的小丁当烤鱿鱼新鲜又大只，沾酱浓郁，加点辣更是可口，咸咸辣辣甜甜的口味，肉质弹牙，让人想要再来一只！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-6.jpg" title="只要一条街就让你们吃到肚圆_图片_6" alt="只要一条街就让你们吃到肚圆_图片_6"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：18：00-2:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：100台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：烤鱿鱼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路兴南巷2号 (垦丁国小莱尔富旁)</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">冒烟的乔</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">冒烟的乔餐厅位于福华饭店外，是高雄知名连锁餐厅，主要的风格是美式墨西哥口味的美食，对垦丁的外食人口真是一大福音。室内以美式西部的牛仔装饰风格，粗犷中放射出独特的设计。 这里提供了许多美式墨西哥料理的独特菜色，例如特制烟熏猪肋排、墨西哥花式拼盘、手工意大利面、招牌墨式香肠披萨、墨西哥香肠冷卷、味浓丰富快炒的中式料理以及贴心的儿童餐，都是值得推荐之选。热带风味调酒、比利时啤酒，也提供丰富而多样的选择。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-7.jpg" title="只要一条街就让你们吃到肚圆_图片_7" alt="只要一条街就让你们吃到肚圆_图片_7"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：11:30-02:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：600台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：特制烟熏猪肋排、酥烤德国猪脚、酥炸辣味玉米条</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路兴南巷2号 (垦丁国小莱尔富旁)</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">垦丁QQ蛋奶</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁在地创立的QQ蛋奶本铺，亲切的老板娘多年来根据客人的反应，不断的研制，令人怀念的浓郁黑糖粉圆滋味，完全就只有浓浓的黑糖粉圆加上林凤营鲜奶，不再添加其他水份，也让许多游客仍然指名要老板娘调配的QQ蛋奶。由于不含防腐剂，加上粉圆的特性，请一定要马上享用，隔夜粉圆就不Q了，若是想隔天享用，建议买黑糖仙草，口味也很棒喔！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-8.jpg" title="只要一条街就让你们吃到肚圆_图片_8" alt="只要一条街就让你们吃到肚圆_图片_8"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：18:00-24:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：40台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐：QQ蛋奶</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路237号（三商巧福前）</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">聚点PUB</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁第一家、也是唯一的一家纯英式PUB，创立于1991年。PUB内的调酒师是前西泽饭店的两位调酒师，而拿手的热带鸡尾酒一直以来都深受客人喜爱。 此外，聚点PUB搜集了世界各国的钱币及开罐器，更搜集了三千五百多张音乐CD，许多都是60-80年代另人难以忘怀的音乐，欢迎一起来共享怀旧时光。请注意：饮酒过量，有碍健康！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-83-9.jpg" title="只要一条街就让你们吃到肚圆_图片_9" alt="只要一条街就让你们吃到肚圆_图片_9"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">营业时间：19:00~01:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人均消费：600台币</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐： 自创鸡尾酒</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：屏东县恒春镇垦丁路路通海巷1号</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="font-size: 24px; color: rgb(0, 176, 240);"><strong><span style="font-size: 24px; font-family: 微软雅黑, 'Microsoft YaHei';">为您推荐的垦丁夜市</span></strong></span></p>
<p><span style="font-size: 24px; color: rgb(0, 176, 240);"><strong><span style="font-size: 24px; font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">垦丁大街，传说中的“垦丁大街”，是由"垦丁国家公园牌楼"到"垦丁凯撒大饭店"之间的“垦丁路”。这段短短不到两公里的“垦丁路”每到夜晚就会摇身一转变成为热闹繁华的“垦丁大街”，同時也把垦丁的夜晚点綴成一片缤纷，目前已是来垦丁游玩的游客傍晚必逛的景点。</span></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">这里有着各式各样的商店。除了一般夜市也有的各式趣味游戏，大街上还流行一种彩绘紋身，利用药水的暂时性效果让紋身的花样停留在身上约7-10天，而且街上还有许多间PUB，有时表演秀还会从店內跳到马路中间，每次都会引起路人骚动，相当特別。沿途也有許多充满海洋风味的个性商店，从花色繁多的海滩鞋、款式琳琅满目的海滩短裤等，另外一個特点就是美食特別多，五花八门的小摊子，品当地美食，以及各式异国、南洋料理，较特殊的是这里每一家餐厅装潢都特別具有风情。</span></p>
      </div>