<div class="article__content article-richedit-content">
        <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">没去过这些地方就不算来过高雄旅游</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">去过你才算是真正体验了高雄、体验了台湾</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">跟着大鱼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一起看看那些高雄旅行必去的景点</span></p>
<p><br></p>
<p><span style="background-color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台湾高雄旅游必去景点之  六合夜市</span></strong><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       走过甲子的高雄六合夜市是高雄市历史最久的夜市，亦是知名的观光型台湾夜市。海内外游客都慕名前往，感受南部地区豪情好客的夜市文化。六合夜市除了是南部地区首屈一指的夜市，集各地风味的小吃美食。在高雄六合夜市近30%的小吃摊已历经三代经营，美味依旧令人垂涎，更有新一代的年轻人开创不同的营业类型，造型各异的摊车引人驻足，呈现出传承与创新兼具的夜市。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-102-0.jpg" title="台湾高雄旅游必去景点_图片_0" width="321" height="220" border="0" style="width: 321px; height: 220px;" alt="台湾高雄旅游必去景点_图片_0"></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       门票：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">无</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">17:00~次日1:00</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       地址：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> 高雄市新兴区六合二路</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong style="white-space: normal;">台湾高雄旅游必去景点之  </strong><strong>高雄85大楼</strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       高雄85大楼又称东帝士85国际广场，是南台湾最高的摩天大楼。 高雄85大楼不仅是南台湾的地标，也是世界第13高的摩天大楼。在74楼可360度环楼欣赏高雄港景及市景，也是观景台所在。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-102-1.jpg" title="台湾高雄旅游必去景点_图片_1" width="500" height="292" border="0" style="width: 500px; height: 292px;" alt="台湾高雄旅游必去景点_图片_1"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">   <strong>    门票：</strong>观景台售票： 1.全票：150元（台币） 2.优待票：65岁以上130元（台币） 3.免费：100公分以下</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  开放时间：</strong>10:00-22:00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  地址：</strong>高雄市苓雅区自强三路1号 (新光路口)7号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);">台湾高雄旅游必去景点之  西子湾</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       西子湾是一个风景天成的湾澳，以夕阳美景及天然礁石闻名。每当日落时分，海岸护堤的石砌栏杆游客群聚，逐自挑选最佳位置观赏绚烂的落日光辉，海天一色的美景，美不胜收。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-102-2.jpg" title="台湾高雄旅游必去景点_图片_2" width="500" height="294" border="0" style="width: 500px; height: 294px;" alt="台湾高雄旅游必去景点_图片_2"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      <strong> 门票：</strong>免费</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       <strong>开放时间：</strong>全天</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  地址：</strong> 高雄市鼓山区莲海路</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span><strong><span style="color: rgb(255, 255, 255); font-family: 微软雅黑, 'Microsoft YaHei'; background-color: rgb(0, 112, 192);">热门住宿推荐</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240); font-size: 14px;">       85大楼Sam的家</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       老板sam是一位非常热情周到的先生，民宿里每间房型均由Sam精心布置，呈现出各种不同的迷人风情。为了让游人更好的享受假期，Sam还在每间房特别配置了电脑、电视、上网及声历声家庭剧院等影音设备，将住宿文化带领至追求卓越的崭新纪元。Sam家的每间房都很宽敝，倚靠在落地的观景窗前，享受慵懒自在的宁静。抖落部份的烦心事，Sam的家一定可以给您最舒适的住宿体验。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-102-3.jpg" title="台湾高雄旅游必去景点_图片_3" width="500" height="325" border="0" style="width: 500px; height: 325px;" alt="台湾高雄旅游必去景点_图片_3"></span><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  预定网址：<a href="/fishtrip/taiwan/gaoxiong/" target="_blank" text="/fishtrip/taiwan/gaoxiong/">http://www.fishtrip.cn/houses/hbXq5TovUIg</a> </strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong><br></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);">       逗号青年旅店</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">       紧靠高雄捷运盐埕埔站，距离换成枢纽美丽岛站只有2站，离高雄火车站也仅3站，著名的驳二艺术特区可步行到达。红色的砖墙是逗号青年旅舍的特色。 旅舍营造出一个温馨轻松的氛围，同时提供给客人各种高雄当地的旅游咨询。</span><br></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-102-4.jpg" title="台湾高雄旅游必去景点_图片_4" width="500" height="288" border="0" style="width: 500px; height: 288px;" alt="台湾高雄旅游必去景点_图片_4"></span></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">      预定网址：<a href="/fishtrip/taiwan/gaoxiong/" target="_blank" text="/fishtrip/taiwan/gaoxiong/">http://www.fishtrip.cn/houses/aDAVipSq4UU</a> </span></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 176, 240);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);"><br></span></span></strong></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);">更多台湾特色住宿就在：</span></strong><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 0, 0);"><a href="/fishtrip/taiwan/gaoxiong/" target="_blank" text="/fishtrip/taiwan/gaoxiong/">www.fishtrip.cn</a> </span></strong></span></p>
<p><span style="font-size: 12px; color: rgb(216, 216, 216);"><strong><span style="font-size: 12px; font-family: 微软雅黑, 'Microsoft YaHei';">（图片文字来源于百度）</span></strong></span></p>
      </div>