<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica;   min-height: 19px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 18px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都市内交通攻略之 公共汽车</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">京都市公共汽车覆盖京都市内的各个地方，十分便利。有单程票和日票，如果一日之内多次乘坐，可以买一张日票比较划算噢。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(100, 179, 223);  ">关于京都公共汽车</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">车费</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">车费在市内中心部为成人230日元，小孩（6岁以上，12岁未到）120日元。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">但是运行在郊外的公共汽车（整理券车）的车票根据你乘坐的距离而变。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "><strong>均一票价路线</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">请把车钱投进投币箱内。注意:无法找零。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">一千日元以下的钱币可于兑换机兑换零钱。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "><strong>非均一票价路线</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">车票价格会显示于车内前方屏幕上。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">请确认并对照手中整理券上的号码，支付相应票价。儿童半价（向上取整）。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">注意:无法找零。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">一千日元以下的钱币可于兑换机兑换零钱。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">如何乘坐</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">从后门乘车，从前门下车。下车的时候付车费。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">每到一站之前，在车体的前方，后方，后方乘车附近，都显示汽车的号码和最终点。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">汽车停在有这样记号的地方<img src="http://7xotew.com1.z0.glb.clouddn.com/article-162-0.jpg" title="京都市内交通全攻略_图片_0" alt="京都市内交通全攻略_图片_0">。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">注意事项</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">请在停车处等候汽车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">请上自己想做的公共汽车。（如果是整理券车，请在入口处的整理券发行机取下整理券。整理券上写着号码，根据号码，票价会有所改变。如果用的是卡式乘车券，在乘车的时候请把卡乘插进到卡式检查器。）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">车内播放你想下车的停留站，请按下车按钮<img src="http://7xotew.com1.z0.glb.clouddn.com/article-162-1.jpg" title="京都市内交通全攻略_图片_1" alt="京都市内交通全攻略_图片_1">。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: right; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 18px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都市内交通攻略之 地铁</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica;   min-height: 19px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "> </p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">京都的地下铁分为贯穿南北的「乌丸线」，贯穿东西的「东西线」，这两天线路在「乌丸御池站」相接触，相互乘换。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">地下铁站的入口有「地下铁」的标记。地铁票请在车站的自动贩卖机购买。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">票价</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  ">成年人为210日元到350日元，小孩子是110日元到180日元。（根据乘车距离。）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">乘坐地铁方法</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "><span class="Apple-tab-span" style="white-space:pre">	</span>1<span class="Apple-tab-span" style="white-space:pre">	</span>找出乘坐地下铁的入口，进入车站。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(255, 37, 0);  "><span style="color: rgb(68, 68, 68); "><span class="Apple-tab-span" style="white-space:pre">	</span>2<span class="Apple-tab-span" style="white-space:pre">	</span>地铁票请在车站的自动贩卖机购买。（票价贴在贩卖机的附近。） </span>（地下铁站贴有车站名称，请看上面的地下贴路线图之后确定乘车下车站。车内也播放车站名称。）</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "><span class="Apple-tab-span" style="white-space:pre">	</span>3<span class="Apple-tab-span" style="white-space:pre">	</span>车站有自动检票机，在自动检票机里插进车票即可进入车站内。请不要忘记取出插进去的车票。</p>
<p style="margin-top: 0px; margin-bottom: 0px; margin-left: 36px; text-indent: -36px; font-family: 'Songti SC'; color: rgb(68, 68, 68);  "><span class="Apple-tab-span" style="white-space:pre">	</span>4<span class="Apple-tab-span" style="white-space:pre">	</span>出地铁站的时候，把车票插进自动检票机里即可出站。（回收车票，但请不要忘记取出通勤卡。）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 18px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都市内交通攻略之 出租车</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(68, 68, 68);   min-height: 22px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Helvetica Neue'; color: rgb(50, 51, 51);  ">京都的出租车大部分可坐4人，也有的车型可容纳5人。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Helvetica Neue'; color: rgb(50, 51, 51);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Songti SC'; color: rgb(209, 127, 20);  ">费用</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Helvetica Neue'; color: rgb(50, 51, 51);  ">起步价约为580-650円/2公里，之后每370-430米/80円。车费超过5000円优惠3%，23:00-次日5:00加收20%费用。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: 'Helvetica Neue'; color: rgb(50, 51, 51);  ">京都的出租车还可以按游客的使用时间、游览景点提供包车服务，价格另议。</p>
<p><br></p>
      </div>