<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-0.jpg" title="北海道温泉攻略_图片_0" alt="北海道温泉攻略_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">北海道是位于日本北端的一个岛屿，四面环海，土地辽阔。去北海道的理由很多，怎么列出来都不够。那何必看理由，直接去吧！实在要找理由，大鱼给你来一个——泡温泉！</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">来看看北海道都有哪些棒棒的温泉吧～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(54, 125, 162);  ">北海道温泉攻略之 惠山温泉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">特点：葡萄酒颜色的温泉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-1.jpg" title="北海道温泉攻略_图片_1" alt="北海道温泉攻略_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><span style="color: rgb(64, 64, 64); font-family: Arial; font-size: 15px;  ">山麓里有葡萄酒颜色的温泉，是不是很稀奇？就算只去看看都觉得满足。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">惠山是一座活火山，位于北海道南部惠山道立自然公园内。喷火口附近的原野上有杜鹃花、越桔、满天星等 600种高山植物。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-2.jpg" title="北海道温泉攻略_图片_2" alt="北海道温泉攻略_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">附近还有水无海滨露天温泉（真的就是在海边泡温泉噢），水温根据落潮和涨潮会有所变化，可以边看山海，一边泡温泉。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-3.jpg" title="北海道温泉攻略_图片_3" alt="北海道温泉攻略_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><span style="color: rgb(73, 155, 201); ">交通：</span>乘坐巴士从函馆车站至惠山登山口约1小时45分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(54, 125, 162);  ">北海道温泉攻略之 登别温泉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">特色：地狱谷喷涌火山气体</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-4.jpg" title="北海道温泉攻略_图片_4" alt="北海道温泉攻略_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">登别温泉是北海道的代表温泉，是原始森林环抱的温泉疗养地。这里九种温泉各具特色，有的是硫化氢水质，有的是食盐水质，有的则含铁。水质优良，已被列为世界珍稀温泉之一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">登别位于北海道西南部，拥有登别温泉、卡露露斯温泉、新登别温泉等许多温泉和树海、湖沼等，景观极富变化。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">温泉中给人印象最深的是地狱谷，火山气体从灰黄色的岩石表面向外喷出，周围空气中充满了浓烈的硫磺异味，简直是一幅地狱中的景象。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">提到地狱谷，你也许还会想到一群在这里泡温泉的雪猴。这群泡温泉时表情陶醉的猴子也是地狱谷的景观之一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-5.jpg" title="北海道温泉攻略_图片_5" alt="北海道温泉攻略_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><span style="color: rgb(73, 155, 201); ">交通：</span> 乘坐JR 室兰本线特快从新千岁机场到登别车站约 50 分钟，巴士从登别车站到温泉街约 13 分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(54, 125, 162);  ">北海道温泉攻略之 温根汤温泉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">特点：世界上最大的报时钟、日本最大淡水鱼、北海道代表性动物北狐</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-6.jpg" title="北海道温泉攻略_图片_6" alt="北海道温泉攻略_图片_6"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(64, 64, 64);  ">温根汤温泉位于留边蕊町，离北海道东北部以栽种薄荷而闻名的北见市 30 公里。据说开发于 1890 年，是北海道屈指可数的温泉疗养地。这里沿着河川旅店林立，黄昏时分温泉街上游人如织，热闹非凡。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">除了泡温泉，这里值得一看的东西有世界上最大的报时钟，是温根汤的象征物，它象征了这座作为北海道的木材集散地而发展起来的城镇。每到整点时，钟内出现活动偶人奏起音乐。另一个广为人知的名物是被指定为天然纪念物的“虾夷紫杜鹃花”。初夏时节，沿河的杜鹃山上一片绯红。杜鹃花多达 28 万株。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-7.jpg" title="北海道温泉攻略_图片_7" alt="北海道温泉攻略_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-8.jpg" title="北海道温泉攻略_图片_8" alt="北海道温泉攻略_图片_8"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-174-9.jpg" title="北海道温泉攻略_图片_9" alt="北海道温泉攻略_图片_9"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  ">附近还有北狐牧场，放养着北海道有代表性的动物──北狐。这里还可以看到珍稀的银狐。另外，在镇立的水簇馆和乡土馆中，饲养着日本最大的淡水鱼，一种被称为“梦幻之鱼”的棘鱼。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Arial; color: rgb(64, 64, 64);  "><span style="color: rgb(73, 155, 201); ">交通：</span>从网走车站乘坐JR石北本线特快到留边蕊车站约1 小时 15 分钟。从留边蕊车站乘坐温根汤方向巴士约 20 分钟。</p>
<p><br></p>
      </div>