<div class="article__content article-richedit-content">
        <p style="white-space: normal; text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">来清境农场一定要尝的美食</span></strong></span></p>
<p style="white-space: normal;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">纸箱王主题餐厅</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在清境农场附近有间以瓦楞纸为主，并搭配清境地方特色布置的「纸箱王主题餐厅」。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">推荐它的“普罗旺斯黑胡椒鸡排”虽然卖相不是非常好看，但是却很美味。此外还推荐“蜂蜜百花脆饼”很好吃。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">这里的纸箱王建筑共有两层楼，餐厅在二楼的蜂蜜故事馆，一楼还有贩卖部，贩售各式纸制的商品，不需门票就可以参观。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-112-0.jpg" title="清境小指南伴你畅游无阻_图片_0" alt="清境小指南伴你畅游无阻_图片_0"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：位于国民宾馆对面，在7-11的左后方，旁边紧邻《小瑞士花园》，在这里停车也还算方便，可以将车子停在国民宾馆或是7-11前面的停车场，基本上都不用收费。</span></p>
<p style="white-space: normal;"><br></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">鸡大王土鸡城</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">主打使用南投县在地食材，严选南投日月潭饲养的高山野溪鲈鱼，泉水清澈自然养殖，肉质Q弹鲜嫩无土腥味。精选后山鹿野地区与农民契作的放山鸡，鸡农以辣椒大蒜饲养，鸡肉Q弹健康无抗生饲料味。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：南投县仁爱乡大同村仁和路224号附3</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">电话：049-280-2688</span></p>
<p style="white-space: normal;"><br></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">苹果园瓮仔鸡</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> 店铺位于海拔2000公尺，群山环绕、一览无遗，，美景尽收眼底。招牌苹果瓮仔鸡内含苹果，肉质清香细嫩，独家口味。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-112-1.jpg" title="清境小指南伴你畅游无阻_图片_1" alt="清境小指南伴你畅游无阻_图片_1"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：南投县仁爱乡仁和路224-1号</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">电话：049-2802073</span></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal; text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">清境农场交通建议</span></strong></span></p>
<p style="white-space: normal;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">搭乘公交车到清境的方式</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">无论由北、中、南各地搭乘公交车，都须至埔里下车，换乘南投客运(往翠峰、松岗方向)至清境(农场)。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">1.由台北可搭国光客运至埔里，换乘南投客运至清境。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">2.由台中可搭乘南投客运或全航客运至埔里(终点站)，换乘南投客运至清境。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">3.由高雄可搭总逹客运至埔里，换乘南投客运至清境。</span></p>
<p style="white-space: normal;"><br></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">搭乘火车到清境的方式</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">搭乘火车请于【台中站】下车后换乘南投客运或全航客运至埔里(终点站)换乘南投客运(往翠峰、松岗方向)至清境(农场)</span></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal; text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">还可以试试这些特色活动</span></strong></span></p>
<p style="white-space: normal;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<p style="white-space: normal;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"></span></strong></span></p>
<ul class=" list-paddingleft-2" style="margin-bottom: 11px; width: 706.796875px; white-space: normal; box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px;"><li><p style="box-sizing: border-box;"><span style="color: rgb(0, 0, 0);"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei';">秋季赏枫</span></strong></span></p></li></ul>
<p style="white-space: normal; box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(0, 0, 0);">每至秋季，清境的满山枫叶尽皆染上了红色。您可漫步于山中步道，欣赏红叶美景。若能沿步道登至山顶，还能观赏云海奇观。</span></p>
<p style="white-space: normal; box-sizing: border-box; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px;"><span style="box-sizing: border-box; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-112-2.jpg" title="清境小指南伴你畅游无阻_图片_2" width="500" height="376" border="0" style="box-sizing: border-box; border: 0px; vertical-align: middle; max-width: 100%; width: 500px; height: 376px;" alt="清境小指南伴你畅游无阻_图片_2"></span></p>
<p style="white-space: normal;"><br></p>
<ul class=" list-paddingleft-2" style="width: 706.796875px; white-space: normal;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">农场绵羊秀</span></strong></p></li></ul>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">您和爱人、朋友一定不要错过这个有趣的表演！整个表演时间长达四十分钟左右，一开始牧羊人会带着毛绒绒、圆滚滚的绵羊出场，接着会以手语、口令及哨音的配合，驱使牧羊犬将脱队的羊只归队。将羊群赶进栅栏中，特别设计的分类篱，可任牧羊人开关活动，筛选出需要交配、打针或剪羊毛的羊只，并分别将其引进不同的围栏里；接着，从栅栏里挑选出一只待剪羊毛的羊只，最后，格兰展现剪羊毛的绝活，以10多秒的速度，就迅速将羊只的羊毛剪完。这个活动肯定让您和爱人、朋友留下美好的回忆。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-112-3.jpg" title="清境小指南伴你畅游无阻_图片_3" alt="清境小指南伴你畅游无阻_图片_3"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演时间：国定假日及每逢週六、日表演</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演时段：上午09：30、下午02：30各一场，每场约30分钟</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">表演地点：清境农场青青大草原内</span></p>
      </div>