<div class="article__content article-richedit-content">
        <p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">没去过这些地方就不算来过垦丁旅游</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">去过你才算是真正体验了垦丁、体验了台湾</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">跟着大鱼</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一起看看那些垦丁旅行必去的景点</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-79-0.jpg" title="台湾垦丁旅游景点地图_图片_0" alt="台湾垦丁旅游景点地图_图片_0"></span></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">垦丁住宿推荐：</span></strong><a href="/fishtrip/taiwan/kending/" style="font-family: 微软雅黑, 'Microsoft YaHei';" target="_blank" text="/fishtrip/taiwan/kending/"><strong>http://www.fishtrip.cn/taiwan/kending</strong></a><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"> </span></strong></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">台湾垦丁旅游景点地图之  垦丁国家公园</span></strong></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       垦丁国家公园三面环海，是台湾本岛唯一热带区域的国家公园。垦丁国家公园具有奇特的地理景观、丰富多变的生态、特殊罕见的海岸林带的植物群。 垦丁公园拥有热带树种一千多种，为台湾第一座热带植物林，也是世界八大实验林场之一；垦丁国家公园分为植物景观与人工建筑融合的游赏区域、特有的地形景观和植物景观、原始珊瑚礁雨林带等三区域。公园内的南湾、鹅銮鼻公园景色优美，一定不能错过！</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-79-1.jpg" title="台湾垦丁旅游景点地图_图片_1" alt="台湾垦丁旅游景点地图_图片_1"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  门票：</strong>垦丁森林游乐区：150.00新台币 佳乐水风景区 ：100.00新台币 垦丁青年活动中心：50.00新台币 鹅銮鼻公园：40.00新台币 猫鼻头公园、南湾游憩区龙銮潭：免门票</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       <strong>开放时间：</strong>08:30~17:00</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="color: rgb(255, 255, 255); background-color: rgb(0, 112, 192);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><strong>台湾垦丁旅游景点地图之   </strong>垦丁大街</span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       游垦丁，风景秀丽的海岸线不可错过，同时也不要错过垦丁大街的台湾夜市。夜晚的垦丁大街热闹不已，众多美食让人忘返。白天的垦丁大街虽然也商铺林立，但若真想见识这里的美妙，一定得等到日落之后。沿街会摆出很多小摊贩，从吃的喝的，到旅游纪念品，真的让人很是放松。吹着海风，吃着美食，这才是度假的味道。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-79-2.jpg" title="台湾垦丁旅游景点地图_图片_2" alt="台湾垦丁旅游景点地图_图片_2"></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">     <strong>  门票：</strong>免费</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">    <strong>    开放时间：</strong>全天 ，大部分商店营业时间为07:00 到次日1:00。</span></p>
<p><span style="color: rgb(216, 216, 216); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px; line-height: 24px;  background-color: rgb(255, 255, 255);">（资料图片来源于百度）</span></p>
      </div>