<div class="article__content article-richedit-content">
        <p><br></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">阿里山交通攻略之如何前往阿里山</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">去阿里山可以选择以下路线</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background-color: rgb(255, 255, 255);">路线一</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">： 高铁嘉义站–阿里山</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">可在高铁嘉义站大厅2号出口旁搭乘台湾好行大巴的阿里山A线到达阿里山。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">路线二</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">：台铁嘉义站–阿里山</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">可在台铁嘉义火车站旁的嘉义公车嘉义站搭乘台湾好行大巴的阿里山B线到达阿里山。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">路线三</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">：乘坐阿里山火车从嘉义火车站前往奋起湖，再从奋起湖转乘公路交通前往阿里山。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">阿里山交通攻略之嘉义去阿里山小火车票如何购买：</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">在嘉义火车站窗口购票：采提前4日预售(含乘车日)。如12月1日可购买12月2~4日的车票。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">人工电话预约订票：订票专线(05)225-6918，采取提前15日预售(含乘车日)。如12月1日可接受12月2~15日的车票预订。</span></p>
<p> </p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">阿里山交通攻略之在阿里山出行</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">阿里山小火车</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">阿里山小火车是在阿里山最舒适的出行方式，也是之字形体验的最佳观景点。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">阿里山小火车特色线路</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">祝山线</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">祝山观日列车，因为一年四季，每天日出时间都不一样，阿里山车站会随着每天日出时间及每天的旅客数量做调整，第1班列车开车时间夏季最早约在清晨4时，冬季约在清晨6时。并于每日下午4时左右于网站、车站、游乐区大门口及游客中心进行公告。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">神木线</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">神木线，是最能感受到铁道的浪漫情怀，从阿里山火车站乘坐着满室飘香的桧木列车，雾气袅袅，只要10分钟即可抵达享誉盛名的阿里山神木，在这里下车，不妨走神木群步道，这里有超过20株的大型桧木，步行在芬多精弥漫的栈道上，可直接通到沼平车站。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">沼平线</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">沼平线是条赏樱线路，沿途都是数十年树龄的吉野樱。每当樱花季时这条线路则十分浪漫。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="color:#444444;font-family:微软雅黑, sans-serif">阿里山住宿攻略：<a href="/taiwan/jiayi/" target="_blank">http://www.timlentse.com/taiwan/jiayi/</a> </span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><br></p>
<p> </p>
<p><br></p>
      </div>