<div class="article__content article-richedit-content">
        <p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>原来花莲一天可以这么玩！</span></strong></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>方案一：</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>太鲁阁国家公园</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>七星潭</span></p>
<p><br></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>方案二：</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>花东纵谷</span></p>
<p><br></p>
<p><br></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">方案一</span></strong></p>
<p><strong><span style='color: rgb(0, 176, 240); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>第一站：太鲁阁国家公园</span></strong></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>带着小朋友来花莲旅游，如果没到太鲁阁，那可是一大憾事了。长春祠、燕子口、九曲洞景观美不胜收，清水断崖展现太鲁阁地形之险峻与地质之奥妙。与家人行走在太鲁阁公园中，不由地赞叹道大自然造物力量的伟大。沿着立雾溪的峡谷风景线而行，触目所及皆是壁立千仞的峭壁、断崖、峡谷、连绵曲折的山洞隧道、大理岩层和溪流等风光。</span></p>
<p></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-70-0.jpg" title="这么玩花莲不会有遗憾哒_图片_0" style="width: 550px; height: 344px;" width="550" height="344" border="0" alt="这么玩花莲不会有遗憾哒_图片_0"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-70-1.jpg" style="width: 550px; height: 348px;" title="这么玩花莲不会有遗憾哒_图片_1" width="550" height="348" border="0" alt="这么玩花莲不会有遗憾哒_图片_1"></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'><strong style="white-space: normal;"><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>门票：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'></span></span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>免费</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>开放时间：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>08:00~17:00</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>太鲁阁国家公园景点相距较远，且没有固定的公交贯通，建议多人包车前往。</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>游玩时间：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>一天</span></p>
<p><br></p>
<p><br></p>
<p style="white-space: normal;"><span style="font-size: 18px; color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">第二站：七星潭</span></strong></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在花莲，可以浪漫的看着日出，迎接新的一天。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">Discovery频道亦曾前来七星潭拍摄海上日出奇景，可见其独特的风采。</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">七星潭海滩呈现为优美的弧形，海水湛蓝透底。在七星潭您还可以远眺清水断崖，区内更有许多景点，比如：石雕园区、赏星广场、观日楼、儿童游乐场、海生态解说牌、海滨植物园区等，为您提供休憩和知性之旅。夏天早晨五点，在七星潭可观赏到花莲最壮丽的日出；农历十五前后的夜晚，则可以感受海上升明月，就算月亮缺席了，银河也会来补偿你。海滩上的是石头再美过目就好，捡拾带走的行为不仅违法当地法规还会破坏生态。我们建议你（和你的朋友）租一辆自行车沿着海岸线骑行。这意味着你可以用较少的体力欣赏到更多的美景，而且骑行道辅设良好。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-70-2.jpg" title="这么玩花莲不会有遗憾哒_图片_2" width="550" height="324" border="0" style="width: 550px; height: 324px;" alt="这么玩花莲不会有遗憾哒_图片_2"></span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">建议多人包车前往。</span></p>
<p><br></p>
<p><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;"><strong>方案二：</strong></span></p>
<p><strong><span style='color: rgb(0, 176, 240); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>花东纵谷</span></strong></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>与家人一起的旅途不只可以获得乡野休憩的舒适，还可进一步享受知性地、学习性的深刻乐趣，何乐而不为呢？花东纵谷自然环境优美，民风淳朴，具有独特的自然及人文景观。 陪着孩子家人体验东台湾的产业、平野幽谷之风情，在山川平野共享自然美景。</span></p>
<p><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-70-3.jpg" title="这么玩花莲不会有遗憾哒_图片_3" width="550" height="322" border="0" style="width: 550px; height: 322px;" alt="这么玩花莲不会有遗憾哒_图片_3"></span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>门票：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>免费</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>地址：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>978台湾花莲县瑞穗乡 ‎</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>交通：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>建议多人包车前往</span></p>
<p><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>游玩时间：</span></strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>一天</span></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>特别行程：</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>七星柴鱼博物馆</span></strong></span></p>
<p><span style="color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei; font-size: 14px;">如果和家人去七星潭看风景后，不妨去七星潭游客中心附近有一家奇怪的七星柴鱼博物馆看看，若你带着孩子，一定会喜欢在这里上一节手工劳动课并品尝美味，要知道七星潭一带曾是台湾柴鱼工厂的主要据点。</span></p>
<p><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'><img width="550" height="306" title="这么玩花莲不会有遗憾哒_图片_4" style="width: 550px; height: 306px;" src="http://7xotew.com1.z0.glb.clouddn.com/article-70-4.jpg" border="0" alt="这么玩花莲不会有遗憾哒_图片_4"></span></p>
<p><strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>地址：</span></strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>新城乡大汉村七星街148号</span></p>
<p><strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>门票：</span></strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>50新台币</span></p>
<p><strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>营业时间：</span></strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'>9:00~19:00</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 18px;'>远雄海洋公园</span></strong></span><span style='font-family: 微软雅黑, "Microsoft YaHei"; font-size: 14px;'><br></span></p>
<p><span style="font-family: 微软雅黑,Microsoft YaHei; font-size: 14px;">太平洋岸最大的海洋公园，孩子们最爱的地方。海豚表演和海盗湾的游乐设施常年最受孩子追捧。最有特色活动莫过于在海洋馆里睡一夜，试想游客散尽后的夜晚，鲸鲨会对你说什么悄悄话？</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-70-5.jpg" title="这么玩花莲不会有遗憾哒_图片_5" width="550" height="367" border="0" style="width: 550px; height: 367px;" alt="这么玩花莲不会有遗憾哒_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">”海洋未眠夜“活动需要事前网络查询班次并电话预约（电话：8123100转2111；周一至周六8:30~17:00）</span><br></p>
      </div>