<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>行程安排：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day1</strong></span><strong>：</strong>到达札幌，当晚入住札幌（住在 札幌站 附近）；</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day2</strong></span><strong>：</strong>小樽，当天返回札幌（参加小樽海湾物语 一日行程），从札幌前往定山溪，晚上住在定山溪（有大巴车可直接到达）；</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day3</strong></span><strong>：</strong>从定山溪返回札幌，从札幌前往旭川，游玩旭山动物园，傍晚前往富良野，当晚入住富良野<span style="font-family: 'Times New Roman';">+</span>泡温泉；</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day4</strong></span><strong>：</strong>前往富良野滑雪场滑雪，傍晚返回札幌，入住札幌；</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day5</strong></span><strong>：</strong>从札幌前往函馆，当天游玩函馆，当晚入住函馆；</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><strong>Day6</strong></span><strong>：</strong>参加函馆朝市，当天从函馆前往新千岁机场，返回国内。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(4, 51, 255);  "><span style="font-family: 'Times New Roman';"><strong>Ps. </strong></span><strong>此线路可灵活拆解，如碰到带老人出行的用户，可删减滑雪的行程。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman'; color: rgb(4, 51, 255);   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>冬季在北海道必须要做的十件事</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong><br></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">1.</span>去北海道大学看雪景</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">2.</span>在小樽运河散步、做音乐盒</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">3.</span>到世界三大夜景地之一的函馆看夜景</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">4.</span>在旭山动物园看企鹅散步</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">5.</span>去当地人滑雪的地方滑一次雪</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">6.</span>在小樽吃当地味道的寿司</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">7.</span>在札幌的拉面横町吃一碗地道的拉面驱寒</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">8.</span>在露天浴池泡汤，体验边泡汤边赏雪的愉悦</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">9.</span>在富良野住一次木屋民宿</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">10.</span>与当地人堆积的萌雪人合影</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: Times; color: rgb(121, 174, 61);  "><span style="font-family: 'Times New Roman';"><strong>Day1</strong></span><strong>：</strong>到达札幌，当晚入住札幌（住在 札幌站 附近）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>游玩路线：</strong>北海道大学<span style="font-family: Verdana;">—</span>白色恋人巧克力工厂<span style="font-family: Verdana;">—</span>大通公园<span style="font-family: Verdana;">—</span>札幌电视塔<span style="font-family: Verdana;">—</span>拉面横丁</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>北海道大学</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-0.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_0" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_0"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">当然雪景配着美丽的大学，就是一种意境，不可不去！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">从札幌站可步行前往（记得逛一下该校的博物馆）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>白色恋人巧克力主题公园</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-1.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_1" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_1"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">这个有着巧克力梦工厂之称的主题公园，非常值得一去，门票是免费的，参观工厂是<span style="font-family: 'Times New Roman';">600</span>日元，还会赠送巧克力。不仅有制作饼干体验、咖啡、玩具等等，相关网址：<a href="/fishtrip/japan/beihaidao/" target="_blank" text="/fishtrip/japan/beihaidao/"><span style="font-family: 'Times New Roman'; color: rgb(4, 51, 255); ">http://www.shiroikoibitopark.jp/chinese/index.html</span></a></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">交通方式：地铁东西线 宫之泽站 下车<span style="font-family: 'Times New Roman';">(</span>从大通站乘坐约<span style="font-family: 'Times New Roman';">20</span>分钟<span style="font-family: 'Times New Roman';">)</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  "><span style="font-family: Times;">营业时间：</span>09:00~18:00</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>大通公园</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-2.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_2" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_2"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">乘坐地铁在 大通公园 站下车，开始大通公园<span style="font-family: Verdana;">—</span>薄野站的步行游玩之旅吧！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: Verdana;">Ps.冬季去说不定还能碰上</span>北海道札幌雪祭，如果你刚好赶上，就能在大通公园看到各种好玩有趣的雪雕了！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  "><span style="font-family: Times;">雪祭官网：</span>http://www.snowfes.com/t/</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>札幌电视塔</strong><span style="color: rgb(0, 0, 0); ">  </span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><span style="color: rgb(0, 0, 0); "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-3.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_3" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_3"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  "><span style="font-family: Times;">冬季营业时间：</span>9:30<span style="font-family: Times;">～</span>21:30</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">上去感受一下札幌迷人的夜景吧！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>拉面横町 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-4.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_4" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_4"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">札幌必去<span style="font-family: Verdana;">——</span>【拉面横町】地铁： 薄野站</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">拉面横町是札幌拉面街的意思，拥有<span style="font-family: Verdana;">30</span>多年的历史，拥有<span style="font-family: Verdana;">17</span>家店铺，虽然不大，但每一家的拉面都很美味，在冬夜来上一大碗，驱寒又满足！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>地址：</strong>北海道札幌市中央区南<span style="font-family: Verdana;">5</span>条西<span style="font-family: Verdana;">3</span>丁目</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  "><strong>Tips:</strong></p>
<ol class=" list-paddingleft-2">
<li><p><span style="font-size: 12px; font-family: Helvetica;"></span>当天不建议够买大件物品，因为还要辗转其它目的地，携带会不方便；</p></li>
<li><p><span style="font-size: 12px; font-family: Helvetica;"></span>记得带着暖宝宝上路，很有必要！</p></li>
<li><p><span style="font-size: 12px; font-family: Helvetica;"></span>北海道的商店关门都会比较早，所以记得提前安排好时间。</p></li>
</ol>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: 'Times New Roman'; color: rgb(121, 174, 61);  "><strong>Day2：小樽，当天返回札幌（参加小樽海湾物语 一日行程），从札幌前往定山溪，晚上住在定山溪（有大巴车可直接到达）</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>游玩路线：</strong>参加小樽海湾物语 一日行程<span style="font-family: 'Times New Roman';">—</span>返回札幌<span style="font-family: 'Times New Roman';">—</span>从札幌站前往定山溪（约<span style="font-family: 'Times New Roman';">1</span>小时，有大巴车可直达）<span style="font-family: 'Times New Roman';">—</span>定山溪露天温泉<span style="font-family: 'Times New Roman';">+</span>日式晚餐</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  ">链接： <a href="/fishtrip/japan/beihaidao/" target="_blank" text="/fishtrip/japan/beihaidao/">http://www.fishtrip.cn/activities/elcNPTzVlQA</a></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-5.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_5" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="color: rgb(73, 155, 201); "><strong>小樽海湾物语</strong></span><strong>的行程</strong>涵盖的小樽游玩的精髓，而且可当天返回札幌，还有汉语语音讲解，让你更加深入了解这座北海道西部著名的港口城市。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: 'Times New Roman'; color: rgb(121, 174, 61);  "><strong>Day3：从定山溪返回札幌，从札幌前往旭川，游玩旭山动物园，傍晚前往富良野，当晚入住富良野+泡温泉</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">去旭川想要乘坐<span style="color: rgb(73, 155, 201); "><strong>动物园列车</strong></span>的话，记得按照时间出发！动物园列车是非常受大小朋友喜爱的，带孩子的你们，一定不要错过，早点起床喔！</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-6.jpg" style="float:none;" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_6" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_6"></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-7.jpg" style="float:none;" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_7" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_7"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>旭川返回札幌的动物园号火车车次时间：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">去程：札幌（<span style="font-family: 'Times New Roman';">8:30</span>出发）<span style="font-family: 'Times New Roman';">→</span>旭川（<span style="font-family: 'Times New Roman';">10:07</span>抵达）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">返程：旭川（<span style="font-family: 'Times New Roman';">16:05</span>出发）<span style="font-family: 'Times New Roman';">→</span>札幌（<span style="font-family: 'Times New Roman';">17</span>：<span style="font-family: 'Times New Roman';">46</span>抵达）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">中途停车车站：岩见泽、龙川</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman'; color: rgb(4, 51, 255);  "><span style="font-family: Times; color: rgb(0, 0, 0); ">参考网址：<a href="/fishtrip/japan/beihaidao/" target="_blank" text="/fishtrip/japan/beihaidao/"><span style="font-family: 'Times New Roman'; ">http://www2.jrhokkaido.co.jp/global/chinese/travel/01.html</span></a></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>旭山动物园</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-8.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_8" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_8"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">在旭山动物园最受欢迎的莫过于：企鹅散步，进园前记得问好表演时间，提前占好位置拍照喔！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">从旭川站前往富良野，当天入住富良野木屋。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">富良野木屋乃富良野的一大特色，不仅能泡汤，还有店家准备的北海道特色美食，住在木屋里，一边看雪，一边吃着冰淇淋，悠哉也！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: 'Times New Roman'; color: rgb(121, 174, 61);  "><strong>Day4：前往富良野滑雪场滑雪，傍晚返回札幌，入住札幌</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>富良野滑雪场</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-9.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_9" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_9"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">这里是粉状雪的滑雪胜地，铺满了最棒的粉状雪。不仅外国游客较少，雪道迷人的白桦林风景更是让人难忘。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">返回札幌，晚上返回札幌，入住在札幌站附近（民宿）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">品尝美食：</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="color: rgb(73, 155, 201); "><strong>蟹本家</strong></span><span style="font-family: 'Times New Roman';"> </span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-10.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_10" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_10"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">营业时间<span style="font-family: 'Times New Roman';">:11:30</span>～<span style="font-family: 'Times New Roman';">22:00 </span>（帝王蟹的套餐，一定不要错过）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  "><span style="font-family: Times;"><strong>地址：</strong>札幌市中央区北三条西二丁目</span>1-18<span style="font-family: Times;">电话</span>:81-11-222-0018</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>交通</strong><span style="font-family: 'Times New Roman';"><strong>:</strong></span>从<span style="font-family: 'Times New Roman';">JR“</span>札幌<span style="font-family: 'Times New Roman';">”</span>站南出口步行<span style="font-family: 'Times New Roman';">5</span>分钟，地铁<span style="font-family: 'Times New Roman';">“</span>札幌<span style="font-family: 'Times New Roman';">”</span>站<span style="font-family: 'Times New Roman';">13</span>号出口</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="font-family: 'Times New Roman';">Ps.</span>当晚可狸小路商业街购物、堂吉坷德的店铺也不要错过！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: 'Times New Roman'; color: rgb(121, 174, 61);  "><strong>Day5：从札幌前往函馆，当天游玩函馆，当晚入住函馆</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">从札幌前往函馆车程需要<span style="font-family: Verdana;">3</span>个小时，虽然有些长，但是想想函馆的迷人夜景与美食，就早点爬起来吧！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">到了函馆，肯定饿了吧！酒店登记好，就开始你的函馆之旅吧！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">美食推荐：</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>函太郎 </strong><span style="color: rgb(0, 0, 0); "> </span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><span style="color: rgb(0, 0, 0); "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-11.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_11" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_11"></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-12.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_12" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_12"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">地址：函館市五稜郭町25-17  <strong>推荐理由：</strong>当地人最喜欢吃的寿司店铺</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>交通方式：</strong>位于五稜郭公园以北，穿过五稜郭公园，徒步至五稜郭公园西北角的中央图书馆前，即可到达。 饭后步行前往<strong> </strong><span style="color: rgb(73, 155, 201); "><strong>五稜郭公园</strong></span><strong> </strong>游玩</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-13.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_13" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_13"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">五稜郭公园到达方式：JR站前乘坐函馆有轨电车(市电)五棱郭公园前下车徒步15分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">在五稜郭公园登陆【五稜郭塔】可以俯瞰整个五稜郭。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">游玩1小时左右后，乘坐坐电车返回JR函馆站。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">前往JR函馆和元町之间的<strong> 红砖仓库、元町教会堂</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>红砖仓库</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-14.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_14" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_14"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">交通方式：JR函馆站前徒步约15分，或站前乘有轨电车(市电)十字街站下车，徒步3分钟。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong>元町教会堂</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(73, 155, 201);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-15.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_15" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_15"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>地址</strong>：函館市元町15-30</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>之后前往</strong><span style="color: rgb(73, 155, 201); "><strong>函馆山</strong></span><strong>看夜景</strong>。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-16.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_16" style="font-family: sans-serif; font-size: 16px;" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_16"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">函馆山到达方式：搭乘函馆有轨电车(市电)至“十字街”站下车，徒步10分抵达函馆山缆车(ロープウェイ)“山麓站”换乘缆车上山，约3分钟可达山顶。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">看完山景后，可乘坐直达巴士返回JR函馆站。单程票价为360日元。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-family: 'Times New Roman'; color: rgb(121, 174, 61);  "><strong>Day6：参加函馆朝市，当天从函馆前往新千岁机场，返回国内</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><span style="color: rgb(73, 155, 201); "><strong>函馆朝市</strong></span>：你一定要早起啊！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-177-17.jpg" title="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_17" alt="北海道 泡汤+滑雪 6天5夜 行程攻略_图片_17"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">函馆朝市三件必尝美食：帝王蟹、海鲜井、活吃章鱼。（最后一项持保留态度，不是跟韩国一样整个活吞喔！是可以自己钓，自己吃的！）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">函馆朝市营业时间：<span style="font-family: 'Times New Roman';">5:00</span>至中午，建议<span style="font-family: 'Times New Roman';">7</span>点左右到，不然好吃的就差不多没有了！</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">从函馆前往新千岁机场，结束满足的北海道之旅，返回国内。（如果航班时间不赶的话，顺便逛逛机场免税店吧！）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: 'Times New Roman';   min-height: 17px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>其它小贴士：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>App软件推荐</strong>：Line中日翻译通（可以直接打出日文意思，很方便）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(4, 51, 255);  "><span style="color: rgb(0, 0, 0); "><strong>北海道天气预报</strong>：<a href="/fishtrip/japan/beihaidao/" target="_blank" text="/fishtrip/japan/beihaidao/"><span>http://www.tenki.jp/forecast/1/</span></a></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  "><strong>日本全国地下铁的App应用</strong>：</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times; color: rgb(4, 51, 255);  "><span style="text-decoration: underline ; font-kerning: none"><a href="/fishtrip/japan/beihaidao/" target="_blank" text="/fishtrip/japan/beihaidao/">http://itunes.apple.com/tw/app/quan-guo-de-xia-zhinabi/id605720134?l=z</a></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">*提供札幌、仙台、东京都营、横滨、名古屋、京都、大阪、神户、福冈的地铁和巴士信息、时间表和分段计费以及地铁站内构成</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">特点：能够搜索到周边的景点、美食和服务设施，配有完整的巴士导航路线图。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Times;  ">这个记得下载下来喔，真的很方便！</p>
<p><br></p>
      </div>