<div class="article__content article-richedit-content">
        <p><br></p>
<p style="margin-bottom:10px;text-indent:32px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台南花园夜市以规模大著称，与观光夜市相比更为本土化。花园夜市并非天天有，只有在周四、周六、周日开放，时间是18:00到1:00. 想去夜市吃吃喝喝要看好日期，以免错过哟。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">陈记港式鱼蛋/麻辣鸭血，四草蚵仔煎，阿美腌芭乐，统大炭烤鸡排，古早味冬瓜茶，春卷冰激凌，杰旗鱼黑轮……花园夜市美食之多，可以让人挑花眼。为了拯救选择困难的你，大鱼君推荐几款到花园夜市不可错过的小吃。</span></p>
<p style="margin-bottom:10px;"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">1，</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">陈记麻辣鸭血/鱼蛋</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">这是到了花园夜市必点的小吃。鱼蛋够Q，鸭血没有一丁点儿腥味，只有弹弹的口感和台湾特别的麻辣口味的香留在齿间。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-118-0.jpg" title=" 台湾夜市小吃推荐之台南花园夜市_图片_0" alt=" 台湾夜市小吃推荐之台南花园夜市_图片_0"></span></p>
<p style="margin-bottom:10px;"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">2，</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">阿美腌芭乐</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">芭乐其实就是台湾人对番石榴的称呼。北方的朋友对腌制水果可能不是很熟悉。用盐和其他调料腌出来的水果咸中带甜，口味独特。阿美家的水果还可以大块试吃。当然，其他家的腌水果也是大同小异。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-118-1.jpg" title=" 台湾夜市小吃推荐之台南花园夜市_图片_1" alt=" 台湾夜市小吃推荐之台南花园夜市_图片_1"></span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">3</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">，统大炭烤鸡排</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">当地人推荐的美食，想尝试台南口味炭烤鸡排的可以试试，不过预计要等上30分钟。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-118-2.jpg" title=" 台湾夜市小吃推荐之台南花园夜市_图片_2" alt=" 台湾夜市小吃推荐之台南花园夜市_图片_2"></span></p>
<p style="margin-bottom:10px;"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">4，</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">旗鱼黑轮</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台南人很喜欢的小吃。热腾腾的可以蘸酱，也可以吃原味，怎么吃都好吃。能把旗魚做成這種食品，台湾小吃真是了不起。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-118-3.jpg" title=" 台湾夜市小吃推荐之台南花园夜市_图片_3" alt=" 台湾夜市小吃推荐之台南花园夜市_图片_3"></span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">5</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">，臭豆腐</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">比较有名的是大上海臭臭锅（小火锅）臭豆腐。臭豆腐和大陆不同，是一种清香的臭味，闻着香吃着更香，外酥内嫩，配上些许泡菜，那真是一大享受。</span></p>
<p style="margin-bottom:10px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-118-4.jpg" title=" 台湾夜市小吃推荐之台南花园夜市_图片_4" alt=" 台湾夜市小吃推荐之台南花园夜市_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, sans-serif;">地址：704台湾台南市北区和纬路与海安路交叉口</span></p>
<p><span style="font-family:微软雅黑, sans-serif">花园夜市民宿预定：<a href="/taiwan/tainan/" target="_blank">http://www.timlentse.com/taiwan/tainan/</a> </span></p>
<p><br></p>
      </div>