<div class="article__content article-richedit-content">
        <p style="margin-bottom:10px"><span style="font-family: 宋体; font-size: 24px;">高雄民宿排行</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">到高雄旅行，当然少不了到当地的地标性建筑</span>85<span style="font-family:宋体">大楼看看，或者直接住进去。这座台湾南部最高的摩天大楼以楼层数命名，是台湾仅此于台北</span>101<span style="font-family:宋体">大楼的第二高楼。所以当你知道摩天大楼里有着许多民宿时，不要怀疑，勇敢住进去吧！除了</span>85<span style="font-family:宋体">大楼，外界对高雄辨识度较高的还因为西子湾。那么接下来，大鱼君要</span>po<span style="font-family:宋体">出台南高雄的民宿排行，看看评价最高的高雄民宿都有哪些吧！</span></p>
<p style="margin-bottom:10px">85<span style="font-family:宋体">大楼民宿</span></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">1<span style="font-family: 宋体;">，</span>85<span style="font-family: 宋体;">大楼绵羊海</span></span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">绵羊海以其位于</span>85<span style="font-family:宋体">大楼的优越地理位置、丰富多样的房型以及相对实惠的价格位居</span>85<span style="font-family:宋体">大楼的销量排行榜。站在大楼窗前，有一种一览众山小的感觉。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市自强三路</span> 5 <span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-0.jpg" title="台湾高雄民宿排行TOP 10_图片_0" alt="台湾高雄民宿排行TOP 10_图片_0"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">2<span style="font-family: 宋体;">，</span>85<span style="font-family: 宋体;">大楼</span>Sam<span style="font-family: 宋体;">的家</span></span></p>
<p style="margin-bottom:10px">Sam<span style="font-family:宋体">家以顾客体验为核心，</span>Sam<span style="font-family:宋体">家的每间房都很宽敝，由</span>Sam<span style="font-family:宋体">先生精心布置，设计和设备给客人舒适的住房体验，性价比之高住过的客人推赞不绝。倚靠在落地的观景窗前，享受慵懒自在的宁静，抖落部分的烦心事，这里一定有你想要的住宿体验。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市自强三路</span>5<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：<a href="/fishtrip/taiwan/gaoxiong/" title="" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-1.jpg" title="台湾高雄民宿排行TOP 10_图片_1" alt="台湾高雄民宿排行TOP 10_图片_1"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">3<span style="font-family: 宋体;">，</span>85<span style="font-family: 宋体;">大楼蓝海主题套房</span></span></p>
<p style="margin-bottom:10px">41<span style="font-family:宋体">种主题式套房风格，异国风情、浪漫格调、可爱典雅…等住宿风格可选，套房内明亮宽敞、干净舒适的空间，还有着各式浪漫的小装饰或异国元素的家俱饰品，显得整理空间格外亲切宜人，提供完整周全的设备、设施，是一个放松、舒畅的旅居处所。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市苓雅区自強三路</span>85<span style="font-family:宋体">大楼</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-2.jpg" title="台湾高雄民宿排行TOP 10_图片_2" alt="台湾高雄民宿排行TOP 10_图片_2"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">4<span style="font-family: 宋体;">，</span>85<span style="font-family: 宋体;">空中城</span>SKYCITY</span></p>
<p style="margin-bottom:10px">85<span style="font-family:宋体">空中城位于</span>85<span style="font-family:宋体">大楼的</span>33<span style="font-family:宋体">层，是大楼里面唯一一家占据完整楼层的民宿，拥有无敌的市景和海景，也是</span>85<span style="font-family:宋体">大楼唯一合法旅馆，台湾第一家日租、民宿转型取得合法旅馆。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市自强三路</span>5<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：<a href="/fishtrip/taiwan/gaoxiong/" title="" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-3.jpg" title="台湾高雄民宿排行TOP 10_图片_3" alt="台湾高雄民宿排行TOP 10_图片_3"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">5<span style="font-family: 宋体;">，</span>85<span style="font-family: 宋体;">异国假期</span></span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">这里的房间装饰风格就如民宿的名字，充满着异国风情，有地中海风、普普风、绿野仙踪等等。价位从一百多到四百多不等，为住客提供多种选择。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市自强三路</span>5<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-4.jpg" title="台湾高雄民宿排行TOP 10_图片_4" alt="台湾高雄民宿排行TOP 10_图片_4"></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">除了</span>85<span style="font-family:宋体">大楼民宿，高雄还有其他特色民宿打进榜单。</span></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">6<span style="font-family: 宋体;">，</span>Luyo Hostel</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">民宿就是要找有意思的人或有特色的地儿，吕游客栈给大鱼最深的印象是老板</span>Jason<span style="font-family:宋体">，之前在报社做过多年记者。他博学多才，带着大鱼骑车穿行在高雄的二艺术区、西子湾、河夜游、路上他不停的讲着每个景点的历史；他谈吐绅士，犹如一位大哥哥一样对待每位客人。只要谈的来他都可以带大家玩。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市莒光街</span>111<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-5.jpg" title="台湾高雄民宿排行TOP 10_图片_5" alt="台湾高雄民宿排行TOP 10_图片_5"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">7<span style="font-family: 宋体;">，西子湾蓝白拖民宿</span></span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">蓝白拖民宿位于西子湾捷运站边，一听这名字是不是觉的有点特别？这是一个以蓝色为基调的幸福小屋。民宿以楼层划分房型主题，从</span>1<span style="font-family:宋体">层的蔚蓝大厅为起点，从</span>2<span style="font-family:宋体">层展开淡蓝色旅行，在</span>3<span style="font-family:宋体">层遇见以粉色系打造的爱情小窝，到</span>4<span style="font-family:宋体">层享受充满童趣的绿浪氛围，再重回</span>5<span style="font-family:宋体">层感受淡蓝海潮的温暖怀抱，特别的体验感受不一样的高雄。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市鼓山区长安街</span>3<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-6.jpg" title="台湾高雄民宿排行TOP 10_图片_6" alt="台湾高雄民宿排行TOP 10_图片_6"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">8<span style="font-family: 宋体;">，打狗湾青年旅社</span> Takaobay Hostel</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">处处洋溢者年轻的气息，是青年人的聚集地。交通便利是必须的，人文风情样样具备。是最原始风貌、最舒适的青年旅社。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">台湾高雄市盐埕区大成街</span>33<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-7.jpg" title="台湾高雄民宿排行TOP 10_图片_7" alt="台湾高雄民宿排行TOP 10_图片_7"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">9<span style="font-family: 宋体;">，书屋设计旅店</span></span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">随为旅店，却有不失于高级酒店的设计。随处可见原木及石造装饰，低调奢华中亦融入大自然，旅客于馆内休憩时不仅能充分感受当地文化，也能在都市的钢筋丛林中，觅得一处自在、悠然的私密处所。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市六合二路</span>132<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：</span><a href="/fishtrip/taiwan/gaoxiong/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-8.jpg" title="台湾高雄民宿排行TOP 10_图片_8" alt="台湾高雄民宿排行TOP 10_图片_8"></p>
<p style="margin-bottom:10px"><span style="color: rgb(84, 141, 212);">10<span style="font-family: 宋体;">，睦公寓</span></span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">这是一个在地人聚餐喝咖啡的所在，是一个朋友聊天欢乐的所，是一个墨客交流的所在，一个外国人体验台湾味的所在，是外地游人认识高雄的所在。</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">地址：台湾</span> <span style="font-family:宋体">高雄</span> <span style="font-family:宋体">高雄市盐埕区大勇路</span>80<span style="font-family:宋体">号</span></p>
<p style="margin-bottom:10px"><span style="font-family:宋体">预定：<a href="/fishtrip/taiwan/gaoxiong/" title="" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-101-9.jpg" title="台湾高雄民宿排行TOP 10_图片_9" alt="台湾高雄民宿排行TOP 10_图片_9"></p>
<p><br></p>
<p>更多高雄民宿排行请点击：<a href="/fishtrip/taiwan/gaoxiong/" title="" target="_blank">http://www.tan90.cn/fishtrip/taiwan/gaoxiong/</a></p>
      </div>