<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">到了京都，想要体验当地的文化生活，去美术馆绝对错不了！大鱼为大家介绍京都几大美术馆，去京都游玩不要错过噢！</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都美术馆之 京都市美术馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-160-0.jpg" title="京都美术馆攻略_图片_0" alt="京都美术馆攻略_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都市美术馆坐落于文化设施林立的冈崎公园。博物馆屋顶是为铜质，建筑风格颇具西方皇室风范。该博物馆始于 1933 年，在此曾举办过昭和天皇的登基庆典。该馆同时也是是日本第二早开放的市立美术馆。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都市美术馆馆藏艺术品 2100 余件，其中包括了竹内栖凰、富冈铁斋、上村松园、菊池契月、梶原绯佐子、金岛桂华等日本名家之作，也包括了一些西方绘画、雕塑、工艺品、字迹及木版画等。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">此前，该博物馆曾举办过多次大型特别展览，展出了来自卢浮宫以及数间美国知名博物馆等地的部分藏品。其他特别展包括日本现代艺术展及常规年度展亦广受欢迎。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址：Okazaki Enshoji-cho Sakyo-ku, Kyoto City, 606-8344</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">入场费：参见具体展览</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">开馆时间：9:00 - 17:00 （入场时间截至16:30)</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">闭馆时间：周一（周一若为国家假日时则照常开馆），新年假期（12月28日-1月2日)</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如何抵达： 由 Higashiyama 地铁站步行十分钟</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">由 "Kyoto Kaikan Bijutsukan-mae" 公交车站步行一分钟 </p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都美术馆之 京都国立近代美术馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-160-1.jpg" title="京都美术馆攻略_图片_1" alt="京都美术馆攻略_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都国立近代美术馆是一座开放型的美术馆，由槙文彦设计。坐落于绿荫环绕的冈崎公园，主要任务是收集、保管和展览国内外的近、现代美术作品，并对其作调查研究。美术馆的收藏中以关西为中心的西日本美术作品占较大比重。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址: 606-8344 京都市左京区冈崎円胜寺町</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">门票: 800日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">休馆日: 每周星期一（节假日时为翌日）／年末年初</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如何到达：从JR近铁京都站搭乘京都市巴士5号，到冈崎公园站下车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  ">京都美术馆之 美秀美术馆</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; font-family: Helvetica; color: rgb(73, 155, 201);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-160-2.jpg" title="京都美术馆攻略_图片_2" alt="京都美术馆攻略_图片_2"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">美秀美术馆 (Miho Museum) 是位于日本滋贺县甲贺市的私立美术馆。创办人为小山美秀子，美术馆由贝聿铭设计。馆藏包括日本、中国、南亚、中亚、西亚、埃及、希腊、罗马等古文明的艺术品。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">地址: 529-1814 滋贺県甲贺市信楽町桃谷300</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">门票: 1000日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">休馆日: 每周星期一（节假日时为翌日）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如何到达：由京都站至石山站，再由石山站乘坐帝产巴士至 MIHO 美术馆</p>
<p><br></p>
      </div>