<div class="article__content article-richedit-content">
        <p style="text-align: center;"><strong><span style="color: rgb(84, 141, 212); font-family: arial, 宋体, sans-serif; font-size: 18px; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">龙虾先生的秘密巢穴</span></strong></p>
<p style="text-align: center;"><span style="color: rgb(127, 127, 127); font-size: 16px;"><strong><span style="color: rgb(127, 127, 127); font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">位于台北，是家2星级酒店，台北理想的下榻之处。</span></strong></span></p>
<p style="text-align: center;"><span style="color: rgb(127, 127, 127); font-size: 16px;"><strong><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">您的旅途也将因此而与一份温暖、一份感动不期而遇。</span></strong></span></p>
<p><strong><span style="color: rgb(84, 141, 212); font-family: arial, 宋体, sans-serif; font-size: 18px; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"></span></strong></p>
<p style="text-align: center;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-2-0.jpg" style="float:none;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_0" alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_0"></p>
<p><br></p>
<p><span style="color: rgb(51, 51, 51); font-family: arial, 宋体, sans-serif; font-size: 14px; line-height: 24px; text-indent: 28px;  background-color: rgb(255, 255, 255);"></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">推荐理由</span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">1.舒适度作为龙虾先生的秘密巢穴所有的客房首要标准，一切设施都以此为目标，一定不会让您失望。酒店客房简单温馨，配有空调, 共用浴室, 共用卫生间等设施，清新自然却又处处透露着酒店的用心。</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">2.酒店提供免费wifi，大部分房间网速较快，畅游互联网毫无压力。</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">3.品质彰显与细节之中，饮食，也是旅途中不可错过的风景。在龙虾先生的秘密巢穴，您可在餐厅享用到传统的台北美食。</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-2-1.jpg" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_1" width="650" height="363" border="0" style="white-space: normal; width: 650px; height: 363px;" alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_1"></span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"></span></span></p>
<p style="white-space: normal;"><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);"><br></span></p>
<p style="white-space: normal;"><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">地理位置</span></p>
<p style="white-space: normal;"><span style="color: rgb(127, 127, 127);"><span style="font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">台湾 台北 台北市大同区重庆北路一段22号9楼</span></span></p>
<p style="white-space: normal;"><span style="color: rgb(127, 127, 127);"><span style="font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p style="white-space: normal;"><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">如何到达</span></p>
<p style="margin-top: 0px; margin-bottom: 11px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; white-space: normal; box-sizing: border-box; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline;"><span style="color: rgb(127, 127, 127);"><span style="font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">距离台北火车站、台北客运站和高铁站仅有7分钟轻松的步行路程</span></span></p>
<p style="margin-top: 0px; margin-bottom: 11px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; white-space: normal; box-sizing: border-box; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline;"><span style="color: rgb(127, 127, 127);"><span style="font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-2-2.jpg" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_2" width="650" height="433" border="0" style="white-space: normal; width: 650px; height: 433px;" alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_2"></span></span></p>
<p><span style="color: rgb(255, 255, 255); font-family: arial, 宋体, sans-serif; font-size: 18px; line-height: 24px; text-indent: 28px;  background-color: rgb(84, 141, 212);">房型介绍</span><br></p>
<p><span style="color: rgb(255, 255, 255); font-family: arial, 宋体, sans-serif; font-size: 18px; line-height: 24px; text-indent: 28px;  background-color: rgb(84, 141, 212);"></span></p>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_3" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-3.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_3"></p>
<ul class="rooms-list js_rooms_list js-ga-rooms-list list-paddingleft-2" style="list-style-type: none;">
<li>
<p>普通单人房</p>
<p>单人床×1 不可加床</p>
<p>1晚最低价 ¥215</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_4" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-4.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_4"></p>
<p>经典威尔士-高级双人</p>
<p>双人床×1 不可加床</p>
<p>1晚最低价 ¥448</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_5" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-5.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_5"></p>
<p>老火车双人上下铺</p>
<p>单人床×2 不可加床</p>
<p>1晚最低价 ¥560</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_6" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-6.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_6"></p>
<p>极简黑白8人女宿</p>
<p>单人床×1 不可加床</p>
<p>1晚最低价 ¥131</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_7" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-7.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_7"></p>
<p>普通双人房</p>
<p>双人床×1 不可加床</p>
<p>1晚最低价 ¥336</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_8" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-8.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_8"></p>
<p>复古工业风双人房</p>
<p>双人床×1 不可加床</p>
<p>1晚最低价 ¥374</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_9" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-9.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_9"></p>
<p>米亚的最爱双人房</p>
<p>双人床×1 可加床×1</p>
<p>1晚最低价 ¥374</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_10" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-10.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_10"></p>
<p>蒂芬妮蓝乡村风双人房</p>
<p>双人床×1 不可加床</p>
<p>1晚最低价 ¥374</p>
<p><br></p>
</li>
<li>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_11" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-11.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_11"></p>
<p>极简黑白两单床</p>
<p>单人床×2 不可加床</p>
<p>1晚最低价 ¥402</p>
<p><br></p>
<p><img alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_12" class="ritem__img" height="180" src="http://7xotew.com1.z0.glb.clouddn.com/article-2-12.jpg" width="300" style="box-sizing: border-box; border: 0px; vertical-align: middle; margin: auto; padding: 0px; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; height: 180px; display: block; background-image: url(http://static04.fishtrip.cn/assets/loading_dayu_2x-dfa06aa00c1b12fac492646de0998051.png); background-position: 50% 50%; background-repeat: no-repeat;" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_12"></p>
<p>家庭四人房</p>
<p>单人床×4 不可加床</p>
<p>1晚最低价 ¥654</p>
<p><br></p>
</li>
</ul>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">住宿免费政策</span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">所有2岁以下的儿童在使用现有的床铺时不需付费。</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);"><br></span></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">设施与服务</span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">洗衣间、吸烟区、无烟客房、花园、携带宠物、语言、复印传真、餐厅</span></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-2-13.jpg" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_13" width="650" height="433" border="0" style="white-space: normal; width: 650px; height: 433px;" alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_13"></p>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);"><br></span></p>
<p><span style="color: rgb(255, 255, 255); font-size: 18px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(84, 141, 212);">酒店交通比较方便，以各主要景点的距离如下</span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">中正纪念堂:打车8分钟，车程约2.6公里</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">总统府:步行18分钟，或打车3分钟，车程约1.5公里</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">国立台湾博物馆:步行24分钟，或打车6分钟，车程约2.1公里</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">西门町:步行16分钟</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">剥皮寮老街:步行3分钟</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">西门红楼:步行9分钟</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">龙山寺:步行4分钟</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">二二八和平纪念公园:步行21分钟，或打车5分钟，车程约1.9公里</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">艋舺青山宫:步行9分钟</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">国家戏剧院:步行21分钟，或打车5分钟，车程约1.6公里</span></span></p>
<p><span style="color: rgb(127, 127, 127); font-size: 16px;"><span style="color: rgb(127, 127, 127); font-size: 16px; font-family: arial, 宋体, sans-serif; line-height: 24px; text-indent: 28px; background-color: rgb(255, 255, 255);">国家音乐厅:步行27分钟，或打车12分钟，车程约3.7公里</span></span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-2-14.jpg" title="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_14" width="650" height="433" border="0" style="white-space: normal; width: 650px; height: 433px;" alt="台北超人气设计民宿：龙虾先生的秘密巢穴_图片_14"></p>
<p><span style="color: rgb(84, 141, 212);"><strong>龙虾先生的秘密巢穴预定看这里~</strong></span></p>
<p><a href="/fishtrip/taiwan/taibei/" title="" target="_blank" text="/fishtrip/taiwan/taibei/">http://www.fishtrip.cn/houses/d0E-zpUZOcg</a></p>
      </div>