<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">这些美食不能错过哦！</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">郑老牌木瓜牛乳</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">郑老牌木瓜牛乳可是相当的知名，不论是马英九还是李嘉欣、胡瓜、张宇等大批的艺人也曾光顾。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-0.jpg" title="试试看，这么一步一口逛吃高雄_图片_0" alt="试试看，这么一步一口逛吃高雄_图片_0"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">棺材板</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">棺材板是台湾的经典名小吃，出自台南。“棺材板”以前叫“鸭肝饭”，也叫“官材板”，含有升官发财的意思。由于食材土司面包的外形和炸制过的色泽状似台湾南部的松木棺材，所以把这道美食称之为棺材板。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-1.jpg" title="试试看，这么一步一口逛吃高雄_图片_1" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="试试看，这么一步一口逛吃高雄_图片_1"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">担仔面</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">首推这里的担仔面，最大特色在于它的肉臊，再加上一只味道鲜美的虾子，虽然就这么小小一碗，但风味独特，回味无穷。外加个卤蛋，也只要30元新台币。</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-2.jpg" title="试试看，这么一步一口逛吃高雄_图片_2" alt="试试看，这么一步一口逛吃高雄_图片_2"></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">海鲜粥</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">到六合夜市，不得不吃最负盛名的海鲜。海鲜粥汤清料实在，最重要的是海产新鲜，以大骨、柴鱼熬成高汤，再搭配花枝、鲜蚵、鲜虾、文蛤等材料，已经出名20多年，平常1天就能卖2000多碗。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-3.jpg" title="试试看，这么一步一口逛吃高雄_图片_3" alt="试试看，这么一步一口逛吃高雄_图片_3"></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">筒仔米糕</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">与油饭类似，却是在瓷瓶、竹筒或铁罐中炊煮而成，香喷喷的糯米上，淋有肉香四溢的特制作料，口味浓郁，是许多老饕的最爱。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-4.jpg" title="试试看，这么一步一口逛吃高雄_图片_4" alt="试试看，这么一步一口逛吃高雄_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">高雄交通建议</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240); font-size: 24px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">地铁</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高雄捷运有2条路线，分红线（南北走向）和橘线（东西走向）。两条线路有1个换乘点站--美丽岛站（红线的R10站和橘线的05站）是台湾最美捷运站之一。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">红线链接到机场、火车站等交通枢纽站，如：高雄国际机场、高雄车站、左营（高铁）站。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地铁非24小时运营，一般是首车在6:00-6:30之间，末班车在00:00左右。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-5.jpg" title="试试看，这么一步一口逛吃高雄_图片_5" alt="试试看，这么一步一口逛吃高雄_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">注意：高雄捷运不能使用悠游卡，可选择购买一次使用的单程卡，也可以购买可以多次使用、不限换乘的普卡。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-6.jpg" title="试试看，这么一步一口逛吃高雄_图片_6" alt="试试看，这么一步一口逛吃高雄_图片_6"></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">公交</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">投币（每段）：全票12元、半票6元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">公交卡：</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一卡通（每段）: 普卡12元、学生卡10元、敬老／博爱／仁爱卡免费</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">悠游卡、台湾通、E通卡（每段）: 普卡／学生军警卡12元、优待票6元。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">自行车</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选择租借高雄公共自行车CityBike或私人运营的自行车租借机构。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">租赁系统营运时间：00：00-24：00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--可以支持异地还车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--可以使用高雄一卡通或自己信用卡进行租车业务</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--持一卡通民众可1次租借1辆脚踏车；持信用卡民众可1次租借4辆脚踏车。归还车辆时请务必再次到中控台过卡。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--租赁费用按租赁时间计收，第一小时内免费，之后不足30分钟，以30分钟计。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--使用一卡通搭乘捷运后，30分钟以内骑乘公共脚踏车，第1小时内免费，超过1小时，未足90分钟费率为6元，之后仍维持每30分钟10元</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--使用信用卡直接租车，第1小时内免费，超过1小时后，按每30分钟20元</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">出租车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高雄市内出租车起跳为1.5公里新台币70元，续跳每300米加新台币5元。高雄市区往来小港机场出租车车资约新台币300元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">晚上23点至次日6点期间，加收夜间额外费用，首1.2公里收新台币70元，随后每0.25公里收新台币5元。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">还可以试试特色活动</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">超级英雄的彩券行</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">有没有激起您的动漫梦想呢？带着爱人、朋友来这里吧！它是成为西子湾渡船头另类地标的一家彩券行，里面不仅有卖彩券，还有如同钢铁人、美国队长、猫女等彩券行老板自制的大型美国英雄人物公仔！彩券行老板唐扬武 表示，从以前就很喜欢这些美国漫画中的英雄人物，当初开店时，原本还想买一尊真的钢铁人人形公仔放在店内，但因为价钱太贵真的买不起（人民币约4万元），于是萌生了自己做的念头。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-7.jpg" title="试试看，这么一步一口逛吃高雄_图片_7" alt="试试看，这么一步一口逛吃高雄_图片_7"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：高雄鼓山区52滨海1路</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">提供性教育的餐厅</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">您和朋友、爱人来到这间餐厅哪里还是为了吃饭，不都是为了情调，啊，不，调情嘛！不过就像它的名字一样，FunnySex是一个搞笑的色情的餐厅，当您点一份巧克力布丁的时候，端过来的时候你看到的是一个令人羞涩的形状。老板介绍说他花了很多的心思去想这些创意。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-110-8.jpg" title="试试看，这么一步一口逛吃高雄_图片_8" alt="试试看，这么一步一口逛吃高雄_图片_8"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：高雄市苓雅区中山二路446号2F</span></p>
      </div>