<div class="article__content article-richedit-content">
        <p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">慢下来才是真正的九份，为您推荐的九份之旅，快来看看吧~</span></strong></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><span style="font-size: 14px;">上午——在山路上观赏美景</span></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><span style="font-size: 14px;">下午——在特色小店里歇息</span></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><span style="font-size: 14px;">晚上——在高处远眺九份夜的美丽</span></span></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><br></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> 台湾《悲情城市》《恋恋风尘》以及电视剧《转角遇到爱》都是在这里拍摄的，而九份艳丽妖媚的浮世感更成为宫崎骏《千与千寻》的灵感之源。让文艺青年、恋人们好好好体验电影里的时光轨迹。</span><br></p>
<p style="white-space: normal;"><br></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);"><strong><span style="font-size: 24px;">上午</span></strong></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在九份，您可以享受最悠闲的时光。九份的路是越走越高，山上的店琳琅满目，再往上走，就是鳞次栉比的房屋，竖崎路，狭长的街道，层层叠叠、弯弯曲曲。不妨慢行游览、停下拍照，乐在其中。倘若下了场小雨，山城弥漫着薄雾，撑伞上山，又是别样的美，城中有山，山中有云，云中有梦<span style="font-family: 宋体, SimSun;">……</span></span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-95-0.jpg" title="九份不止你想象那么美_图片_0" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="九份不止你想象那么美_图片_0"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">下午</span></strong></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">要是走累了，可以在高低不平的台阶中停下脚步歇歇，细细品味山城。到了九份，虽然总有熙熙攘攘的游客，却从不觉得嘈杂，慢慢逛来，碰到热情的店主，就进去聊聊天，买些精美的手工制品。您还可以</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在咖啡馆小憩，聊聊家常，找回忙于工作而忽略的时光。</span></p>
<p style="white-space: normal;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-95-1.jpg" title="九份不止你想象那么美_图片_1" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="九份不止你想象那么美_图片_1"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<p style="white-space: normal;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">晚上</span></strong></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">傍晚不要忘了在高处远眺九份夜的美丽，</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">黄昏时拍日落、夜幕下拍灯火。沿山而建的小城被灯光点亮，像是天上的繁星落入大地中。您还可以数数天上的星星，过一天不受科技束缚、返璞归真的生活。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-95-2.jpg" title="九份不止你想象那么美_图片_2" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="九份不止你想象那么美_图片_2"></span></p>
<p><br></p>
      </div>