<div class="article__content article-richedit-content">
        <p><br></p>
<p>1、Legacy Taipei 台北音乐传记</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-0.jpg" title="台北LiveHouse攻略_图片_0" alt="台北LiveHouse攻略_图片_0"></p>
<p><br></p>
<p><span id="_baidu_bookmark_start_0" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_2" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_4" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_6" style="display: none; line-height: 0px;">‍</span>Legacy自2009年12月成立至今，成为音乐唱作人必访的指标型舞台。Legacy因为其多元的节目规划、演唱会级别的专业器材以及跨领域的专业团队吸引了无数华语流行音乐唱作人以及独立乐团前往演出。Legacy目前在台北与台中都有分店。</p>
<p>地址：台北市中正区八德路一段一号/华山1914创意文化园区/中5A馆</p>
<p>联络方式：(02) 2395-6660</p>
<p>官网：<a href="/taiwan/taibei/" title="" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> <span id="_baidu_bookmark_end_7" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_5" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_3" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_1" style="display: none; line-height: 0px;">‍</span></p>
<p><br></p>
<p>2、The Wall 这墙音乐</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-1.jpg" title="台北LiveHouse攻略_图片_1" alt="台北LiveHouse攻略_图片_1"></p>
<p><br></p>
<p><span style="color: rgba(255, 255, 255, 0.901961); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 24px;  background-color: rgb(0, 0, 0);"><span id="_baidu_bookmark_start_1" style="display: none; line-height: 0px;">‍</span></span><span id="_baidu_bookmark_start_3" style="display: none; line-height: 0px;">‍</span>THE WALL MUSIC这墙音乐，始于2003年，原本只是几个音乐人大胆构想的鲁莽行动，至今却延烧全台，在台北、高雄、宜兰打造出三间风格独具的表演场所，並催生摇滚迷第一指名的「野台开唱」、「大港开唱」音乐节。<span style="color: rgba(255, 255, 255, 0.901961); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 24px;  background-color: rgb(0, 0, 0);"><span id="_baidu_bookmark_end_2" style="display: none; line-height: 0px;">‍</span></span></p>
<p>地址：台北市罗斯福路四段200号B1</p>
<p>联络方式：（02)2930-0162</p>
<p>官网：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </p>
<p><br></p>
<p>3、河岸留言西门红楼展演馆</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-2.jpg" title="台北LiveHouse攻略_图片_2" alt="台北LiveHouse攻略_图片_2"></p>
<p><br></p>
<p>西门十字楼的空间，在 2008 年初适当地出現，正好填补了独立乐团发展的需求，将底层的音乐文化，推展到一个成熟的舞台，让观众有一个多样貌、高品质之音乐內涵的选择。</p>
<p>地址：台北市西宁南路177号</p>
<p>联络方式：(02)2370-8805</p>
<p>官网：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </p>
<p><br></p>
<p>4、EZ Corner</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-3.jpg" title="台北LiveHouse攻略_图片_3" alt="台北LiveHouse攻略_图片_3"></p>
<p><br></p>
<p>在台湾经过二十六年的努力后，EZ Live House终于成为一个家喻户晓的音乐酒吧餐厅及孕育台湾音乐人的重要殿堂。EZ Live House为子民音乐人薛岳、童安格等知名音乐人与设计师共同创建。先更名为EZ Corner，曾培育过的歌手包括童安格、伍思凯、苏芮、黄小琥等。</p>
<p>地址：台北市信义区东兴路51号1楼</p>
<p>联络方式：（02）8768-3737</p>
<p>官方网站：<a href="/taiwan/taibei/" title="" target="_blank">http://www.timlentse.com/taiwan/taibei/</a></p>
<p><br></p>
<p>5、回响音乐艺文展演空间 SOUND Live House</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-4.jpg" title="台北LiveHouse攻略_图片_4" alt="台北LiveHouse攻略_图片_4"></p>
<p><br></p>
<p>SOUND Live House是著名独立音乐网站<span id="_baidu_bookmark_start_6" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_10" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_14" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_18" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_22" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_26" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_30" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_34" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_4" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_8" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_12" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_16" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_20" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_24" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_28" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_32" style="display: none; line-height: 0px;">‍</span>www.indievox.com旗下的音乐展演空间，经营音乐展演、艺文展览以及独立唱片寄卖和贩售。<span id="_baidu_bookmark_end_33" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_29" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_25" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_21" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_17" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_13" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_9" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_5" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_35" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_31" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_27" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_23" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_19" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_15" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_11" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_end_7" style="display: none; line-height: 0px;">‍</span> </p>
<p>地址：台北市西屯区河南路二段429号B1-1</p>
<p>联络方<span id="_baidu_bookmark_start_40" style="display: none; line-height: 0px;">‍</span><span id="_baidu_bookmark_start_42" style="display: none; line-height: 0px;">‍</span>式：+886-4-2451-1989<span id="_baidu_bookmark_end_43" style="display: none; line-height: 0px;">‍</span><span style="color: rgb(85, 85, 85); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 24px;  background-color: rgb(255, 255, 255);"><span id="_baidu_bookmark_end_41" style="display: none; line-height: 0px;">‍</span></span></p>
<p>官方网站：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </p>
<p><br></p>
<p>6、女巫店</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-5.jpg" title="台北LiveHouse攻略_图片_5" alt="台北LiveHouse攻略_图片_5"></p>
<p><br></p>
<p>女巫店是复合式的艺文咖啡館，她的丰富性超过你的想像。</p>
<p>地址：台北市新生南路三段56巷 7號(台大新體育館對面/近新生南路與辛亥路口)</p>
<p>联络方式：02-23625494</p>
<p>官方网站：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a> </p>
<p><br></p>
<p>7、Forro Cafe</p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-54-6.jpg" title="台北LiveHouse攻略_图片_6" alt="台北LiveHouse攻略_图片_6"></p>
<p>Forró是个老宅改建计划。 将老宅打造成“For All”的友善空間。透過【Cafe。Music。B&amp;B】，分享Forro独特的LifeStyle。</p>
<p>地址：台中市西区精诚三街47号</p>
<p>联络方式：04-23101661</p>
<p>官方网站：<a href="/taiwan/taibei/" title="" target="_blank">http://www.timlentse.com/taiwan/taibei/</a></p>
      </div>