<div class="article__content article-richedit-content">
        <p><br></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">     六合夜市是高雄最具代表性的夜市，也是仅次于台北士林夜市的台湾第二大夜市。白天这里是笔直的大马路，入夜后车水马龙热闹非凡，各种本地可口美食琳琅满目，经济实惠，大批量观光客均慕名而来，知名度颇高，已被列为观光夜市。</span></p>
<p style="margin-top:5px;margin-bottom:10px;line-height:32px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#00B0F0">交通：</span></strong><span style="font-family: 微软雅黑, sans-serif"><span style="box-sizing: border-box">搭乘公交车坐至大圆环站，或搭乘捷运橘线至美丽岛站往中山一路方向步行即可到达六合夜市。</span></span></p>
<p style="margin-top:5px;margin-bottom:10px;line-height:32px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#00B0F0">推荐美食：</span></strong><span style="font-family: 微软雅黑, sans-serif;">郑老牌木瓜牛奶、棺材板、中盐蒸虾、筒仔米糕、臭豆腐、乌鱼腱、海鲜粥、过鱼汤、十全药炖排骨、担仔面、土魠鱼羹……</span></p>
<p style="margin: 5px 0 10px;line-height: 32px;box-sizing: border-box;background: white"><span style="box-sizing: border-box"><span style="box-sizing: border-box"><strong style="box-sizing: border-box"><span style="font-family:'微软雅黑','sans-serif';color:#00B0F0">开放时间：</span></strong></span><span style="box-sizing: border-box"><span style="font-family: 微软雅黑, sans-serif">每日17:00至次日1:00</span></span></span></p>
<p style="margin: 5px 0 10px;line-height: 32px;box-sizing: border-box;background: white"><strong style="box-sizing: border-box"><span style="box-sizing: border-box"><span style="font-family:'微软雅黑','sans-serif';color:#00B0F0">住宿推荐：<a href="/taiwan/gaoxiong/" title="" target="_blank">http://www.timlentse.com/taiwan/gaoxiong/</a></span></span></strong></p>
<p><span style="box-sizing: border-box"></span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">推荐小吃</span></p>
<p style="margin-bottom:10px;"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">1，</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">郑老牌木瓜牛乳</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">郑老牌木瓜牛乳摊可是相当的知名，不论是国民党的马英九、连战，还是民进党的陈水扁、陈菊，都是他的顾客，此外，李嘉欣、胡瓜、张宇等大批的艺人也曾光顾。</span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-106-0.jpg" title="高雄六合夜市_图片_0" alt="高雄六合夜市_图片_0"></p>
<p style="margin-bottom:10px;"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">2，</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">棺材板</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">棺材板是台湾的经典名小吃，出自台南。“棺材板”以前叫“鸭肝饭”，也叫“官材板”，含有升官发财的意思。由于食材土司面包的外形和炸制过的色泽状似台湾南部的松木棺材，所以把这道美食称之为棺材板。</span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-106-1.jpg" title="高雄六合夜市_图片_1" alt="高雄六合夜市_图片_1"></p>
<p style="margin-bottom:10px;"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">3，</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">担仔面</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">首推这里的担仔面，最大特色在于它的肉臊，再加上一只味道鲜美的虾子，虽然就这么小小一碗，但风味独特，回味无穷。外加个卤蛋，也只要30元新台币。</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-106-2.jpg" title="高雄六合夜市_图片_2" alt="高雄六合夜市_图片_2"></span></p>
<p style="margin-bottom:10px;"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">4，</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">海鲜粥</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">到六合夜市，不得不吃最负盛名的海鲜。海鲜粥汤清料实在，最重要的是海产新鲜，以大骨、柴鱼熬成高汤，再搭配花枝、鲜蚵、鲜虾、文蛤等材料，已经出名20多年，平常1天就能卖2000多碗。</span></p>
<p style="margin-bottom:10px"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-106-3.jpg" title="高雄六合夜市_图片_3" alt="高雄六合夜市_图片_3"></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">5</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">，筒仔米糕</span></p>
<p style="margin-bottom:10px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif">与油饭类似，却是在瓷瓶、竹筒或铁罐中炊煮而成，香喷喷的糯米上，淋有肉香四溢的特制作料，口味浓郁，是许多老饕的最爱。</span></p>
<p><br></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-106-4.jpg" title="高雄六合夜市_图片_4" alt="高雄六合夜市_图片_4"></p>
      </div>