<div class="article__content article-richedit-content">
        <p><br></p>
<p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">到了台湾，除了住民宿、酒店、青年旅社之外，还有一种另类的住宿休息方式，就是住24小时漫画店。如果半夜抵达高雄，找不到住宿，或者跨年夜住宿爆满，可以试试这些24小时开放的地方。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">高雄另类住宿之24小时漫画店</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><br></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">这类住宿适合想挑战超低住宿费/想把看漫画当旅游行程/半夜找不到住宿的人。台北有许多家类似的漫画店书店，到了高雄，可以找这家。</span></p>
<p><span style="font-size: 20px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">高雄漫画店之漫画国度</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">提供毛毯租借、淋浴等服务，可看漫画、书刊，无限畅饮。三人同行还能打8折。楼上是D’well青年旅社，跨年夜实在想睡觉还可以到青旅问问可不可以睡沙发。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">收费：1分钟1元台币，1小时60元台币，会员优惠。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif'">地址：高雄市前镇区三多三路211号2楼</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif'">跨年夜开放时段：22:00~06:00</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台北跨年夜住宿之娱乐会馆</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">跨年夜和朋友到KTV唱歌也是一个不错的选择，既可以唱歌，又可以在沙发上休息。以下KTV在高雄的分店都是24小时营业。</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">钱柜KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">好乐迪KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">享温馨KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"><br></span></p>
<p style="min-height: 26px"><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台北跨年夜住宿之24小时商店</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">7﹣11便利店</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">全台4000多家分店，有些提供休息区和洗手间</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">吉野家</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">麦当劳</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">摩斯汉堡</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台北跨年夜住宿之咖啡厅</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">马蹄铁咖啡馆</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">（裕诚店）</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">地址：高雄左营区裕诚路213号</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">古德曼研磨咖啡</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">地址：高雄市新兴区中山一路14之2号</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">彩色巴黎</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">金矿咖啡馆</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">高雄有16家分店都是24小时营业</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">星巴克</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">地址：高雄市左营区博爱三路82号</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">营业时间：周日~周四：07:00~22:30，周五~周六：24小时</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">85度c咖啡烘焙专卖店</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><br></p>
      </div>