<div class="article__content article-richedit-content">
        <p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">去台湾旅行，除了到夜市吃小吃、体验当地民宿、环岛之外，还有一个值得体验的项目，就是潜水。台湾是个海岛，沿海地方有许多潜水点，光是垦丁就有许多潜水点和潜水专门店。在台湾，学习潜水和体验潜水的费用都比大陆低。那么去垦丁潜水怎么玩？潜水又有哪些注意事项和常见问题呢？让大鱼君为大家梳理梳理。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">垦丁潜水去哪里玩？</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">垦丁很多民宿老板都可以替你联系到潜水信息，或者你也可以现在网上看好潜水店或者项目。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">潜水项目<br></span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><span style="white-space: pre-wrap">通常潜水活动可分为浮潜与给气潜水两大类。</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">在垦丁潜水，有的项目需要潜水执照，有的则不需要潜水执照，比如在岸边的体验潜水不需要执照，出海潜水或者夜潜则需要潜水证。如果没有执照，可以在垦丁的潜水专门店进行培训。常见的潜水证有水肺潜水（scuba diving）证，在垦丁一天可以考取，其他的还有职业潜水教练协会（ＰＡＤＩ</span><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">）发的OW（开放水域潜水员）执照和AOW（进阶开放水域潜水员）执照。一般来说，单考OW需要3天时间，OW和AOW一起考需要7天左右时间。有了这两个执照，就可以在垦丁许多潜水点潜水了。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#548DD4">潜水费用</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">在垦丁潜水，因为潜水项目和地点不同，收费也不一样。一般来说，潜水价位在400到1200之间不等，不设上限。  </span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212);">潜水注意事项</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">1.自备泳装。潜水装备潜店都有，课程里基本都会包含装备，未包含的，提前咨询，潜店也会提供装备租赁。当然，潜店与潜店的装备是有差别的，租赁费用都差不多，建议提前找有经验的朋友咨询。自备泳装穿在潜水服里就行。<br>2.可佩戴隐形眼镜。如果是近视的朋友学潜水，不必担心， 潜水可以佩戴隐形眼镜的，直接带潜水镜就行。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">3.女性生理期也可以潜水，注意出水后的保暖。<br>4.尽可能放轻松，做好耳压平衡再往深处下潜。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">5.提前和潜店预约，更好的保证自己的时间</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><strong> </strong></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="color: rgb(84, 141, 212);"><strong><span style="font-family: 微软雅黑, sans-serif;">常见问题：</span></strong></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">1</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、不会游泳，可以潜水吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：可以。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">2</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、在垦丁每年哪几个月不能潜水？冬季水温会不会很低？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：垦丁一年四季都是很适合潜水的，夏季水温平均值约为29-30度，冬天（11月底开始-3月）水温平均值约为25-26度。所以没有不适合潜水的季节哦！</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">3</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、潜水对体力要求高吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水是需要体力的，但并不是非常累，一般人都可以玩。但如果在潜水过程中感觉不适就要立即停止。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">4</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、什么样的人可以参加潜水活动？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：年满12岁，身体状况良好的人都可以参加潜水活动。但参加船潜的潜水者，如果未满18岁，需有一名法定监护人一同下水。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">5</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、眼睛近视，带有度数的潜水镜，潜水镜都有哪些度数的？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水镜的度数，有200度到900度之间的。另外，在水里东西会放大33％，所以近视度数的配法跟在陆地上是不一样的。比如说近视200度以内的人不需要佩戴有度数的潜水镜，近视400度的人只需要带200度的潜水镜即可。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">6</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、潜水到海中会有哪些危险？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：海洋个环境比较复杂，有潮汐、波浪、洋流等；有海洋生物，如水母等；有船只、渔网等。但这些危险在合格教练的指导下、在安全区域潜水都是基本可以避免发生的。在垦丁海域遇到鲨鱼的机会很微小，且如不触犯它们，基本上不会有危险。所以不用担心。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">7</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、潜水与浮潜</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水是利用水肺装置潜入水中近距离观看鱼类及珊瑚礁，而浮潜是用呼吸管在水面呼吸，从水面上观赏水中景色。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">8</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、潜水会得减压病吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：只要听从教练安排，不多次频繁潜水，就不容易发生减压病。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">9</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、参加潜水活动自己需要购买或携带什么装备吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：您只需携带自己的泳衣、泳裤即可。如果注重个人卫生，也可以提前购买好潜水面镜和防寒衣（潜水服）。参加体验潜水时，您可以在带一个U盘，用来拷贝水下拍摄的照片。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">10</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、有近视可以潜水吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：可以。台湾潜水中心有带有度数的潜水面镜。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">11</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、生理期可以潜水吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水时是可以用卫生巾的。但如果因生理期而导致腹痛、腰酸等不适合背重物的状况出现，则建议不要潜水。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">12</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、怀孕或疑似怀孕可以潜水吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：不能。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">13</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、我有了潜水证照可以一个人去潜水了吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水是很棒的团体活动，提倡团体活动，当发生危险时也可以有同伴协助你处理。所以不能一个人去潜水。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">15</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、潜水后多久可以搭乘飞机？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：潜水前可以搭乘飞机。因生理学的关系，单次潜水后至少12小时之后才可以搭乘飞机，重复潜水，搭乘飞机的时间要在潜水后18小时或更久。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">16</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、下雨天气可以潜水吗？</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">回答：一般的下雨天气并不会对潜水活动造成影响。但如果有台风和大浪，则不能潜水。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">垦丁民宿预定：<a href="/fishtrip/taiwan/kending/" target="_blank" text="/fishtrip/taiwan/kending/">http://www.fishtrip.cn/taiwan/kending</a></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size:13px;font-family:'Arial','sans-serif'"> </span></p>
<p><span style="font-size:13px;font-family:'Arial','sans-serif'"> </span></p>
<p><br></p>
      </div>