<div class="article__content article-richedit-content">
        <p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">快来看看为您推荐的高雄亲子、家庭一日游路线吧~</span></strong></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">上午——<strong style="color: rgb(0, 176, 240); font-size: 18px; white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><span id="_baidu_bookmark_start_21" style="display: none; line-height: 0px;">‍</span></span></strong></span><span id="_baidu_bookmark_start_23" style="display: none; line-height: 0px;">‍</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台湾最美的捷运站－美丽岛站</span><span id="_baidu_bookmark_end_24" style="display: none; line-height: 0px;">‍</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><strong style="color: rgb(0, 176, 240); font-size: 18px; white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><span id="_baidu_bookmark_end_22" style="display: none; line-height: 0px;">‍</span></span></strong>、85大楼</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">下午——西子湾、爱河</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">晚上——瑞丰夜市</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240); font-size: 18px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">第一站：台湾最美的捷运站－美丽岛站</span></strong></span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">所有到高雄的游客甚至把这里当做了一个著名景点，非去不可。小朋友去到这里一定会赞叹它的美丽，高雄的美丽岛捷运站是全台最美丽的捷运站，没有之一。大鱼觉得最美妙的一件事就是在这里听一遍胡德夫老师的《美丽岛》，超有感觉的，不信您到现场去试试。</span></p>
<p style="white-space: normal;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-107-0.jpg" title="下完订单，你离高雄更近一步了，看有多近!_图片_0" width="500" height="375" border="0" style="width: 500px; height: 375px;" alt="下完订单，你离高雄更近一步了，看有多近!_图片_0"></span></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">第二站：高雄85大楼</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">带着家人一起看看南台湾的港口风景，在这里您可以与家人看遍高雄的每一个角落。高雄85大楼，是南台湾最高的摩天大楼。 高雄85大楼不仅是南台湾的地标，也是世界第13高的摩天大楼。在74楼可360度环楼欣赏高雄港景及市景，您和家人会被这个港口城市而深深吸引。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-107-1.jpg" title="下完订单，你离高雄更近一步了，看有多近!_图片_1" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="下完订单，你离高雄更近一步了，看有多近!_图片_1"></span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">门票：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">观景台售票： 1.全票：150元（台币） 2.优待票：65岁以上130元（台币） 3.免费：100公分以下</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">10:00-22:00</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">搭乘78、83、100 至建台百货站即可到达；搭乘70、14 至三多四路口站即可到达。</span></p>
<p><br></p>
<p><br></p>
<p><span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(0, 176, 240);">第三站：西子湾</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">来这里和家人一起看看日落是多么的浪漫~西子湾是一个风景天成的湾澳，以夕阳美景及天然礁石闻名。每当日落时分，海岸护堤的石砌栏杆游客群聚，逐自挑选最佳位置观赏绚烂的落日光辉，海天一色的美景，美不胜收。这里怎能是一张照片就能概括的美，还是要您亲自去观赏！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span><img src="http://7xotew.com1.z0.glb.clouddn.com/article-107-2.jpg" title="下完订单，你离高雄更近一步了，看有多近!_图片_2" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="下完订单，你离高雄更近一步了，看有多近!_图片_2"></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">门票：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">免费</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">开放时间：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">全天</span></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">捷运西子湾站下车即可</span></p>
<p><br></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240); font-size: 18px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';">第四站：爱河</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240); font-size: 18px;"><strong><span style="color: rgb(0, 176, 240); font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-107-3.jpg" title="下完订单，你离高雄更近一步了，看有多近!_图片_3" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="下完订单，你离高雄更近一步了，看有多近!_图片_3"></span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">晚饭过后漫步在爱河边上，这是专属的家庭日。爱河，这条十多千米长、有着浪漫名字的河流横贯市区，将高楼林立的现代风貌与桨声灯影的浪漫气氛串连在了一起。伴着美景回忆着往日的点点滴滴，牵着家人的手，在欢声笑语中，这就是简简单单的幸福。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;">第五站：瑞丰夜市</span></strong></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">带着家人去旅行，怎能不吃点地道的？！瑞丰夜市可以说是令您和家人体验到高雄市民文化的台湾夜市，也是高雄规模最大且管理最优的夜市。跟着当地人走，准能找到最地道的台湾夜市！瑞丰夜市各摊位所贩卖的东西可谓是五花八门，包括小吃、服饰、流行饰品等等，已成为高雄市区民众夜晚品尝小吃、宵夜的聚集地，带着家人来这里大快朵颐吧！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span><strong style="color: rgb(0, 176, 240);"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-107-4.jpg" title="下完订单，你离高雄更近一步了，看有多近!_图片_4" width="700" height="389" border="0" style="width: 700px; height: 389px;" alt="下完订单，你离高雄更近一步了，看有多近!_图片_4"></span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">捷运巨蛋站下，步行5分钟左右</span></p>
      </div>