<div class="article__content article-richedit-content">
        <p><span style="font-size: 18px;"></span><br></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">台北跨年因为101大楼的烟花燃放而异常紧俏，往往提前预定也订不到房间。跨年夜没有房间？没有关系，还有这些24小时开放的地方可以和你的朋友一起过！</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">台北跨年夜住宿之24小时书店/漫画店</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);"><br></span></p>
<p><span style="color: rgb(84, 141, 212); font-size: 18px;"><span style="color: rgb(84, 141, 212); font-family: 微软雅黑, sans-serif; background: white;">台北跨年夜住宿之</span><span style="color: rgb(84, 141, 212); font-family: 微软雅黑, sans-serif;">诚品书店</span></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">不管是跨年还是平日旅游，诚品书店都是必去的地点。跨年夜看完烟火表演，来这里和台湾的大好青年们一起度过一个读书夜，也可以是一个挺有意义的跨年夜。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：台北市敦化南路一段245号B2-2F</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="color: rgb(84, 141, 212); font-size: 18px; font-family: 微软雅黑, sans-serif; background: white;">台北跨年夜住宿之漫画王</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">台湾24小时漫画店除了提供漫画书之外，还提供网络和私人独立空间可供休息，困了可以把这里当民宿使。漫画王在台北有不少分店，可以选最近的去。</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">收费</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">看书：每人每分钟1元台币（基本消费一个小时NT60）<br>上网：每人每分钟1元台币，第一小时需加NT30上网费或电视费（基本消费第一个小时NT90，之后每小时NT60）<br>加入会员：一般时段9折</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">过夜：平日晚间11点到隔日9点，NT250；例假日NT300（非会员无法使用过夜优惠）</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">离捷运站最近分店：</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">济南店：济南路3段5巷3号B1（捷运忠孝新生站）</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">复兴店：南京东路3段201号2F（捷运南京东路站）</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">承德店：承德路1段32号B1-1（捷运台北车站）</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">统领店：忠孝东路4段191号2F（捷运忠孝敦化站）</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">西门店：汉中街127号4F（捷运西门站）</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><span style="color: rgb(84, 141, 212); font-size: 18px; font-family: 微软雅黑, sans-serif; background: white;">台北跨年夜住宿之e书漫时尚阅概念馆</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">和漫画王一样，提供漫画书刊、网络、私人空间，也是跨年住宿的另类选择。</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">店铺地址：</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">复兴旗舰店：台北市松山区复兴北路179号2楼</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">罗斯福路店：台北市罗斯福路二段75号2楼（罗斯福路跟和平东路交叉口）</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">收费</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">看书：每人每分钟1.1元台币（基本消费一个小时NT70）<br>上网：每人每分钟1.3元（基本消费一个小时NT80）<br>加入会员：一般时段9折优惠，优惠时段7折优惠</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">过夜：平日晚间11点到隔日中午11点包夜9小时<br>VIP看书NT300，上网NT350元，例假日要加收NT100（以上非VIP另加收NT50），并提供NT100早餐，有花茶+厚片+1HR免费</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"><br></span></p>
<p><span style="color: rgb(84, 141, 212); font-size: 18px; font-family: 微软雅黑, sans-serif; background: white;">台北跨年夜住宿之麦欢乐24小时休闲图书馆</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">除了漫画店提供的漫画书籍之外，这里还提供和室空间，有卫浴设备，可以洗澡，还提供抱枕和棉被出租。</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">店铺地址：台北市忠孝东路4段197号14楼</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">收费：非会员一小时收费70元台币，会员48元台币，加包厢一次20元台币</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">过夜：晚上22：00办理过夜，平日满8小时可以享受优惠</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">台北跨年夜住宿之娱乐会馆</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">看完烟火放映，和朋友到KTV唱歌也是一个选择。如果不喜欢KTV，还可以去其他会馆娱乐，比如保龄球馆。有以下地方供参考：</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">钱柜KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">好乐迪KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">星聚点KTV</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;"><br></span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">e7play保龄球乐园三重馆</span><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"><br>十多项顶级休闲设施保龄球、飞镖机、篮球机、撞球、桌上曲棍球等漫画、杂志、网络、全身按摩椅、TV GAME、运动赛事播放等<br>地址：台北县三重市中央南路63号B1~B3（近捷运台北桥站）</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background: rgb(84, 141, 212);">台北跨年夜住宿之24小时餐厅、商店</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">像麦当劳、7-11、吉野家这些24小时餐厅和便利店都是可以提供跨年页歇脚的地方，只不过没有私人隔间，不方便睡觉。可供参考的地方有以下：</span></p>
<p><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">台北跨年夜住宿之</span></p>
<p><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">麦当劳</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">摩斯汉堡</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">吉野家</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">85度C咖啡烘焙专卖店</span></p>
<p style="min-height: 26px"><span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(84, 141, 212); background: white;">7﹣11便利店</span></p>
<p style="min-height: 26px"><span style="font-size: 16px;font-family: 微软雅黑, sans-serif;background: white">全台4000多家分店，有些提供休息区和洗手间</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><br></p>
      </div>