<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">走起！美食！</span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">蚵仔煎</span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-0.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_0" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_0"></span></strong></span></p>
</li></ul>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"></span></strong></span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">读做ô-ā-jiān，番薯粉浆包裹蚵仔、鸡蛋、葱、香菜等食材所煎成的饼状物。大海与陆地美味相会，蚵仔与鸡蛋的碰撞鲜甜至极。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">珍珠奶茶</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-1.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_1" width="275" height="500" border="0" style="width: 275px; height: 500px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_1"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">珍珠奶茶，台湾最具代表性的饮料与小吃之一。大家都耳熟能详，来到台湾当然要尝试最地道正宗的珍珠奶茶。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">棺材板</span></strong></p>
<p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-2.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_2" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_2"></span></strong></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">棺材板因外形酷似棺材而得名，外层被烤得金黄的面包加上里边多汁鲜美的馅料，看着图片口水都要流出来了。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">大肠包小肠</span></strong></span></p>
<p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-3.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_3" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_3"></span></strong></span></p>
</li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">糯米肠、香肠先经过炭烤，再将糯米肠切开，涂抹酱油膏等酱料，最后包裹着喷香四溢的香肠。一口咬下，大小通吃，真是十分过瘾。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">云朵咖啡</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">爱看《康熙来了》的朋友都会听过这家云朵咖啡，白腻蓬松的棉花糖，在咖啡热气蒸腾之下渐渐融化，咖啡的甘醇带着棉花糖的填蜜，大饱眼福的同时又是舌尖上的一次绝佳体验。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">       <img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-4.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_4" width="500" height="625" border="0" style="width: 500px; height: 625px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市大安区忠孝东路四段181巷35弄8号，近捷运忠孝敦化2号出口</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">品悦糖</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">La Douceur品悦糖是一家法式甜点专卖店，老板曾在法国留学，立志成为甜点师，希望能通过法式甜点带给人们幸福甜蜜的感觉。招牌焦糖苹果千层派，派皮酥脆，焦糖清爽不腻，加上苹果的清香与卡士达酱的香浓，一口下去满满都是幸福的味道呢。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      <img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-5.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_5" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市大安区金华街223号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">金峰卤肉饭</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">这是老台北人的最爱，招牌卤肉饭选用肥瘦适中的五花肉和香菇一起卤至入味，用独门秘方炒制而成，与晶莹饱满的米饭堪称绝配，配上几碟小菜和肉焿汤，绝对让人大呼过瘾！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">      <img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-6.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_6" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_6"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：台北市中正区罗斯福路一段10-1号</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">台北交通攻略</span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">捷运</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北捷运线路密布整个台北市，是台湾旅游必选的交通方式。台北捷运开放时间为06：00-24：00，票价按公里计数从20至65元新台币不等。（换成人民币大概是一个站的距离是3元，3~5个站大约6元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">悠游卡类似地铁充值卡，200台币一张，100押金，100可以用，便利店都可以充值，台北的捷运站都可以退卡。悠游卡除了捷运、公交、部分铁路可以坐外，在7-11消费都可以刷。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">购买地点：捷运各车站询问处；捷运车站悠游卡售卡/加值机；贴有悠游卡标示的便利商店(7-ELEVEN、全家、莱尔富、OK)。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">如何充值：每次加值金额为新台币100 元或其倍数。台北捷运各车站旅客询问处；全台贴有悠游卡标志的便利商店(7-ELEVEN、全家便利商店、莱尔富、OK超商)；台北捷运各车站及部分停车场设有"悠游卡加值机"。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">出租车/的士</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台湾出租车是以按表计费，起跳为1.5公里新台币70元，续跳每300米加5元。晚上11时以后至早上6时以前附加20%加成费。电话叫车与开行李箱各加收10元服务费，农历春节期间运价会略有调整。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px; color: rgb(0, 176, 240);">这些特色活动也值得试试</span></strong></p>
<p style="box-sizing: border-box;"><br></p>
<ul class=" list-paddingleft-2" style="box-sizing: border-box; margin-bottom: 11px; color: rgb(134, 134, 134); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 微软雅黑, Arial, simsun, sans-serif; line-height: 32px; white-space: normal;"><li><p><span style="font-size: 16px; color: rgb(0, 0, 0);"><strong><span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">成美左、右岸河滨爱情水岸户外游玩</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">您与爱人可以在这里见证爱情！成美左、右岸河滨公园，设置了许多爱情主题设施，LOVE、FOREVER、I♥U等字样色彩斑斓的设施建物，醒目地矗立在广阔绿地上。在情人椅上并肩而坐，在LOVE雕塑挂上爱情锁，浪漫十足。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-7.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_7" width="500" height="746" border="0" style="width: 500px; height: 746px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_7"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：捷运松山站1号出口往饶河街夜市方向，由松山慈祐宫右方之763 巷进入，步行约15分钟则可达</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">夜店娱乐</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">台北，越夜越精彩。无论您和爱人、朋友想小酌还是狂欢，要知道，夜晚才是台北的黎明。河岸留言是独立音乐种子的温床，苏打绿、五月天、蔡健雅、陈升、陈绮贞都曾在这里开唱，无数独立乐团和乐手的音乐梦想在这里得到孕育、生长。在这里，您可以和爱人、朋友high起来！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-44-8.jpg" title="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_8" width="500" height="313" border="0" style="width: 500px; height: 313px;" alt="台北总算盼到你了，台北“逛吃逛吃“指南也为你备好啦！_图片_8"></span></p>
<p><br></p>
      </div>