<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-0.jpg" title="冲绳 五天四夜 行程攻略_图片_0" alt="冲绳 五天四夜 行程攻略_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>9月29日-10月4日 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(54, 125, 162);  "><strong>行程安排：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>Day 1：抵达冲绳，入住酒店</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>Day2: ［</strong>冲绳巡礼经典一日游］</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>Day3：【首里城】—【玉泉洞】—【奥特莱斯 】</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>Day4：［无人岛经典1日游］</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>Day5：回程</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><strong>Day 1：抵达冲绳，入住酒店</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>到达住宿地后办理入住后，稍作休息，可在住宿附近闲逛，或者晚餐。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>冲绳当地一般会使用单轨电车、公共巴士和包车几种方式。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong style="font-family: Helvetica; font-size: 15px; text-align: justify; white-space: normal; ">单轨电车</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong style="font-family: Helvetica; font-size: 15px; text-align: justify; white-space: normal; "><span style="font-family: Verdana; font-size: 15px; text-align: justify;  ">↓</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-1.jpg" title="冲绳 五天四夜 行程攻略_图片_1" alt="冲绳 五天四夜 行程攻略_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(54, 125, 162);  "><strong>冲绳城市单轨电车 主要站点的目的地：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>那覇空港駅</strong>】：在国内线机场航厦2楼处乘车，1楼设有邮便局，步行3分钟即到国际机场</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>小禄駅</strong>】：AEON百货(B1美食街、2F小间UNIQLO)、ダイコクドラッグ最便宜药妆店、通堂拉面</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>奥武山公园駅</strong>】：奥武山公园山坡溜滑梯</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>旭桥駅</strong>】：Jack's Steak House </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>県庁前駅</strong>】：国际通的一端、从这端坐出租车回游轮只需￥500~550</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>美栄桥駅</strong>】：国际通的中间、近平和通商店街、暖幕拉面</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>牧志駅</strong>】：国际通另一端、DAIWA ROYNET HOTEL．国际通</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>おもろまち駅</strong>】：DFS旁、新都心区、まぐろ间屋- やざえもん．冲縄新都心店、AAA百货、无印良品、UNIQLO</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">（Omoromachi）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">【<strong>首里駅</strong>】：从首里城走到首里站，步行约15~20分钟。 </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>当天可以先不购买电车1日券，第2天购买1日券，1日券有儿童票</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(54, 125, 162);  "><strong>美食推荐：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>暖暮拉面 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-2.jpg" title="冲绳 五天四夜 行程攻略_图片_2" alt="冲绳 五天四夜 行程攻略_图片_2"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong><strong style="font-family: Helvetica; font-size: 15px; text-align: justify; white-space: normal; ">推荐菜品：</strong><span style="font-family: Helvetica; font-size: 15px; text-align: justify;  ">拉面、温泉玉子饭</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>地址：</strong>冲绳县那霸市牧志2-16-10 </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>营业时间：</strong>11点～次日凌晨2点</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>焼肉もとぶ牧場那覇店</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-3.jpg" title="冲绳 五天四夜 行程攻略_图片_3" alt="冲绳 五天四夜 行程攻略_图片_3"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">采用自然养殖冲绳黒毛和牛“motobu牛”的优质牛肉的烤肉店，肉质柔软回甘。各类烤肉都颇受好评，カルビ（牛肋排）是最受好评，人人必点的单品。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">地址：沖縄県那覇市久茂地２-１-３  久茂地MKビル３F</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">电话:050-5869-0463（预约专用号码） ；098-943-3897（资讯专用号码）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：11:00～15:00(最后点餐14:30)；17:00～23:00(最后点餐22:30)</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">交通：乘坐【ゆいレール】yui rail，乘车方向为【那覇空港行】，在【県庁前】站下车出站步行100米即到。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><strong>Day2: ［冲绳巡礼经典一日游］</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">日本最大规模的美之海水族馆（90分）—午餐（自费）—美国军事基地展望（30分）—参观万座毛·御果子殿—人气免税店—返回酒店（费用为大人600元/位  儿童500元/位）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">费用包含车费，提供即时中国语翻译服务，水族馆门票、停车费、司机餐费  </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>水族馆的海豚表演开始时间：11:00/13:00/14:30/16:00/18:00</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>表演时间为约20分钟（免费）</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><span style="font-family: 'Times New Roman';">或</span>可报名参加冲绳巴士公司的旅游巴士项目，当地1日游的行程 （大人5,500日元/位  儿童3300日元/位） </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(4, 51, 255);  "><span style="color: rgb(0, 0, 0); ">相关链接： <a href="/fishtrip/japan/chongsheng/" target="_blank" text="/fishtrip/japan/chongsheng/"><span>http://okinawabus.com/zh-cn/bt/bt_regulartourism_b/</span></a> </span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">※收费中所包括的费用：今归仁城址的入场费、餐费。但是，未包括美之海水族馆的入馆费。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">美之海水族馆的入馆费 成人：1850日元  儿童：610日元</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">* 由于行程是日语服务，如参加最好打印好参加人员的名字、参加活动行程的名字，以便用于确认去程的接送服务。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><strong>Day3：【首里城】—【玉泉洞】—【奥特莱斯 】</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">前往首里城</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><span style="font-family: Verdana; font-size: 15px; text-align: justify;  ">↓</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-4.jpg" title="冲绳 五天四夜 行程攻略_图片_4" alt="冲绳 五天四夜 行程攻略_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">吃完早餐约9点钟前往首里城，乘坐单轨电车在【首里站】下车，步行前往【首里城】</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">首里城营业时间：9:00am~5:30pm</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">首里城地址：那霸市首里金城町1-2  电话：098-886-2020</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>玉泉洞 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong><span style="font-family: Verdana; font-size: 15px; text-align: justify;  ">↓</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-5.jpg" title="冲绳 五天四夜 行程攻略_图片_5" alt="冲绳 五天四夜 行程攻略_图片_5"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">玉泉洞是东南亚地区最大的钟乳石洞，整个公园分为主题展现：玉泉洞、国王村、毒蛇表演、太鼓表演、玻璃制作等等，其中太鼓表演非常精彩。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>乘车方式:</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">从首里城步行约3分钟到达【沖縄県路線バス】的【金城町】站，乘坐公交【沖縄バス・７ 首里城下町線】到那霸巴士枢纽【那覇バスターミナル(沖縄県路線バス)】下车（价格为230日元，约40分钟）。然后换乘公交【琉球バス交通・５０百名線(東風平経由)】方向为【百名バスターミナル行】，到【新城】站下车（价格为570日元，约30分钟），然后步行19分钟到达玉泉洞王国村。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">下午游玩玉泉洞；   玉泉洞之后前往奥特莱斯</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Verdana;  ">↓</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>奥特莱斯</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong><span style="font-family: Verdana; font-size: 15px; text-align: justify;  ">↓</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong><span style="font-family: Verdana; font-size: 15px; text-align: justify;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-6.jpg" title="冲绳 五天四夜 行程攻略_图片_6" alt="冲绳 五天四夜 行程攻略_图片_6"></span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>从玉泉洞前往奥特莱斯的乘车方式：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">从玉泉洞王国村步行19分钟，到达【沖縄県路線バス】的【新城】站，乘坐【琉球バス交通・５０百名線(東風平経由)】方向为【那覇バスターミナル行】到【農協会館前】下车（500日元，约30分钟），换乘【琉球バス交通沖縄バス?８９糸満線(那覇西高校経由)】方向为【糸満バスターミナル行】，到【豊見城南高校前】站下车（400日元，约30分钟），步行17分钟可到达沖縄奥特莱斯ASHIBINAA。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>*当天行程乘坐交通工具可能有点繁琐，如果觉得麻烦，可选择租车。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><strong>Day4：［无人岛经典1日游］</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">无人岛之旅快艇驰骋在浩瀚的大海中，犹如独霸一方的感觉!在无人岛的海域中，您可以借助潜水工具观赏珊瑚礁和热带鱼的栖息状态。远离城市的喧嚣，享受片刻的宁静。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><strong style="font-family: Helvetica; font-size: 15px; text-align: justify; white-space: normal; "><span style="font-family: Verdana;">↓</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><strong style="font-family: Helvetica; font-size: 15px; text-align: justify; white-space: normal; "><span style="font-family: Verdana;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-7.jpg" title="冲绳 五天四夜 行程攻略_图片_7" alt="冲绳 五天四夜 行程攻略_图片_7"></span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">无人岛海上活动1日游：乘坐游艇登陆无人岛—体验香蕉船—海上皮划艇—海上摩托艇—透明海水浴—午餐（盒饭）—乘坐游艇返回港口<span style="font-family: 'Times New Roman';"> </span>（成人750元/位  儿童450元/位）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">参加无人岛经典1日行程游玩，傍晚返回酒店附近。在国际通上的牧志市场（那霸市第一牧志公社市场）吃海鲜晚餐。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(54, 125, 162);  "><strong>无人岛美食推荐</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>牧志公社市场 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-8.jpg" title="冲绳 五天四夜 行程攻略_图片_8" alt="冲绳 五天四夜 行程攻略_图片_8"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">这边有丰富的海鲜产品，可在一楼选择，二楼加工制作。刺身的价格比国内便宜许多，而且很新鲜。海鲜种类丰富，推荐品尝龙虾及苏眉鱼等。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">顺便点一瓶当地的烧酒：<strong>泡盛</strong>。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：10:00am~8:00pm</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">* 如果返程回来的较晚，可以选择在牧志公社市场后面的 花笠食堂 就餐。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>花笠食堂 </strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-9.jpg" title="冲绳 五天四夜 行程攻略_图片_9" alt="冲绳 五天四夜 行程攻略_图片_9"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">菜品是冲绳的当地家庭菜，人气很高，味道也不错，可以尝试一下。 </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">地址：冲绳县那霸市牧志3-2-48  </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：11:00 - 21:00</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">电话：(98-8)666085  </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>目利きの銀次新都心店</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-10.jpg" title="冲绳 五天四夜 行程攻略_图片_10" alt="冲绳 五天四夜 行程攻略_图片_10"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">可以吃到各种新鲜海产的居酒屋，价钱实惠氛围放松，当地人特别喜欢的餐厅。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">热门菜品：</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">马肉刺身拼盘（馬刺し盛り合わせ）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">炭火烤花鲫鱼（とろほっけ）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">刺身拼盘（刺身の6点盛り）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">上述菜品单品500日元左右，性价比很高，很受好评。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">地址：沖縄県那覇市天久1-9-19</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">电话098-863-3442</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">交通方式：距离约1公里。步行前往约20分钟，打车约500日元。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：每天18:00～2:00（最后点餐1:00） </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>【榕树】（日文名：島野菜としゃぶしゃぶ がじゅまる）<span class="Apple-tab-span" style="white-space:pre">	</span></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-11.jpg" title="冲绳 五天四夜 行程攻略_图片_11" alt="冲绳 五天四夜 行程攻略_图片_11"></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">餐厅位于一棵大榕树上，外形特别。提供冲绳特有的猪肉agu以及自有菜园栽种的各种岛上蔬菜，特色为日式火锅，以及各种冲绳本土料理。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">地址：沖縄県那覇市奥武山46</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">电话：098-859-6530</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">交通方式：步行至【美栄橋】站，乘坐yui rail（ゆいレール）方向为【那覇空港行】，到【壺川駅】下车出站（约10分钟），步行约402m即可到达。<span class="Apple-tab-span" style="white-space:pre">	</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：11：30～15：30（最后点餐15：00）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">17：30～00：00（最后点餐23：00）</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(54, 125, 162);  "><strong>无人岛购物推荐</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong>塩屋</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(236, 159, 46);  "><strong><img src="http://7xotew.com1.z0.glb.clouddn.com/article-188-12.jpg" title="冲绳 五天四夜 行程攻略_图片_12" alt="冲绳 五天四夜 行程攻略_图片_12"></strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">海盐专卖店。除了食用盐外，还有海盐护肤品等</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">推荐购买：宫古岛雪盐、琉球铭果牛奶海盐饼</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">地址：那霸市久茂地3-3-16  </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">营业时间：10:00am~21:00pm</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(121, 174, 61);  "><strong>Day5：回程</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">早上建议8点起床，吃完早餐后可以直接前往机场，机场到达的国内区，可以在国内区购物，会比国际区区域要大，产品要多一些。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">如果不选择购物，可以在附近逛逛，最好到10点从酒店出发前往机场，乘坐飞机返回香港。</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>返程航班：</strong>HX679  <strong>机型：</strong>32H  <strong>起飞：</strong>11:55  那霸机场I <strong>   到达：13:25  </strong>香港机场T1 </p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">大鱼<strong>贴心小提示：</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(4, 51, 255);  "><span style="color: rgb(0, 0, 0); "><strong>冲绳天气预报参考：</strong><span><strong><a href="/fishtrip/japan/chongsheng/" target="_blank" text="/fishtrip/japan/chongsheng/">http://m.japan.travel/chc/weather_detail.php?area_id=9110</a></strong></span></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica; color: rgb(4, 51, 255);  "><span style="color: rgb(0, 0, 0); "><span><br></span></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>1.需携带太阳镜、防晒霜、泳衣、雨伞，出行的这五天，那霸市有几日会有雨，建议带上雨伞，或者在那霸购买也可以。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>2.那霸市整个旅程需要用现金的地方不少，建议先在国内银行进行日元兑换。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">3.<strong>冲绳当地一般会使用单轨电车、公共巴士和包车几种方式（中国驾照无法在日本租车）。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  ">4.<strong>单轨电车连接了那霸空港和首里城，中间有若干重要的站点。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>车票分为1日票600円、2日票1000円、3日票（网上看见介绍，但当地并无3日票贩售），都是24小时计时的，譬如你1日晚20点买的2日票，可以用到3日晚20点，非常人性化。</strong></p>
<p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; font-size: 15px; font-family: Helvetica;  "><strong>5.首里城可以收集印章，盖满章后可以换取首里城的贴纸或者是纪念品，也可以一个空白的笔记本，自己盖章留念。</strong></p>
<p><br></p>
      </div>