<div class="article__content article-richedit-content">
        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-163-0.jpg" title="2015京都祇园祭日程安排_图片_0" alt="2015京都祇园祭日程安排_图片_0"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">祇园祭</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">举办时间：7月1日（周三）～31日（周五）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">"祇园祭"是八坂神社的祭神活动，日本三大祭之一。它作为京都工商业民众间的传统活动发展至今，以悠久的历史、豪华的场面和长达一个月之久的规模闻名全国。可谓日本夏季各类传统活动的代表。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">祇园祭起源于距今1100多年前，据说，当时人们为祈求流行疫病早日平息，在神社里搭建了66根（当时日本国内小国的数量）长"矛"，于是便有了如今的祇园祭。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-163-1.jpg" title="2015京都祇园祭日程安排_图片_1" alt="2015京都祇园祭日程安排_图片_1"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">祇园祭的高潮无疑是山鉾巡行（花车游行）。去年起，时隔约半个世纪，游行重新恢复至分17日和24日2天举行的传统。33座花车中有29座已被国家认定为重要有形民俗文化遗产，花车上装饰有各式精美的绒毯和仿织锦等，堪称一座室外移动式美术馆。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-163-2.jpg" title="2015京都祇园祭日程安排_图片_2" alt="2015京都祇园祭日程安排_图片_2"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">时候一到，妹子们就会穿上美美的浴衣参加祇园祭。如果你也想穿上美美的浴衣，省钱的招是到跳蚤市场入手一件（真的会比新的便宜很多）。在京都最有名的［东寺弘法市场］就能淘到啦～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">详细：<a href="/japan/jingdu/" target="_blank">http://www.timlentse.com/japan/jingdu/</a></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">2015祇园祭主要活动日程</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">日程7月1日～31日（预定内容）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">游行分2次举行游行，17日为前祭游行（23座山鉾花车），24日为后祭游行<span style="color: rgb(0, 0, 0); ">（10座山鉾花车。时隔49年于2014年恢复）。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">1～5日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈吉符入〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">各山鉾町（各保存山鉾花车的街道）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">参加者相互碰头开始准备活动。祇园祭中被安置于花车里的神像会先被供奉于各街道的"会所"内。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">2日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈抽签仪式〉10点</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都市政府</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">抽签决定各花车参加游行的顺序。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">10日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈洗神轿仪式〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">20点～20点30分</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">四条大桥</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">人们将八坂神社的神轿搬至四条大桥，用鸭川的河水清洗神轿。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">10～14日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈前祭 建鉾•建山（搭建花车）〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">12、13日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈前祭 山鉾试拉（试拉花车）〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">14～16日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈前祭 宵山〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">活动推向最高潮。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈屏风祭〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">17日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈山鉾巡行（花车游行）•前祭游行〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">四条乌丸（9点～）→河原町通→御池通</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈神幸祭〉 16点</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈神轿渡（搬运神轿）出发式〉18点</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社→四条御旅所（位于神社外的神轿停放处）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社的三座神轿会在氏子区（同一氏族神地区）内巡游，热闹非凡。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">18～21日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈后祭 建鉾•建山（搭建花车）〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">20～21日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈后祭 山鉾试拉（试拉花车）〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">21～23日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈后祭 宵山•屏风祭〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">24日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈山鉾巡行（花车游行）•后祭游行〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">乌丸御池（9点30分～）→河原町通→四条通</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈花伞巡行（花伞游行）〉10点～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社→京都市役所（市政府）→八坂神社</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈还幸祭〉17点左右～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">四条御旅所→八坂神社 </p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">三座神轿从位于四条通的御旅所（神轿停放处）出发。在氏子区（同一氏族神地区）内游行一周后，回到八坂神社。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">28日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈洗神轿仪式〉20点30分</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">四条大桥</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">与10日举行的洗神轿仪式一样，神轿清洗完毕后会被收回神社存放。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">31日</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈疫神社夏越祭〉10点</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">疫神社（八坂神社内）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社内境内疫神社的鸟居前将竖起大茅草圈，钻过茅草圈即可驱邪除恶。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-family: Helvetica; color: rgb(54, 125, 162);  ">祇园祭的主要看点</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">建鉾•建山（搭建花车）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">前祭：7月10日（周五）～14日（周二）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">后祭：7月18日（周六）～21日（周二）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">各山鉾町（各保存山鉾花车的街道）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">这几天，各相关街道开始搭建花车。不用一根钉，只按传统习俗用绳子组建花车的技巧让人叹为观止，值得一看。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">山鉾试拉（试拉花车）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">前祭：7月12日（周日）、13日（周一）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">后祭：7月20日（周一•节日）、21日（周二）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">各山鉾町（各保存山鉾花车的街道）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">花车组建完毕后，人们奏起祇园民乐，在街道里试拉山鉾花车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">前祭 宵山</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月14日（周二）～16日（周四）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">各山鉾町（各保存山鉾花车的街道）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">从傍晚起，四条通即会禁止车辆通行，路上人山人海。各保存山鉾花车的街道用饰物将"山"和"鉾"装饰得华丽无比，同时还架起独特的驹形灯笼组。周边街道里分布着各色小摊，在钲鼓与笛子的祗园民乐伴奏中，"祇园祭"迎来了其高潮。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">14日人不会太多，可以在傍晚时分安静的感受活动氛围。建议您在这天太阳落山前前往四条通，这样就能仔细观赏长刀鉾、月鉾、函谷鉾等具有代表性的花车了。此外，四条通和室町通路口被称为"鉾之辻（花车路口）"，在这里可以全方位观赏花车。不仅如此，在月鉾、菊水鉾等一部分花车上，只要购买一种叫"CHIMAKI（粽）"的用竹叶制成的护符，就可以登上花车。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">步行街</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">18点～23点（暂定）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">15、16日，从八坂神社～堀川通间的四条通路段禁止车辆通行。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">后祭 宵山</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月21日（周二）～23日（周四）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">灯笼摇曳的灯光、祇园民谣的余韵，可感受到充满情趣的宵山。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">屏风祭</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">前祭：7月14日（周二）～16日（周四）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">后祭：7月21日（周二）～23日（周四）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">山鉾町自发参加的町家（京都传统古建筑）•店家</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">宵山也被称为"屏风祭"。住在山鉾町古宅子里的居民们会将格子门卸下，敞开房间，在门口竖起家中秘藏的古董屏风。这个活动叫做"屏风饰"，是宵山的看点之一。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如果您在新町、室町、六角通周边漫步一番，一定能看到不少独具特色的屏风被展示出来，不光如此，在此期间还会有不少町家古建筑被彩灯装点起来，游客可在晚上欣赏到其别具一格的风情。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">前祭 山鉾巡行（花车游行）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月17日（周五）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">9点 游行开始</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">山鉾花车早上9点从四条乌丸出发。在举行"抽签确认"活动确认出发顺序后走在先头的长刀鉾花车童男挥舞大刀将"注连绳（挂在神殿前的稻草绳）"剪断，宣布游行开始。近五层楼之高的山鉾花车缓缓前行，场面华丽壮观。在河原町四条、河原町御池、御池新町的转角处，游行队伍会展示豪放的"路口大转弯"技术。一路上各种看点丰富，游行在祇园民乐的伴奏中，热闹非凡。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">后祭 山鉾巡行（花车游行）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月24日（周五）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">9点30分 游行开始</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">游行路线与前祭相反，9店30分从乌丸御池出发，在寺町御池的收费观赏席一带进行"抽签确认"。由不参与抽签的桥辩天花车打头阵，花车队列经由御池通、河原町通后于四条通朝西行进，而去年时隔150年重新加入游行的大船鉾则在游行队伍最后压阵。游客可于河原町御池、河原町四条观赏到豪壮的"路口大转弯"技术。最后进行的花伞游行也不容错过。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">花伞巡行（花伞游行）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月24日（周五）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">10点～</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">花伞是现代人模仿古代"山鉾"的形态使用的道具。近千人的队伍将在京都市内游行。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈游行路线〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">祇园石阶下（八坂神社）→寺町通→御池通→河原町通→四条通→八坂神社</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">交通：市公交100路•206路"祇园"</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">神幸祭•还幸祭</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月17日（周五）、24日（周五）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">八坂神社•御旅所（位于神社外的神轿停放处）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">17日，八坂神社的神灵降临至三座神轿内后，人们会把神轿搬至位于四条寺町的御旅所。而到了24日，人们则会把神轿迁回八坂神社。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">交通：市公交100路•206路"祇园"</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica; color: rgb(73, 155, 201);  ">收费观赏席信息</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月17日、7月24日两日的山鉾巡行道路沿线设有收费观赏席。当然，如果想单纯参观参观，不需要坐观赏席也是可以的。参观祇园祭本身不需要收费。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;   min-height: 18px;"><br></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">每席：3,180日元（对号入座，附介绍册）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">设置场所：御池通</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月17日　　　前祭 山鉾巡行路线</p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-163-3.jpg" style="float:none;" title="2015京都祇园祭日程安排_图片_3" alt="2015京都祇园祭日程安排_图片_3"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">7月24日　　　后祭 山鉾巡行路线</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><img src="http://7xotew.com1.z0.glb.clouddn.com/article-163-4.jpg" title="2015京都祇园祭日程安排_图片_4" style="font-family: sans-serif; font-size: 16px; float: none;" alt="2015京都祇园祭日程安排_图片_4"></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span><span style="font-family: Helvetica; font-size: 15px;  "><br></span></span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  "><span><span style="font-family: Helvetica; font-size: 15px;  ">为方便海外游客购买观赏席票，各旅行社的外国人信息服务</span>中心等也有售票窗口。</span></p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">请至以下地点购买收费观赏席票。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">旅游服务中心</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">•京都旅游咨询服务中心 "京Navi"</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">JR京都站大楼2F</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈8:30-19:00 全年不休息〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">TEL (+81)-75-343-0548</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">旅行社信息服务中心</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">•关西旅游信息服务中心（JTB）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈10:00-18:00〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">JR京都站前 京都塔3F</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">TEL (+81)-75-341-0280</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">http://www.tic-kansai.jp/kyoto/</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">•京都旅游信息服务中心（H.I.S）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈9:00-18:00 全年不休息〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">京都市中京区河原町四条以北米屋町380 TSUJIKURA大楼3F</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">TEL (+81)-75-253-0288</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">http://his-kyoto.com/</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">•大阪旅游信息服务中心（H.I.S）</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">〈9:00-21:00 全年不休息〉</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">大阪市中央区心斋桥1-4-3 心斋桥OPA 8F</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">TEL (+81)-6-6253-8866</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">http://his-osaka.com/</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">＊一旦购票无法退票。</p>
<p style="margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-family: Helvetica;  ">如逢观赏席票售罄，敬请谅解。</p>
<p><br></p>
      </div>