<div class="article__content article-richedit-content">
        <p style="text-align:center;line-height:40px;background:white"><br></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">一、米朗琪咖啡馆Melange Cafe</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-0.jpg" title="台北下午茶大盘点_图片_0" alt="台北下午茶大盘点_图片_0"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">推荐指数（</span><span style="font-family:'MS Gothic';color:#444444">❤❤❤❤❤</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">）</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">◆最低消费：<br>每人最低饮料消费为100元/含外带<br>◆用餐时间：<br>用餐时间限两小时<br>◆服务费：<br>需收10%服务费<br>◆预约服务：</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">Tips: </span><span style="font-family:'微软雅黑','sans-serif';color:#444444">米朗琪咖啡人气很旺，总是需要排队，提前预约可以免去等候的麻烦。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#548DD4">推荐茶点：</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">1</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、草莓冰淇淋松饼</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-1.jpg" title="台北下午茶大盘点_图片_1" alt="台北下午茶大盘点_图片_1"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">来到米朗琪，一定要点的肯定当之无愧、绝对无敌好吃的招牌“草莓冰淇淋松饼”！</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">松饼切开后可以清晰看到那烤得焦脆的松饼，搭配雪糕和草莓，亲们闻到香味了吗？热乎乎的饼皮上涂抹着软软冰凉的冰淇淋，配上酸甜可口的草莓，真的很好吃。而且一份松饼折合人民币才30元不到，这份量、这价格、这口感绝对是超值喔！</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">2</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、 烟熏鸡肉pizza</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-2.jpg" title="台北下午茶大盘点_图片_2" alt="台北下午茶大盘点_图片_2"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">区别于一般的饼皮，这份烟熏鸡肉pizza的主打是厚片的大土司，土司的边角部分烤得香脆，喷香的鸡肉连上面包的软糯，铺满土司的芝士绝对美味喔！</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">3</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">、 饮品——水果冰茶、葡萄可尔必斯</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-3.jpg" title="台北下午茶大盘点_图片_3" alt="台北下午茶大盘点_图片_3"></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">店里的食物不贵，不过有个小规定，每人都要点一份饮品。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">店里的水果冰茶是真材实料的水果茶，里面的水果异常丰富，倒在冰块儿小杯子里，随着冰融化，浓郁的酸味和茶味混合，会有不同层次的口感。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">另外，本店推荐饮品还有一样，就是越南滴漏咖啡，味道也很不错喔！</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">二、古典玫瑰园</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">推荐指数（</span><span style="font-family:'MS Gothic';color:#444444">❤❤❤❤</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">）</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">喜欢英式下午茶的朋友，一定不能错过古典玫瑰园！温柔可人的服务小姐会非常贴心地奉上点心，同时介绍这份美食的吃法——要从下层吃到上层，分别是从咸的口感过度到甜的滋味。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#548DD4">【下午茶普通版】</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#548DD4"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-4.jpg" title="台北下午茶大盘点_图片_4" alt="台北下午茶大盘点_图片_4"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">最下面的是三明治、小汉堡、还有一个挞。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-5.jpg" title="台北下午茶大盘点_图片_5" alt="台北下午茶大盘点_图片_5"></span></p>
<p><span style="font-family:'微软雅黑','sans-serif';color:#444444;background:white">中间的碟子里是焦糖炖蛋、小曲奇、小酥饼。</span></p>
<p><span style="font-family:'微软雅黑','sans-serif';color:#444444;background:white"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-6.jpg" title="台北下午茶大盘点_图片_6" alt="台北下午茶大盘点_图片_6"></span></p>
<p><span style="font-family:'微软雅黑','sans-serif';color:#444444;background:white">最上面的是巧克力、芒果布丁、奶油蛋糕和马卡龙。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#548DD4">【威廉王子下午茶——豪华经典版】</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-7.jpg" title="台北下午茶大盘点_图片_7" alt="台北下午茶大盘点_图片_7"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">升级版相比普通版，上层的点心不仅是卖相更好看，连味道也是好吃很多。上层点心有布丁啫喱、芒果蛋糕、泡芙。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">套餐包括可以每人点一份限价内的茶饮：</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-8.jpg" title="台北下午茶大盘点_图片_8" alt="台北下午茶大盘点_图片_8"></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">英式伯爵红茶和水果茶都很不错的</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">如果喜欢这里的茶，还可以买上几罐带回家。</span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">总结：在古典玫瑰园是一种美的享受！店里的玫瑰装饰无处不在，可以体现店主的设计用心，值得大家去小资一下。但是相比米朗琪咖啡的食物，古典玫瑰园还是略逊一筹。</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">三、贰楼餐馆（Second Floor Cafe）</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">推荐指数（</span><span style="font-family:'MS Gothic';color:#444444">❤❤❤❤</span><span style="font-family:'微软雅黑','sans-serif';color:#444444">）</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">这家店最出名的下午茶出品，莫过于大名鼎鼎的“草莓塔”了！</span></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-31-9.jpg" title="台北下午茶大盘点_图片_9" alt="台北下午茶大盘点_图片_9"></span></p>
<p style="margin-bottom:0;line-height:26px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">如果有些饿了，可以点一份蘑菇意粉。意粉煮得恰到好处，不会过生过硬，轻松滑入口腔，蘑菇味道浓郁，却不会喧宾夺主，味道很赞！</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">总结：小贰楼的下午茶体验非常棒，不过贴心提示，最好提前订位，只能订到5点前，想来吃正餐的朋友，就得早点来了哦！</span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin: 0 0 0;line-height: 26px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">原文：《台湾小资游系列之台北下午茶私房美食大盘点》</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">查看和预定台北特色民宿请戳大鱼：<a href="/taiwan/taibei/" target="_blank">http://www.timlentse.com/taiwan/taibei/</a></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p> </p>
<p><br></p>
      </div>