<div class="article__content article-richedit-content">
        <p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">这些美食一定不要错过哦！</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">珍鱿味酥炸大鱿鱼</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">食尚玩家和苹果日报都曾报道过，美味有保证；超大鱿鱼，肉够多</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-0.jpg" title="高雄的夜市可有点不一样_图片_0" width="500" height="375" border="0" style="width: 500px; height: 375px;" alt="高雄的夜市可有点不一样_图片_0"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">海味鲜虾棒</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">苹果日报和东森新闻推荐美食；虾肉十足、口味多、外皮香脆！</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-1.jpg" title="高雄的夜市可有点不一样_图片_1" alt="高雄的夜市可有点不一样_图片_1"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">爱玛妮小蛋糕</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">奶油馅料鲜香醇厚，造型很萌</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-2.jpg" title="高雄的夜市可有点不一样_图片_2" alt="高雄的夜市可有点不一样_图片_2"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">新台湾原味餐厅</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">保留了三四十年代台湾的旧风格，餐厅很用心的布置了很多就场景，就好像进入了老片儿的摄影棚。不仅是场景，许多美食都是台湾菜经典味道。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-3.jpg" title="高雄的夜市可有点不一样_图片_3" alt="高雄的夜市可有点不一样_图片_3"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：高雄市鼓山区明诚三路1号</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">海之冰</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">夏天吃冰，清凉消暑。这家海之冰的美食价格亲民，而且份量超足，还有新鲜硕大的水果，一次就能满足你的胃口。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-4.jpg" title="高雄的夜市可有点不一样_图片_4" alt="高雄的夜市可有点不一样_图片_4"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地址：高雄市鼓山区滨海一路76号</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">高雄交通建议</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">地铁</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高雄捷运有2条路线，分红线（南北走向）和橘线（东西走向）。两条线路有1个换乘点站--美丽岛站（红线的R10站和橘线的05站）是台湾最美捷运站之一。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">红线链接到机场、火车站等交通枢纽站，如：高雄国际机场、高雄车站、左营（高铁）站。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">地铁非24小时运营，一般是首车在6:00-6:30之间，末班车在00:00左右。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-5.jpg" title="高雄的夜市可有点不一样_图片_5" alt="高雄的夜市可有点不一样_图片_5"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">注意：高雄捷运不能使用悠游卡，可选择购买一次使用的单程卡，也可以购买可以多次使用、不限换乘的普卡。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> </span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">公交</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">投币（每段）：全票12元、半票6元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">公交卡：</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">一卡通（每段）: 普卡12元、学生卡10元、敬老／博爱／仁爱卡免费</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">悠游卡、台湾通、E通卡（每段）: 普卡／学生军警卡12元、优待票6元。</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">自行车</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">可选择租借高雄公共自行车CityBike或私人运营的自行车租借机构。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">租赁系统营运时间：00：00-24：00</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--可以支持异地还车</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--可以使用高雄一卡通或自己信用卡进行租车业务</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--持一卡通民众可1次租借1辆脚踏车；持信用卡民众可1次租借4辆脚踏车。归还车辆时请务必再次到中控台过卡。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--租赁费用按租赁时间计收，第一小时内免费，之后不足30分钟，以30分钟计。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--使用一卡通搭乘捷运后，30分钟以内骑乘公共脚踏车，第1小时内免费，超过1小时，未足90分钟费率为6元，之后仍维持每30分钟10元</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">--使用信用卡直接租车，第1小时内免费，超过1小时后，按每30分钟20元</span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei';">出租车</span></strong></span></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">高雄市内出租车起跳为1.5公里新台币70元，续跳每300米加新台币5元。高雄市区往来小港机场出租车车资约新台币300元。</span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">晚上23点至次日6点期间，加收夜间额外费用，首1.2公里收新台币70元，随后每0.25公里收新台币5元。</span></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;">还可以试试这些特色活动</span></strong></span></p>
<p><span style="color: rgb(0, 176, 240);"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 24px;"><br></span></strong></span></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">台湾最美的捷运站－美丽岛站</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">所有到高雄的游客甚至把这里当做了一个著名景点，非去不可。小朋友去到这里一定会赞叹它的美丽，高雄的美丽岛捷运站是全台最美丽的捷运站，没有之一。大鱼觉得最美妙的一件事就是在这里听一遍胡德夫老师的《美丽岛》，超有感觉的，不信您到现场去试试。</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-6.jpg" title="高雄的夜市可有点不一样_图片_6" width="500" height="375" border="0" style="width: 500px; height: 375px;" alt="高雄的夜市可有点不一样_图片_6"></span></p>
<p><br></p>
<ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">驳二艺术特区</span></strong></p></li></ul>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">在创意的世界里，总能让您和家人大饱眼福。驳二艺术特区里的创作工坊，来自世界各地，不同的艺术团队，致力于让艺术，融合在生活中。这里是艺术中心，从原本的破旧仓库，转变成台湾最具成功的艺文特区，结合艺术、音乐及美食。您和家人可以在智慧与美的碰撞中体验台湾创新的力量。</span></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"> <img src="http://7xotew.com1.z0.glb.clouddn.com/article-109-7.jpg" title="高雄的夜市可有点不一样_图片_7" width="500" height="278" border="0" style="width: 500px; height: 278px;" alt="高雄的夜市可有点不一样_图片_7"></span></p>
<p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交通：捷运橘线盐埕埔站（O2站）1号出口，沿大勇路向南步行约5分钟即可到达。</span></p>
      </div>