<div class="article__content article-richedit-content">
        <p><br></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">台南美食与大陆南方的苏杭一样，以甜口为主，美食评论家说这跟台南在台湾较早富裕起来有关。这期康熙来了明星推荐的台南美食，号称鲜为观光客所知，但在台南人眼里却是正宗地道的台南美食。跟大鱼看看都有哪些吧!</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"><br></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之碗粿（读“挖愧”）</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-0.jpg" title="​康熙来了之台南美食大搜索_图片_0" alt="​康熙来了之台南美食大搜索_图片_0"></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">嘉宾赵正平推荐，甜味。加上本身很Q的米粿加上蒜泥、古早味的甜辣酱，看起来真的很不错。</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">店家：富盛号碗粿</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">地址：台南市中西区西门路二段333巷8号</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">营业时间：07:00—17:00</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">人均消费：NT37</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之牛肉汤</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-1.jpg" title="​康熙来了之台南美食大搜索_图片_1" alt="​康熙来了之台南美食大搜索_图片_1"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">嘉宾曾子余推荐。台南人最爱的早餐之一，清淡又有营养。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">助仔牛肉汤</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市安平区安平路624号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">04:30—14:30（农历初三、十七休息）<br><strong>人均消费：</strong>NT117</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之虱目鱼肚粥</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-2.jpg" title="​康熙来了之台南美食大搜索_图片_2" alt="​康熙来了之台南美食大搜索_图片_2"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">赵正平推荐。虱目鱼的名字来源很有意思，据说是郑成功第一次看到这个鱼，问旁人这是“什么鱼”，“什么鱼”在台南的发音跟“虱目鱼”很像，从而取其谐音“虱目鱼”。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">阿憨咸粥</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市北区公园南路169号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">06:10—22:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT48</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之虾仁肉丸</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-3.jpg" title="​康熙来了之台南美食大搜索_图片_3" alt="​康熙来了之台南美食大搜索_图片_3"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'">王瞳推荐。台南人喜欢吃虾，虾卷里有虾、碗粿里有虾汤、担仔面里也有虾，用虾熬出来的甜味就是台南美食的甜味。<strong><span style="color:#444444"><br></span><strong><span style="color: rgb(68, 68, 68)">店家：</span></strong></strong><span style="color:#444444">永棋虾仁肉丸</span></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市东区东宁路340号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">10:00—20:30（卖完为止）</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT60</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之虾仁肉粽、菜粽</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-4.jpg" title="​康熙来了之台南美食大搜索_图片_4" alt="​康熙来了之台南美食大搜索_图片_4"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">李妍憬推荐，用水熬煮的台南粽子。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">刘家肉粽菜粽专卖</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区西门路二段439号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">24小时营业</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT59</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之小卷米粉</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-5.jpg" title="​康熙来了之台南美食大搜索_图片_5" alt="​康熙来了之台南美食大搜索_图片_5"></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">唐从圣推荐。淡粉红色的海鲜汤，加一小段一小段比豆芽粗的米粉，鲜美好滋味。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">邱家小卷米粉</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区国华街三段5号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">11:30—19:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT76</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之猪心冬粉、猪脚</span></p>
<p><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-6.jpg" title="​康熙来了之台南美食大搜索_图片_6" alt="​康熙来了之台南美食大搜索_图片_6"></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">李妍憬推荐。每天排队人超多的猪心冬粉店，老板虽不够热情，但食物够好吃，吃货们是不会被老板吓退的。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">阿明猪心冬粉</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区保安路72号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">18:00—02:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT125</span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之冰镇卤味</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-7.jpg" title="​康熙来了之台南美食大搜索_图片_7" alt="​康熙来了之台南美食大搜索_图片_7"></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">李妍憬推荐。边吃边吮指的冰镇卤味。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">你我他之家冰镇鸭翅专卖</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区西门路一段703巷26号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">10:00—21:00 （每周一公休）</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT160</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之鳝鱼意面</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-8.jpg" title="​康熙来了之台南美食大搜索_图片_8" alt="​康熙来了之台南美食大搜索_图片_8"></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">王瞳推荐。台南味道才正宗，台北很难找到台南味道的鳝鱼意面。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">城边真味炒鳝鱼专家</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市东区东门路一段235号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">11:30—14:00，16:30—00:30</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT143</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之猪舌割包</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-9.jpg" title="​康熙来了之台南美食大搜索_图片_9" alt="​康熙来了之台南美食大搜索_图片_9"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">唐从圣推荐。俗称“台南少女的酥胸”。口感香脆，咬下去每一口都是惊喜。</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">阿松割包</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区国华街三段181号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">08:00—18:00（每周四公休）</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT50</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之米糕</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-10.jpg" title="​康熙来了之台南美食大搜索_图片_10" alt="​康熙来了之台南美食大搜索_图片_10"></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">曾子余推荐。看起来像卤肉饭，吃起来味道可是截然不同噢。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">落成米糕店</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区民族路二段241号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">10:30—23:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT57</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之草湖芋仔饼、红豆牛奶霜</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-11.jpg" title="​康熙来了之台南美食大搜索_图片_11" alt="​康熙来了之台南美食大搜索_图片_11"></span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-12.jpg" title="​康熙来了之台南美食大搜索_图片_12" alt="​康熙来了之台南美食大搜索_图片_12"></span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444">王彩桦推荐。甜点总是给人满满的幸福感和满足感。夏天去台南不能错过。<br><strong>店家：</strong>太阳牌冰城</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区民权路一段41号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">08:00—22:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT50</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"> </span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);">台南美食大搜索之扁担豆花</span></p>
<p><span style="font-size: 19px; font-family: 微软雅黑, sans-serif; color: rgb(255, 255, 255); background-color: rgb(84, 141, 212);"><img src="http://7xotew.com1.z0.glb.clouddn.com/article-120-13.jpg" title="​康熙来了之台南美食大搜索_图片_13" alt="​康熙来了之台南美食大搜索_图片_13"></span></p>
<p><span style="font-size:16px;font-family:'微软雅黑','sans-serif';color:#444444">王彩桦推荐。压轴美食，一上场嘉宾都激动了。勾起了许多年前的回忆。</span></p>
<p style="margin-bottom:0;line-height:24px;background:white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">店家：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">修安扁担豆花</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">地址：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">台南市中西区国华街三段157号</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">营业时间：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">08:00—22:00</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">人均消费：</span></strong><span style="font-family:'微软雅黑','sans-serif';color:#444444">NT48</span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><span style="font-family:'微软雅黑','sans-serif';color:#444444"><br></span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><span style="color:#444444;font-family:微软雅黑, sans-serif">预定台南特色民宿，请戳大鱼：<a href="/fishtrip/taiwan/tainan/" target="_blank">http://www.tan90.cn/fishtrip/taiwan/tainan/</a> </span></p>
<p style="margin: 0 0 0;line-height: 24px;min-height: 26px;background: white"><br></p>
<p style="min-height: 26px"><span style="font-size:16px;font-family:'微软雅黑','sans-serif'"> </span></p>
<p><br></p>
      </div>