hr{
  margin-bottom:0px;
  margin-top:5px;
}
.hotel-item{
  padding:10px 10px;
  background-color:#fff;
}
.hotel-img {
  float:left;
}
.hotel-desc{
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cities {
  margin:0 auto;
  text-align:center;
  display:block;
}
.city {   
  position: relative;   
  display: block;   
  float:left;
  height:200px;   
  width: 220px;  
  margin:10px 10px 10px 10px;
}
.city-img {
  width:220px;
  height:200px;
}
.city-desc {
  text-align:center;
  font-size:1.3em;
  background-color:rgba(0, 0, 0, 0.5);  
  color: #fff;   
  position: absolute;   
  bottom: 0px;   
  left: 0px;   
  width: 220px;   
  padding: 10px 0;   
}
.hot-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot-desc {
  font-size: 0.9em;
  color: #777;
}
.cy-code{
  margin-left:2px;
  font-size:0.9em;
  color:#003580;
}
.home {

  background:url(asset-path('banner.jpg')) no-repeat center;
}
