body{
  padding-top: 50px; 
  font-family:"Lato Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background: #f6f1e5;
}
.home{
  background:url(asset-path('banner.jpg')) no-repeat center;
}
ul{
  list-style:none;
  padding-left:0px;
}
.breadcrumb{
  margin-bottom:0px;
  font-size:0.9em;
}
.btn-breadcrumb .btn:not(:last-child):after{
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before{
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn{
  padding:6px 12px 6px 24px;
  margin-bottom: 3%;
}
.btn-breadcrumb .btn:first-child{
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child{
  padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):after{
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before{
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb span.btn.btn-success{
  background-color: #47a447;
}
.common{
  background-color:#fff;
  padding-top:100px;
}
hr{
  margin-bottom:10px;
  margin-top:10px;
}
.seo-area li{
  float:left;
  width:100px;
  padding-right:10px;
}
.hot-link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.copy{
  font-size: 0.8em;
  text-align: center;
  color: #999;
  margin-top:10px;
  padding:10px 10px 10px 10px;
}
#hotel-list{
  padding-left:0px;
  padding-right:0px;  
}
.title{
  font-size:1.2em;
  margin-top:18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.isr{
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  background-color:#fff;
  margin-bottom:10px;
}
.search-btn{
  width:120px;
  height:40px;
}
.search .form-control{
  height:40px;
}
.search{
  margin-top:10%;
  margin-bottom:10%;
  background:rgba(0,0,0,0.3);
  border-radius: 5px;
  padding-top: 10px;
}
.booking-search{
  margin-top: 10%;
  margin-bottom:25%;
  background:rgba(0,0,0,0.3);
  border-radius: 5px;
  padding-top: 10px;
  text-align:center;
}
#recommend-hotels{
  margin-top:20px;
}
#recommend-hotels img{
  width:100%;
  height:100px; 
}
.rc-title{
  color:#0286a0;
  background-color:#e2f3f8;
  margin:0;
  padding:10px 10px;
}
.rc-hotel{
  padding:0px 0px;
}
.desc{
  display:none;
}
.comment{
  background-color:#fff;
  padding:10px 10px 10px 10px;
}
.content{
  color:#999;
}
.comment-title{
  font-size:1.3em;
  text-align:center;
}
.author{
  color:#47b2e2;
}
.sider-bar{
  background-color:#fff;
  padding:10px 10px;
  margin-bottom:10px;
}
.itr-head{
  font-size:1.2em;
  padding-left:10px;
  padding-right:10px;
}
.navbar-brand,
.navbar li a{
  line-height: 30px;
  height:30px;
  padding-top:10px;
}
.instr-img{
  padding-left: 0.5%;
  padding-right: 0.5%;
}
h2{
  font: 25px Microsoft Yahei;
  padding-left:5px;
}
.carousel-holder{
  margin-bottom: 30px;
}
.carousel-control,
.item{
  border-radius: 2px;
}
.more ul{
  padding-left:0.5%;
}
.more h2{
  font-size:0.9em;
  color:#999
}
.more a:first-child{
  padding-left:0.5%;
}
.more a{
  color: #999;
  font-size:0.8em;
}
.sitemap li{
  width:25%;
  float:left;
}
.sitemap h2{
  padding-left:0px;
}
.sitemap h2 a{
  padding-left:0px;
  font-size:1em;
  color:#000;
}
.sitemap li a{
  font-size:0.8em;
  color:#37e;
}
.caption{
  background: #fff;
  padding: 5px 9px 5px 9px;
}
.hotel-name{
  font-size: 1.2em;
  color: #0896ff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.com-overview{
  font-size:0.8em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dollor-sign{
  font-size:1em;
  color:#f00;
}
.price{
  color: #f00;
  font-size: 1.3em;
}
.location{
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address{
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.caption .hover-toggle-button span{
  font-size:0.8em;
  margin: 0 0 4px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.booking{
  margin: 0 0 4px 0;
}
.ratings a{
  color: #d17581;
}
.ratings{
  padding-right: 10px;
  padding-left: 10px;
  color:#fd5a46;
}
.thumbnail{
  padding: 10px 10px 10px 10px;
  border:0px;
}
.thumbnail .caption-full{
  color: #333;
}
.form-inline, .form-control, .input-group{
  margin-bottom: 2%;
}
.cus-padding{
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.addr{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.head{
  font-size:1.3em;
  margin-top:10px;
}
.footer-link{
  color: #999;
}
.landmark-desc{
  background-color:#fff;
}
hr{
  margin-bottom:0px;
  margin-top:5px;
}
.hotel-item{
  padding:10px 10px;
  background-color:#fff;
  margin-bottom:5px;
  border:1px solid #bec8d2;
}
.hotel-img{
  float:left;
}
.hotel-desc{
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hotel-comment{
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cities{
  margin:0 auto;
  text-align:center;
  display:block;
}
.city{   
  position: relative;   
  display: block;   
  float:left;
  height:200px;   
  width: 220px;  
  margin:10px 10px 10px 10px;
}
.city-img{
  width:220px;
  height:200px;
}
.city-desc{
  text-align:center;
  font-size:1.3em;
  background-color:rgba(0, 0, 0, 0.5);  
  color: #fff;   
  position: absolute;   
  bottom: 0px;   
  left: 0px;   
  width: 220px;   
  padding: 10px 0;   
}
.hot-desc{
  font-size: 0.9em;
  color: #777;
}
.cy-code{
  margin-left:2px;
  font-size:0.9em;
  color:#003580;
}
.landmark{
  font-size:0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description{
  background-color:#fff6df;
  padding:5px 5px 5px 5px;
  font-size:0.9em;
  margin-bottom:5px;
  color:#003580;
}
// Media Query
@media (max-width: 768px){
  .hotel-img{
    width:120px;
    height:120px;
  }
  .hotel-body{
    padding-left:130px;
    height:120px;
  }
  .footer{
    margin-top:5%;
    background-color: #fff;
  }
  .cus-padding{
    padding:0;
  }
  .thumbnail{
    margin-bottom:1px;
  }
  .instr{
    padding:80px 20px 30px 32px;
  }
  .title{
    text-align:center;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .hotel-img{
    width:150px;
    height:140px;
  }
  .hotel-body{
    padding-left:160px;
    height:150px;
  }
  .thumbnail > a img{
    width:100%;
    height:220px;
  }
  .footer{
    padding-top:10px;
    background-color: #fff;
  }
  .thumbnail{
    margin-bottom:1px;
  }
  .instr{
    background: #fff;
    padding:15px;
  }
  .navbar-header{
    width:300px;
  }
}
@media (min-width: 992px){
  .landmark-desc{
    margin-left:30px;
  }
  .hotel-img{
    width:200px;
    height:200px;
  }
  .hotel-body{
    padding-left:210px;
    height:200px;
  }
  .thumbnail > a img{
    width:100%;
    height:220px;
  }
  .footer{
    padding-top:20px;
    background-color: #fff;
  }
  .navbar-header{
    width:300px;
  }
}
.seo-article{
  padding-top:10px;
  background-color:#fff;
}
.star{
  color:#ffec50
}
