body {
  padding-top: 50px; 
  font-family:"Lato Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background: #f6f1e5 url(asset-path('bg_banner.jpg')) no-repeat center top
}
ul {
  list-style:none;
}
.isr {
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  background-color:#fff;
  margin-bottom:10px;
}
.search-btn {
  width:120px;
  height:40px;
}
.search .form-control {
  height:40px;
}
.search {
  margin-top: 25%;
  margin-bottom:25%;
  background:rgba(0,0,0,0.3);
  border-radius: 5px;
  padding-top: 10px;
}
.desc {
  display:none;
}
.comment {
  background-color:#fff;
  padding:10px 10px 10px 10px;
}
.content {
  color:#999;
}
.comment-title {
  font-size:1.2em;
  text-align:center;
}
.author{
  color:#47b2e2;
}
.sider-bar {
  background-color:#fff;
}
.sider-bar ul{
  padding: 10px 10px 10px 10px;
}
.itr-head {
  font-size:1.2em;
  padding-left:10px;
  padding-right:10px;
}
.navbar-brand,
.navbar li a {
  line-height: 30px;
  height:30px;
  padding-top:10px;
}
.instr-img {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
h2 {
  font: 25px Microsoft Yahei;
  padding-left:5px;
}
.carousel-holder {
  margin-bottom: 30px;
}
.carousel-control,
.item {
  border-radius: 2px;
}
.more ul {
  padding-left:0.5%;
}
.more h2 {
  font-size:0.9em;
  color:#999
}
.more a:first-child {
  padding-left:0.5%;
}
.more a {
  color: #999;
  font-size:0.8em;
}
.inner{
  float:left;
  padding-right:10px;
}
.sitemap li {
  width:25%;
  float:left;
}
.sitemap h2 {
  padding-left:0px;
}
.sitemap h2 a {
  padding-left:0px;
  font-size:1em;
  color:#000;
}
.sitemap li a {
  font-size:0.8em;
  color:#37e;
}
.caption {
  background: #fff;
  padding: 5px 9px 5px 9px;
}
.hotel-name {
  font-size: 1.2em;
  color: #0896ff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.phone {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.com-overview {
  font-size:0.8em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dollor-sign {
  font-size:1em;
  color:#f00;
}
.price {
  color: #f00;
  font-size: 1.3em;
}
.caption .location {
  font-size:0.9em;
  color: #999;
  margin:0 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.caption .address {
  font-size:0.9em;
  color: #999;
  white-space: nowrap;
  margin:0 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.caption .hover-toggle-button span {
  font-size:0.8em;
  margin: 0 0 4px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.caption .booking {
  margin: 0 0 4px 0;
}
.ratings a {
  color: #d17581;
}
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color:#fd5a46;
}
.thumbnail {
  padding: 0;
  border:0px;
}
.thumbnail .caption-full {
  color: #333;
}
.form-inline, .form-control, .input-group {
  margin-bottom: 2%;
}
.cus-padding {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.col-offset {
  margin-left: 10%;
}
.split {
  background-color:#fff;
  padding-top:1%;
  height:15px;
}
.addr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
address {
  margin-bottom:0px;
}
.hover-toggle-button span {
  width: 100px !important;
}
.head {
  font-size:1.3em;
}
.footer-link {
  font-size: 0.9em;
  color: #777;
}
.copy {
  font-size: 0.8em;
  text-align: center;
  color: #999;
}
.breadcrumb {
  margin-bottom:0px;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;

}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  margin-bottom: 3%;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb span.btn.btn-success {
  background-color: #47a447;
}

// Media Query
@media (max-width: 768px) {
  .title {
    font-size:1.2em;
    margin-top:10px;
    text-align:center;
  }
  .footer {
    margin-top:5%;
  }
  .cus-padding {
    padding:0;
  }
  .thumbnail {
    margin-bottom:1px;
  }
  .instr {
    padding:80px 20px 30px 32px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .thumbnail > a img {
    width:100%;
    height:220px;
  }
  .thumbnail {
    margin-bottom:1px;
  }
  .instr {
    background: #fff;
    padding:15px;
  }
  .navbar-header {
    width:300px;
  }
  .title {
    font-size:0.9em;
    margin-top:10px;
  }
}
@media (min-width: 992px) {
  .thumbnail > a img {
    width:100%;
    height:220px;
  }
  .footer {
    padding-top:20px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .navbar-header {
    width:300px;
  }
  .title {
    font-size:1.2em;
    margin-top:20px;
  }
}
