<div style="margin-top:10px">
  <ins class="bookingaff" data-aid="1142441" data-target_aid="897435" data-prod="nsb" data-width="250" data-height="250">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid=897435">Booking.com</a>
  </ins>
</div>
<script type="text/javascript">
(function(d, sc, u) {
  var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = u + '?v=' + (+new Date());
  p.parentNode.insertBefore(s,p);

})(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>
