<div class="footer">
  <div class="container seo-area">
    <div class="clearfix">
      <h3 class="head">友情链接</h3>
      <ul>
        <li><a class="footer-link" href="http://www.timlentse.com">台湾民宿</a></li>
      </ul>
    </div>
  </div>
</div>
