<div style="text-align:center;background-color:#fff">
  <script type="text/javascript">
var sogou_ad_id=534510;
var sogou_ad_height=90;
var sogou_ad_width=960;
  </script>
  <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

</div>
